<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="google-site-verification" content="aEX16uwKsmwIIxogwA_jTZ2Tz3aau9YvQdStPZLXWhg" />
	<title>Harvin Academy</title>
	<meta name="viewport" content="width=device-width">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.css">

</head>

<body>
	<header class="gradient-45deg-green-teal">

		<a href="#" data-activates="slide-out" class="button-collapse"><i id="menu-button" class="material-icons">menu</i></a>

		<ul id="slide-out" class="side-nav z-depth-3 ">
			<li>
				<div class="user-view">
					<a href="/admin"><h5 id="brand-logo">Harvin Academy</h5></a>
				</div>
			</li>

			<li><a href="/"><i class="material-icons white-text">web</i>WEBSITE</a></li>
			<li><a href="/admin/admissions/new"><i class="material-icons white-text">web</i>New Admission</a></li>
			<li><a href="/admin/db"><i class="material-icons white-text">description</i>Database</a> </li>
			<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li>
						<a class="collapsible-header">Insert in DB<i class="material-icons white-text">arrow_drop_down</i></a>
						<div class="collapsible-body center-align side-nav-collapsible-body">
							<ul>
								<li><a href="/admin/files/new">Upload File</a></li>
								<li><a href="/admin/subjects/new">Create Subjects</a></li>
								<li><a href="/admin/files/genlink">Generate Download Link For a file</a></li>
								<li><a href="/admin/videos">Upload Video</a></li>
								<li><a href="/admin/batches/updateBatch">Create Batch</a></li>
								<li><a href="/admin/exams/new">Set an Exam</a></li>
								<li><a href="/admin/questionBank/addNew">Add Question</a></li>
								<li><a href="/admin/questionBank/update">Update QB</a></li>
								<li><a href="/admin/assignment/new">New Assignment</a></li>
								<li><a href="/admin/db/gallery/upload">Upload Image</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
			<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li>
						<a class="collapsible-header">Students<i class="material-icons white-text">arrow_drop_down</i></a>
						<div class="collapsible-body center-align side-nav-collapsible-body">
							<ul>
								<li><a href="/admin/results">Results</a></li>
								<li><a href="/admin/results">Tests</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
			<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li>
						<a class="collapsible-header">Blog<i class="material-icons white-text">arrow_drop_down</i></a>
						<div class="collapsible-body center-align side-nav-collapsible-body">
							<ul>
								<li><a href="/admin/blog/new">New Post</a></li>
								<li><a href="/admin/blog/all">All Blogs</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
			<li class="no-padding">
				<li><a href="/admin/forum/newPost">Forum Post</a></li>

			</li>
			<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li>
						<a class="collapsible-header">Courses<i class="material-icons white-text">arrow_drop_down</i></a>
						<div class="collapsible-body center-align side-nav-collapsible-body">
							<ul>
								<li><a href="/admin/courses/new">Add A Courses</a></li>
								<li><a href="/admin/courses/all">All Courses</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</li>

			<%if(currentUser){%>
				<li class="no-padding">
						<ul class="collapsible collapsible-accordion">
							<li>
								<a class="collapsible-header">Centers<i class="material-icons white-text">arrow_drop_down</i></a>
								<div class="collapsible-body center-align side-nav-collapsible-body">
									<ul>
										<% if(centers){ %>
											<%centers.forEach(function(center){%>
												<%if(center.profile){%>
													<li><a href="/admin/centers/<%=center.username%>"
														<%if(currentUser.username == center.username){%>
															class="z-depth-5"
															<%}%>
														><%=center.profile.fullName%></a></li>
													<%}%>
											<%})%>
										<%}%>
										<li><a href="/admin/centers/new">Add Center</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</li>
				<%}%>


		</ul>
	</header>

	<% if(msg_error && msg_error.length > 0){ %>
		<span id="error-card">
					<%=msg_error%>
				</span>
		<% } %>

			<% if(msg_success && msg_success.length > 0){ %>

				<span id="success-card">
							<%=msg_success%>
						</span>

				<% } %>
