<html>

<head>
  <title>Harvin Academy</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-site-verification" content="eSPtYedDuFnn9GWxmT-OZJtAugNRnUJwuZ65y7JDPfE" />
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../css/materialize-social.css" type="text/css" rel="stylesheet"></link>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97403760-2"></script> -->
  <!-- <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-97403760-2');
    </script> -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72326343-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-72326343-1');
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7358139519857938",
      enable_page_level_ads: true
    });
  </script>
</head>

<body>

  <nav id="main-nav">
    <div id="nav-wrapper">
      <a href="/" id="harvin-logo-anchor">
        <img src="/images/harvin.png" id="harvin-logo" alt="Harvin Logo">
      </a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="/aboutus">About</a>
        </li>
        <li>
          <a href="/centers">Locations</a>
        </li>
        <li>
          <a href="/courses-list">Courses</a>
        </li>
        <li>
          <a href="/gallery">Gallery</a>
        </li>
        <!-- <li>
            <a href="/videos" >Videos</a>
          </li> -->
        <!-- <li>
          <a href="/downloads" >Downloads</a>
        </li> -->
        <li>
          <a href="/results">Results</a>
        </li>
        <li>
          <a href="/team">Our team</a>
        </li>
      </ul>
      <div class="hide-on-med-and-down" id="login-btn-wrapper">
        <a href="/admin/login" class="waves-effect waves-light btn" id="login-btn">Register / Login</a>
      </div>
      <ul class="side-nav side-nav-main" id="mobile-demo">
        <li>
          <h3 href="" class="brand-logo" id="brand-name">HARVIN ACADEMY</h3>
        </li>
        <br>
        <li>
          <a href="/aboutus" class="bordered-list">ABOUT</a>
        </li>
        <li>
          <a href="/centers" class="bordered-list">CENTERS</a>
        </li>
        <li>
          <a href="/courses-list" class="bordered-list">COURSES</a>
        </li>
        <li>
          <a href="/gallery" class="bordered-list">GALLERY</a>
        </li>
        <li>
          <a href="/videos" class="bordered-list">Videos</a>
        </li>
        <li>
          <a href="/downloads" class="bordered-list">Downloads</a>
        </li>
        <li>
          <a href="/results" class="bordered-list">RESULTS</a>
        </li>
        <li>
          <a href="/team" class="bordered-list">OUR TEAM</a>
        </li>

      </ul>
      <a href="#" data-activates="mobile-demo" class="button-collapse " id="sidebar-collapse" style="margin-top:5px;">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>

  <div class="container">
    <% if(msg_error && msg_error.length > 0){ %>
      <div class="alert alert-danger" role="alert">
        <p style="text-align:center">
          <%= msg_error %>
        </p>
      </div>
      <% } %>

        <% if(msg_success && msg_success.length > 0){ %>
          <div class="alert alert-success" role="alert">
            <p style="text-align:center">
              <%= msg_success %>
            </p>
          </div>
          <% } %>
  </div>