<footer class="page-footer ">
	<div class="section footer-section">

		<div class="row ">
			<div class="col l4 s12 offset-l1">

				<h5 class="white-text">Quick Links</h5>
				<hr>
				<br>
				<div class="row">
					<div class="col l6 s6 "><a href="/aboutus" class="white-text">WHY HARVIN?</a></div>
					<div class="col l6 s6 "><a href="/careers" class="white-text">CAREERS</a></div>
				</div>
				<div class="row">
					<!-- <div class="col l6 s6 "><a href="/privacy" class="white-text">PRIVACY POLICY</a></div> -->
					<div class="col l6 s6 "><a href="https://harvin.academy/blog" class="white-text">BLOG</a></div>
				</div>
				<div class="row">
					<div class="col l6 s6 "><a href="/tnc" class="white-text">T&amp;C</a></div>
					<div class="col l6 s6 "><a href="" class="white-text">NEWSLETTER</a></div>
				</div>
			</div>
			<div class="col l4 s12 offset-l2">

				<h5 class="white-text">Connect with us!</h5>
				<hr>
				<br>
				<div class="row">
					<div class="col l12">
					<a class="waves-effect waves-light" target="_blank" href="https://twitter.com/harvin_academy">
						<i class="small material-icons white-material">email</i></a>info@harvin.academy
						</div>
				</div>
				<div class="row">
					<div class="col l12">
					<a class="waves-effect waves-light" target="_blank" href="https://twitter.com/harvin_academy">
						<i class="small material-icons white-material">local_phone</i></a>011-42421480
						</div>
				</div>
				<div class="row">
					<div class="col s4">
						<a class="waves-effect waves-light social-icon btn twitter" target="_blank" href="https://twitter.com/harvin_academy">
							<i class="fa fa-twitter"></i></a>
					</div>
					<div class="col s4">
						<a class="waves-effect waves-light social-icon btn facebook" target="_blank" href="https://www.facebook.com/harvinacademy/?ref=br_rs">
							<i class="fa fa-facebook"></i></a>
					</div>
					<div class="col s4">
						<a class="waves-effect waves-light social-icon btn instagram" target="_blank" href="https://www.instagram.com/harvin.academy/">
              <i class="fa fa-instagram "></i></a>
					</div>
					<br>
				</div>
			</div>
		</div>

	</div>
	</div>
	</div>
	<div class="footer-copyright" id="foid">
		<div class="container">
			Made by
			<a class="brown-text text-lighten-3" href="http://materializecss.com">Harvin.ACA</a>
		</div>
	</div>
	<div id="stop" class="scrollTop">

    <span> <a class="">
			 <i class="large material-icons" style="color:#13b38b;">arrow_upward</i>
		 </a></span>
  </div>
</footer>
  </body>
</html>
