<footer class="page-footer" style="margin-top: 5em;">
	<div class="section footer-section">

		<div class="row container" style="margin: auto;">
			<div class="col l4 s12 offset-l1">

				<h5 class="white-text">Quick Links</h5>
				<hr>
				<br>
				<div class="row" style="margin: 1em auto auto auto;">
					<div class="col l6 s6 ">
						<a href="/aboutus" class="white-text">WHY HARVIN?</a>
					</div>
					<div class="col l6 s6 ">
						<a href="http://malik.ventures/career.html" class="white-text">CAREERS</a>
					</div>
				</div>
				<div class="row" style="margin: 1em auto auto auto;">
					<!-- <div class="col l6 s6 "><a href="/privacy" class="white-text">PRIVACY POLICY</a></div> -->
					<div class="col l6 s6 ">
						<a href="" class="white-text">NEWSLETTER</a>
					</div>
					<div class="col l6 s6 ">
						<a href="/blog" class="white-text">BLOG</a>
					</div>
				</div>
				<div class="row" style="margin: 1em auto auto auto;">
					<div class="col l6 s6 ">
						<a href="/tnc" class="white-text">T&amp;C</a>
					</div>
				</div>
			</div>
			<div class="col l4 s12 offset-l2">

				<h5 class="white-text">Connect with us!</h5>
				<hr>
				<br>
				<div class="row" style="margin: 1em auto auto auto;">
					<div class="col l12">
						<a class="waves-effect waves-light" target="_blank" href="https://twitter.com/harvin_academy">
							<i class="small material-icons white-material">email</i>
						</a>info@harvin.academy
					</div>
				</div>
				<div class="row" style="margin: 1em auto auto auto;">
					<div class="col l12">
						<a class="waves-effect waves-light" target="_blank" href="https://twitter.com/harvin_academy">
							<i class="small material-icons white-material">local_phone</i>
						</a>8470933206
					</div>
				</div>
				<div class="row" style="margin: 4em auto auto auto;">
					<div class="col s3">
						<a class="waves-effect waves-light social-icon btn twitter" target="_blank" href="https://twitter.com/harvin_academy">
							<i class="fa fa-twitter"></i>
						</a>
					</div>
					<div class="col s3">
						<a class="waves-effect waves-light social-icon btn facebook" target="_blank" href="https://www.facebook.com/harvinacademy/?ref=br_rs">
							<i class="fa fa-facebook"></i>
						</a>
					</div>
					<div class="col s3">
						<a class="waves-effect waves-light social-icon btn instagram" target="_blank" href="https://www.instagram.com/harvin.academy/">
							<i class="fa fa-instagram "></i>
						</a>
					</div>
					<div class="col s3">
						<a class="waves-effect waves-light social-icon btn instagram" target="_blank" href="https://www.linkedin.com/company/5045882/">
							<i class="fa fa-linkedIn "></i>
						</a>
					</div>
					<br>
				</div>
			</div>
		</div>

	</div>
	</div>
	</div>
	<div class="footer-copyright" id="foid">
		<div class="container">
			Made by
			<a class="brown-text text-lighten-3" href="http://materializecss.com">Harvin.ACA</a>
		</div>
	</div>
	<div id="stop" class="scrollTop">
		<span>
			<a class="btn-floating btn-small">
				<i class="large material-icons">arrow_upward</i>
			</a>
		</span>
	</div>
	<script type="text/javascript">
		var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
		(function () {
			var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
			s1.async = true;
			s1.src = 'https://embed.tawk.to/5b3b33c94af8e57442dc492d/default';
			s1.charset = 'UTF-8';
			s1.setAttribute('crossorigin', '*');
			s0.parentNode.insertBefore(s1, s0);
		})();
	</script>
	<!-- Facebook Pixel Code -->
	<script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
				n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
			n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '967622886710209');
		fbq('track', 'PageView');
	</script>
	<noscript>
		<img height="1" width="1" src="https://www.facebook.com/tr?id=967622886710209&ev=PageView
				&noscript=1" />
	</noscript>
	<!-- End Facebook Pixel Code -->
</footer>
</body>

</html>