<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- CSS  -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="../css/materialize-social.css" type="text/css" rel="stylesheet"></link>
</div>




<nav id="navbar" class="z-depth-2">
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="/vms/centers/janakpuri" class="">Center 1</a></li>
    <li class="divider"></li>
    <li><a href="/vms/centers/preetvihar" class="">Center 2</a></li>
    <li class="divider"></li>
    <li><a href="#!" class="">Center 3</a></li>
  </ul>
  <div class="nav-wrapper">
    <a href="/vms" class="brand-logo">Harvin Academy</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/vms/aboutus">About</a></li>
      <li> <a class='dropdown-button' href='#' data-activates='dropdown1'>Centers</a>
      </li>
      <li><a href="/vms/courses">Courses</a></li>
      <li><a href="/vms/gallery">Gallery</a></li>
      <li><a href="/vms/results">Results</a></li>
      <li><a href="/vms/faculty">Our Faculty</a></li>
    </ul>
    <ul class="side-nav side-nav-main" id="mobile-demo">
      <li>
        <h3 href="/vms" class="brand-logo">MENU</h3></li>
      <br>
      <li><a href="/vms/aboutus" class="bordered-list">ABOUT</a></li>
      <!-- <li>  <a class='dropdown-button bordered-list' href='#' data-activates='dropdown1'>CENTERS</a></li>-->
      <li><a href="/vms/courses" class="bordered-list">COURSES</a></li>
      <li><a href="/vms/gallery" class="bordered-list">GALLERY</a></li>
      <li><a href="/vms/results" class="bordered-list">RESULTS</a></li>
      <li><a href="/vms/faculty" class="bordered-list">OUR TEAM</a></li>
      <div class="contact_box">
        <div class="row">
          <div class="col l12">
            <a class="waves-effect waves-light" target="_blank" href="https://twitter.com/harvin_academy">
            <i class="small material-icons ">email</i></a>Email@email.com
          </div>
          <div class="col l12">
            <a class="waves-effect waves-light" target="_blank" href="https://twitter.com/harvin_academy">
            <i class="small material-icons ">local_phone</i></a>99999999
          </div>
        </div>
      </div>
    </ul>
  </div>
</nav>
