
input{
    width: 60%;
    box-shadow: 2px #13b38b;
    outline: 2px #13b38b;
}
input[type=text]{
    font-size:20px;
}
input[type=password]{
    font-size:20px;
}
.imageLogo{
    margin-left: 40%;
    width:20%;
    /* position: absolute; */
    /* top:10% */
}
.mainGrid{
    padding: 3%;
    width: 57%;
    margin: 0px auto;
    border: 2px solid #2ab48b;
}
.logoHolder{
    
}