.container{
    width: 80%;
    margin: 0px auto;
    /* background-color: aliceblue */
}
.bannerImage{
    width: 100vw;
    height: 60vh;
}
.center{
    /* width: 100%; */
    margin: 0px auto;
    /* display: inline-block; */
}
body{
    background-color: white;
}

.gridMain{
    display: grid;
  height: 100px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px;
}
button{
    margin: 2%;
    background-color: white;
    width: 50%;
    height: 35%;
    font-size: 2.3vh;
    border: 2px solid ;
    border-radius: 20px;
    border-color: #29b38a;
}
button:hover{
    background-color: #29b38a;
    color: white;
}
td,th{
    width:30%;
    border-left:2px solid #29b38a;
}
td{
    border:none;
}
table{
    border-collapse: collapse;
    font-size: 2vh;
}
tr{
    border: 2px solid #29b38a;
    width:95%;
}
.mainHeadRow{
    border-top: 2px solid #29b38a;
    border-bottom: 2px solid #29b38a;
    border-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
}
.tableHead{
    border-left: 1px solid #29b38a ;
}
td{
    text-align: center;
}
.divButton {
    /* float: left; */
    /* display: inline-block */
}

.leftBorder{
    border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
}
.rightBorder{
    border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
}
.footer{
    height: 30vh;
    background-color: black;
    margin-top: 5vh;
    padding-top: 5vh;
}

.footerLogoImg{
    width: 7vh;
    height: 7vh;
    margin: 2vh;
}
.footerLogo{
    width: 33vh;
    margin: 0px auto;
}
.footerText{
   width: 11vh;
   text-align: center;
   float: left;
   margin: 0px auto;
}
.footerTextHolder{
    width: 33vh;
   margin: 0px auto;
}

table tr:last-child td:first-child {
    /* border:2px solid #29b38a;
    border-bottom-left-radius: 10px; */
}

@media only screen and (max-width: 600px) {
    button{
        width: 100%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    button{
        width: 80%;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    button{
        width: 60%;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
