
div.myInput div.form-group-options:last-child div.input-group-option span.input-group-addon-remove{
    display: none;
}

div.myInput div.form-group-options:last-child div.input-group-option input.form-control{
    border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

div.input-group-option span.input-group-addon-remove{
	cursor: pointer;
}

div.input-group-option{
    margin-bottom: 3px;
}
