.section-background {
  background: url(./../images/1J5A2894.JPG) no-repeat;
  background-position: center 80%;
  background-repeat: no-repeat;
  background-size: cover;
  height:50%;


}

.banner-text {
  background: rgba(0,0,0,0.2);
  color:white ;
    padding: 20px;
}
p,body > main > div:nth-child(2) > div > div > div > blockquote > ul,.card-title,body > main > div > div > div > div > div > div > ul{
  line-height: 1.5 !important;
  color:grey;
}
