#main-section {
  /* padding: 0 10%; */
}


@media only screen and (max-width: 600px) {
  /* #top-nav{
   background-color: red;
   width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 0px);
  grid-gap: 10px; 
  } */
  /* nav ul a, nav .brand-logo {
    font-size: 12px;
  }
  li {
    list-style-type: none;
    font-size: 12px;
    
  } */
  #top-nav {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, auto));
    grid-auto-rows: minmax(10vh, 55px);
    }
  }



nav ul a, nav .brand-logo{
color: white;
}

nav ul a, nav .brand-logo{
  font-weight: bold;
  font-size: small;
}

nav ul a:hover{
color:rgba(255, 255, 255, 0.27)

}
.row .container{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    }
#top-search {
  background: #5ee0c0;
  width: 20%;
  height: 100%;
  color: white;
  border: none;
  float: right;
  padding-left: 20px;
}
.nav-wrapper{
color:white;
background-color: #13b38b;
}
#top-search[type=text] {
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

#top-search::placeholder {
  color: white
}
#main-ruler{background-color: #5ee0c0;height: 4px;border:  none;}

#banner-container {
  height: 60%;
  border: #5ee0c0 5px solid;
  margin: 24px 0;
}
.dark-font{color: #565656;font-weight:  500;margin: 0;}
#news-letter-card{background-color: #f7f7f7;margin: 0 auto;padding: 20px 40px;}
.carousel{
height: 100% !important;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
}

.grid{
display: grid;
 /* grid-column-gap: 112px; */
grid-template-columns: 55% auto 37.5%;
}
.popular-section-col{grid-column: 1/2;}
.news-letter-col{grid-column: 3/4;align-self:  center;}
.latest-post-grid{display: grid;grid-template-columns: 40% auto 55%;margin: 20px auto;grid-template-rows:  33% 33% 33%;}
.latest-post-info{grid-column: 3/4;}
.latest-post-image{grid-column: 1/2;max-height: 400px;min-height: 250px;}
.popular-post-grid{display: grid;grid-template-columns: 40% auto 55%;margin: 20px auto;}
.popular-post-info{grid-column: 3/4;}
.popular-post-image{
grid-column: 1/2;
}
