.blog-area {
  margin-left: 30px;
  padding-right: 0px !important;
}

.blog-title {
  font-family: "Open Sans', sans-serif !important";
}

.content {
  width: inherit;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-title{
  text-transform: uppercase;
}

aside{
  margin-left: 60px !important;
}

#related-post-card{
  min-height: 380px;
}
