.blog-area {
  margin-left: 30px;
  padding-right: 0px !important;
}

.blog-title {
  font-family: "Open Sans', sans-serif !important";
}

.blog-cover {
  display: block;
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
}
