
nav .nav-wrapper,nav ul a{

    color:white ;
    background-color:#13b38b;

}
nav .brand-logo{
  color:white;
}
main{  color:white  ;
  background-color:#13b38b;

}
.nav-wrapper{
margin-bottom: 10px;
}


h2,h3,h4,h5{
color: white;
}

.tabs .indicator{
  background-color: white;
}
.button-collapse{
  color: white;
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
  nav ul a, nav .brand-logo .side-nav-main{
      background-color: white;
      color:#13b38b;

    }
    .contact-box{  background-color: white;
      color:#13b38b;


    }
    .small-svg{
      height:40%;
    }
    #mobile-demo > li:nth-child(1) > h3{
      background-color: white;
      color:#13b38b;

    }

    #mobile-demo > div > div > *{
color:#13b38b;
    }

    .button-collapse{
      color:white;
    }
    .svg-content{
      /*display: none;*/
    }


}

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {

}
.divider{
background-color: #13b38b;

}
.dropdown-content li > a, .dropdown-content li > span{
  color:white;
}

.dropdown-content li > a:hover, .dropdown-content li > span{
  color:white;
  background-color: #13b3ab;
}
.svg-image{
  max-height:400px;
  max-width:400px;
}
.svg-content{
  position: relative;
}
#layer1 {
position:absolute;
z-index:auto;
height:100%;
width: 100%;
}
#layer2 {
position:absolute;
z-index:1;

height:100%;
width: 100%;

}
#layer3 {
position:absolute;
z-index:2;

height:100%;
width: 100%;

}

#layer4 {
position:absolute;
z-index:3;

height:100%;
width: 100%;

}    @keyframes  back-circle-rotation {
      0% {
        transform: rotate(0deg);
      }
      /*33.33% {
        transform: rotate(120deg);
      }
      66.66% {
        transform: rotate(240deg);
      }*/

      100% {
        transform: rotate(360deg);
      }
    }

    @-moz-keyframes  back-circle-rotation {
      33.33% {
        -moz-transform: rotate(0deg);
      }
      0% {
        -moz-transform: rotate(360deg);
      }
      100% {
        -moz-transform: rotate(360deg);
      }
    }

.back-circle{
transform-origin: 50% 50% !important;
-moz-transform-origin: 50% 50% !important;
animation: back-circle-rotation 10s linear infinite;
-moz-animation: back-circle-rotation 3s ease-in  infinite;
}
