.card{
  margin: 15% 0 0 0;
}

.card#xy {
  margin: -8px;
  max-height: 300px;
  background-position: top center;
  background: url("/images/icon-white.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-content {
  background-color: #13b38b;
  background: -webkit-linear-gradient(-45deg, #10838b, #13b38b);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-45deg, #10b38b, #13b38b);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-45deg, #10b38b, #13b38b);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(-45deg, #00b38b, #13b38b);
  /* Standard syntax */
}

img {

  object-fit: cover;
  vertical-align: middle;

}

/* label color */

input {
  border-bottom: 1px solid white;
  color: #ffffff;


}

.input-field {
  color: white;
}

.input-field label {
  color: #ffffff;
  border-bottom: white;
}

/* label focus color */

.input-field input[type=text]:focus+label {
  color: #ffffff;
}

/* label underline focus color */

.input-field input[type=text]:focus {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}

/* valid color */

.input-field input[type=text].valid {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}

/* invalid color */

.input-field input[type=text].invalid {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}

/* icon prefix focus color */

.input-field .prefix.active {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;

}

label {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}

.row .col{
  padding: 0;
}

#loginSpan{
  width: inherit;
}

#loginButton{
  margin-left: 10px;
  margin-right: 10px;
}
