.green-tabs {
  background-color: #13b38b;
  color: white;
}

/*
#navbar > div{
  background-color:#13b38b;
  color:white;}*/

nav ul a, nav .brand-logo {
  background-color: #13b38b;
  color: white;
}

.tabs .tab a, .tabs .tab a.active, .tabs .tab a:hover.active, .tabs .tab a:hover {
  color: white;
}

nav .nav-wrapper {
  background-color: #13b38b;
  color: white;
}

.tabs .indicator {
  background-color: white;
}

body {
  background-color: #13b38b;
  color: white;
}

.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 10px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3)
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  nav ul a, nav .brand-logo .side-nav-main {
    background-color: white;
    color: #13b38b;
  }
  .contact-box {
    background-color: white;
    color: #13b38b;
  }
  #mobile-demo>li:nth-child(1)>h3 {
    background-color: white;
    color: #13b38b;
  }
  #mobile-demo>div>div>* {
    color: #13b38b;
  }
  .button-collapse {
    color: white;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {}

.divider {
  background-color: #13b38b;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: white;
}

.dropdown-content li>a:hover, .dropdown-content li>span {
  color: white;
  background-color: #13b3ab;
}
.chip{
  background-color: #13b38b;
  color:white;
}
.active-chip-rev{
  background-color:white;
  color:#13b38b;
}

.active-chip-rev:hover{
  background-color:white;
  color:#13b38b;
}
