/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
  font-family: bebasneue;
  src: url(./../fonts/BebasNeue/BebasNeue.otf);
}

.sandbox-correct-pronounciation {
  padding: 10em 0 10em 0;
}
@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

#nav-logo {
  height: 70%;
  width: 70px;
  float: left;
  margin: 20px;
  margin-right: 15%;
  margin-left: 8%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #nav-logo {
    margin-right: auto;
  }

  #feature-utilities {
    margin-top: 10px;
  }
}

nav ul a,
nav .brand-logo {
  color: #13b38b;
}

.bold {
  font-weight: bold;
}

p {
  line-height: 2rem;
}

td > p {
  line-height: normal;
}
.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
  width: 100%;
}
table {
  border: #d3d3d3 1px solid !important;
}
td {
  border: #d3d3d3 1px solid !important;
}
@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

nav ul a,
nav .brand-logo {
  color: #13b38b;
}

.nav-wrapper1 {
  background-color: white;
  color: #13b38b;
}

.fa-facebook {
  margin: 4px;
}

@media only screen and (max-width: 400px) {
  nav ul a,
  nav .brand-logo {
    color: #13b38b;
    left: 50%;
    font-size: 10px;
  }
}

.btn.social-icon,
.btn-large.social-icon,
.col.social-icon {
  background: transparent !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

.social-color {
  background-color: #26a69a !important;
}

.btn-floating {
  background-color: #13b38b !important;
}

/* Portrait and Landscape */

@media only screen and (min-width: 950px) {
  nav ul a,
  nav .brand-logo {
    color: #000000b0;
    left: 5%;
  }
}
.active-link > a {
  color: white !important;
  background-color: #0d9976 !important;
}

blockquote {
  border-left: 5px solid #13b38b;
}

.border-2 {
  border: 2px solid #13b38b;
  height: 100px !important;
  width: 100px;
}

* {
  font-family: "Open Sans", sans-serif;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  nav ul a,
  nav .brand-logo {
    font-size: 16px;
  }
}
.white-material {
  color: white;
  margin-right: 20px;
}

.testimonial-card-image {
  padding: 20% 0% !important;
}

.testimonial-card-image-holder {
  padding: 5% 0% !important;
}

.bordered-list {
  border-bottom: 1px solid #e6e6e6;
  padding: 0px !important;
  margin: 5px 32px;
  text-align: left;
  color: #13b38b !important;
}

.contact_box {
  position: absolute;
  bottom: 10%;
}

.page-footer {
  background-color: #13b38b;
  color: white;
}

.active-chip {
  background-color: #13b38b;
  color: white !important;
}

.active-chip:hover {
  background-color: #13b38b;
  color: white;
}

h2,
h3,
h4,
h5 {
  color: #13b38b;
}

.white-h3 {
  color: white;
}

.harvinTheme {
  background-color: #13b38b;
  color: white;
}

.harvinThemeText {
  color: #13b38b;
}

.welcome {
  margin-bottom: 0px;
}

.logoText {
  font-family: bebasneue;
  letter-spacing: 9px;
  transform: scale(1, 1.3);
}

.harvinLogoImg {
  height: 120px;
}

.harvinFeature {
  background-color: white;
}

.footer-section {
  margin-bottom: 0;
}

.scrollTop {
  position: fixed;
  right: 60px;
  bottom: 4%;
  opacity: 0;
  padding: 20px;
  z-index: 1000;
  transition: all 0.4s ease-in-out 0s;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
}

.side-nav-main {
  z-index: 100000;
}
/*SCROLL BAR/

/* width */
::-webkit-scrollbar {
  width: 6px;
}

#thrd-section::-webkit-scrollbar {
  height: 0;
}

#thrd-section::-webkit-scrollbar-track {
  background-color: white;
}
#popular-blogs-wrapper::-webkit-scrollbar {
  height: 0;
}

#popular-blogs-wrapper::-webkit-scrollbar-track {
  background-color: white;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a7a5a5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#mc_embed_signup input.button {
  width: 60% !important;
  background-color: #13b38b;
}
#nav-mobile > li > p {
  margin: 0px 20px;
}

.top-most {
  background-color: #13b38b;
  color: white;
}
@media only screen and (min-width: 601px) {
  nav {
    height: 48px;
    line-height: 48px;
    box-shadow: none;
  }
}
nav ul a {
  font-size: 1.1rem;
  font-weight: 500;
}
.info-nav {
  height: 4em;
  position: absolute;
  top: 0;
}
.landing-col {
  background: url(/images/hero01.jpg);
  height: -webkit-fill-available;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: cover;
  justify-content: center;
}

.top-container {
  /* height: 80%; */
}
.heading-correct-pronounciation {
  margin: auto;
  margin-top: 30%;
  line-height: 1.5em;
  text-align: center;
}
#premier {
  color: white;
  margin-top: -10px;
}
h1 {
  color: white;
  font-family: "Cardo", serif;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
}
em {
  font-family: "Montserrat", serif;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style: normal;
  margin: 10px;
  text-shadow: 0.07em 0.07em 0 rgba(255, 255, 255, 0.2);
}
#upcoming {
  color: #7e7d7d;
  font-weight: 500;
}
#upcoming-card {
  display: flex;
  background: url("/images/hero01.jpg");
  min-height: 400px;
  flex-direction: column;
}
#upcoming-overlay {
  text-align: start;
  background: #d3d3d3cc;
  align-self: right;
  /* flex-grow: 1; */
  margin-top: auto;
  padding: 5px 15px;
}
#important-dates {
  display: flex;
  flex-direction: column;
}
.important-dates-p {
  text-align: left;
  line-height: 1.5rem;
  font-size: initial;
  margin: 0px 5px;
}
.dates {
  margin: 15px;
  display: flex;
  flex-direction: row;
}
.dates-info {
  text-align: left;
}
#upcoming-info-heading {
  color: #5d5d5d;
  margin: 0px;
  font-weight: 600;
}
.important-dates-heading {
  margin: 0px 5px;
  color: white;
  margin-bottom: 5px;
}

.important-dates-p {
  color: white;
}
.section-heading {
  color: #7e7d7d;
  font-weight: 500;
}
.why-title {
  /*bottom: 50%;
  top: 50%;
  left: 50% !important;
  right: 50% !important; */
  color: #000000;
  max-width: 100%;
  /* padding: 24px; */
}
.milestones-section {
  background: url("/images/hero01.jpg");
}
.inverted-button {
  border-radius: 20px;
  border: #13b38b 1px solid;
  color: #13b38b;
  padding: 0 50px;
}

#first-section {
  background: url("/images/hero.jpg");
  /* background-color: #13b38b; */
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.harvin-heading-text {
  color: white !important;
  text-align: center;
}
#removeThisId > div:nth-child(2) > h2 {
  text-align: center;
}
#removeThisId > div:nth-child(2) > h2:after {
  content: "|";
  color: #fffb0099;
}
#removeThisId > div:nth-child(1) > h2:after {
  content: "|";
  color: #fffb0099;
}

.harvin-heading-text:last-of-type {
  padding: 20px;
}
.info-text-row {
  background: #13b38b21;
}

.info-text-section {
  color: #737373;
  margin: 0px 20px;
  text-align: center;
}

.inline-flex {
  display: inline-flex;
}
.yellow-material {
  color: #13b38b;
}
#harvin-card-panel {
  background: url(./../images/hero01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 40%;
  padding: 0;
}

.heading-correct-pronounciation {
  margin: auto;
  line-height: 1.5em;
}
.register-card-title {
  color: white;
  padding: 20px;
  margin-top: -100px;
  font-weight: 700;
  background-color: #13b38b;
}
#register-now-section {
  max-height: 400px;
  margin-bottom: 20px;
}

#register-now-card {
  width: 30%;
  margin-bottom: -312px;
  /* margin-right: 4%; */
  /* float: right; */
}

#blog-section {
  margin-bottom: 100px;
}

#nav-wrapper1 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#main-nav {
  background-color: white;
  color: black;
  height: 64px;
}

#nav-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: inherit;
  justify-items: center;
  align-items: center;
}

#login-btn-wrapper {
}

#login-btn {
  background-color: white;
  border: 1px solid #13b38b;
  color: #13b38b;
}

#harvin-logo {
  width: 50px;
}
#scnd-section::-webkit-scrollbar {
  height: 0;
}

#scnd-section::-webkit-scrollbar-track {
  background-color: white;
}

#scnd-section::-webkit-scrollbar-thumb {
}
#fst-section {
  overflow: hidden;
  /* height: calc(110vh - 64px); */
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  width: 85%;
}
#overlay {
  z-index: 1;
  background-color: rgba(26, 41, 30, 0.72);
  /* height: calc(110vh - 64px); */
  position: absolute;
  width: 100vw;
  max-width: 100%;
}

#overlay-features-section {
  z-index: 1;
  background-color: rgba(26, 41, 30, 0.72);
  /* height: calc(110vh - 64px); */
  position: absolute;
  width: 100vw;
  max-width: 100%;
}

#overlay-normal {
  z-index: 1;
  background-color: rgba(26, 41, 30, 0.72);
  /* height: calc(110vh - 64px); */
  position: absolute;
  width: 100vw;
  max-width: 100%;
}

#left-sec {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  z-index: 2;
  text-align: left;
}

#left-sec > h4,
h5 {
  color: white;
  /* font-weight: bold; */
  /* float: left; */
}

#left-sec > h4 {
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}
#right-sec {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  z-index: 2;
  grid-template-rows: auto auto;
}


#right-sec2 {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  z-index: 2;
  grid-template-rows: auto auto;
}


#hero-img {
  width: 100vw;
  margin: 0;
  position: absolute;
  max-width: 100%;
  /* height: calc(110vh - 64px); */
}

#hero-img-features-section {
  width: 100vw;
  margin: 0;
  position: absolute;
  max-width: 100%;
  /* height: calc(110vh - 64px); */
}

#passion-for-education {
  grid-column: 1/3;
  grid-row: 1/2;
  /* color: white */
  /* text-align: center; */
  padding: 5% 10%;
  /* padding-left: 10%; */
  /* padding-right: 10%; */
  background-color: rgb(226, 217, 217, 0.29);
}
#passion-for-education > h5,
#passion-for-education > p {
  font-weight: bold;
  color: white;
}

#passion-for-education > p {
  font-weight: bold;
}
#passion-for-education > h5 {
  /* color: white; */
  font-style: italic;
}

#passion-for-education > h5:before,
#passion-for-education > h5:after {
  color: #563a3a;
  content: '"';
}

#next-info {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
  /* font-style: bold; */
  margin: 0;
  background-color: #efeeee;
}

.my-icons {
  height: 70px;
}

#next-info > div > p:nth-child(2) {
  color: #515655;
  font-size: 20px;
  font-weight: bold;
}

#next-info > div > p:nth-child(4) {
  color: #717171;
  line-height: 1.5em;
}

#vid {
  grid-column: 2/3;
  grid-row: 2/3;
}

#vid > iframe {
  height: 100%;
  width: 100%;
}

@media screen and (max-device-height: 700px) {
  #next-info {
    display: none;
  }
  #vid {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
#scnd-section {
  overflow-x: scroll;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5em;
  min-width: 0;
  min-height: 0;
  margin-top: 50px;
}

#thrd-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5em;
  min-width: 0;
  min-height: 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.course-card {
  min-width: 0;
  overflow: hidden;
  /* grid-column: 1/2; */
}

/* #scnd-section > div:nth-child(1) */
#scnd-section > .features {
  text-align: center;
  min-width: 0;
  overflow: hidden;
}

@media screen and (max-device-width: 400px) {
  #popular-course-heading {
    /* grid-column: 1/2 !important; */
  }
  .course-card {
    min-width: 100vw;
    overflow: hidden;
  }
  #scnd-section > .features {
    min-width: 100vw;
  }
  #scnd-section {
    margin-left: 0;
    margin-right: 0;
  }
  .mapouter {
    display: none;
  }
  .course-card {
    min-width: 100vw;
    grid-row: 2/3;
  }
}
#scnd-section > .features > div > i:nth-child(1) {
  color: #13b38b;
  font-size: 4em;
}

#scnd-section > .features > div > p:nth-child(2) {
  color: #303130e6;
  font-size: 1.2em;
}

#scnd-section > .features > div > p:nth-child(3) {
  color: #8e928ee6;
  line-height: 2em;
}

#popular-course-heading {
  /* grid-column: 1/5; */
  /* margin-top: 50px; */
  justify-self: center;
  text-align: center;
}

#popular-course-heading > h4 {
  color: #303130e6;
  font-weight: bold;
}

#popular-course-heading > p {
  color: #8e928ee6;
  font-weight: bold;
}

#testimonials-overlay-content {
  text-align: center;
  z-index: 2;
  /* color: white */
}

#testimonials-overlay-content > h4 {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#testimonials-overlay-content > p {
  color: #ffffff9c;
}

#testimonials {
  display: grid;
  padding-top: 100px;
}
#overlay-testimonials-section {
  z-index: 1;
  background-color: rgba(18, 21, 18, 0.49);
  height: 55vh;
  position: absolute;
  width: 100%;
}

#testimonials-banner-img {
  width: 100vw;
  margin: 0;
  max-width: 100%;
  position: absolute;
  height: 55vh;
}

#feature-utilities {
  display: grid;
  padding: 30px;
  color: black;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr;
}

.mapouter {
  height: 400px;
  padding-bottom: 2em;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

iframe#gmap_canvas {
  width: 100%;
  height: 100%;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #feature-utilities {
    margin-top: 45px;
  }
}

/*  large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1800px) {
  #feature-utilities {
    margin-top: 200px;
  }
}

#testimonials-overlay-content > h4:nth-child(6) {
  color: black;
  font-weight: bold;
  margin-top: 100px;
}

#testimonials-overlay-content > p:nth-child(7) {
  color: #504f4f;
}

.fa.fa-quote-right {
  font-size: 60px;
}

#testimonials-overlay-content
  > div.carousel.carousel-slider.center.initialized {
  margin-top: 80px;
}

/*  large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 992px) {
  #harvin-logo-anchor {
    grid-column: 2/3;
  }

  #sidebar-collapse {
    grid-column: 1/2;
    grid-row: 1/1;
  }

  /* #nav-wrapper {
    grid-template-columns: 
  } */
}

.testimonial-text {
  padding-left: 200px;
  padding-right: 200px;
}

.testimonial-avatar {
  font-size: 100px;
}

#testimonials-wrapper  {
  height: 400px !important;
}

#testimonials-wrapper > .carousel-item > img {
  max-height: 150px;
  max-width: 150px;
}

#testimonials-wrapper > .indicators .indicator-item {
  background-color: #a8cec4;
}

#testimonials-wrapper > .indicators .indicator-item.active {
  background-color: #13b38b;
}

#daily-blogs {
  color: black;
}

.short-hr {
  width: 10vw;
}

#view-all-courses-btn {
  grid-column: 2/3;
}

#popular-blogs-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5em;
  min-width: 0;
  min-height: 0;
  overflow-x: scroll;
}

#view-all-blogs-btn {
  grid-column: 2/3;
}

.midium-hr {
  width: 100%;
}

.blog-title {
  color: #383636c9;
}

/* .blog-card-img-title{
  max-height: 400px;
} */

#download-app-section {
  /* margin-top: 150px; */
}

#nav-mobile > li > a:hover {
  color: #13b38b;
}

/* ------- for mobile------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #popular-blogs-wrapper {
    grid-gap: 2em;
  }

  .blog-card-img-title {
    max-height: 150px;
  }

  #register-now-card {
    width: 50%;
  }

  #fst-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    height: 134vh;
  }

  #scnd-section {
    grid-column-gap: 1em;
    width: 100vw;
    padding-left: 3%;
    padding-right: 3%;
  }

  #thrd-section {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    margin-left: 0;
    width: 100vw;
    margin-right: 0;
    padding-left: 3%;
    padding-right: 3%;
  }

  #left-sec {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
  }

  #right-sec {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  #right-sec2 {
    grid-column: 1/3;
    grid-row: 3/4;
  }


  #hero-img,
  #overlay {
    height: 135vh;
  }

  #testimonials {
    padding-top: 50px;
  }

  #feature-utilities {
    padding: 15px;
    margin-top: 90px;
  }

  #testimonials-overlay-content
    > div.carousel.carousel-slider.center.initialized {
    margin-top: 40px;
  }

  .testimonial-text {
    padding-left: 50px;
    padding-right: 50px;
  }

  .important-dates-heading {
    margin: 0px 5px;
    color: white;
    margin-bottom: 5px;
    font-size: 1.3em;
  }

  .important-dates-p {
    color: white;
    font-size: 1em;
  }

  .dates > i {
    font-size: 4em;
  }

  #hero-img-features-section,
  #overlay-features-section {
    height: 100vh;
  }

  #download-app-section {
    margin-top: 60px;
    height: 90vh;
  }

  #register-now-section {
    grid-gap: 1em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  #download-app-section {
    /* margin-top: 350px; */
    /* height: calc(100vh - 64px); */
  }
}
div.card-action.left > a {
  color: black;
  font-weight: 800;
}

@media only screen and (min-width: 600px) and (max-width: 733px) {
  #thrd-section {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
  }
  .course-card-title {
    font-size: 1.5em !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 734px) and (max-width: 992px) {
  #thrd-section {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  #thrd-section {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5em;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1366px) {
  #thrd-section {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3em;
  }
}

#download-links {
  display: flex;
  justify-content: center;
}

#download-links > img {
  z-index: 2;
}

@media only screen and (max-width: 1400px) {
  
  .important-dates-heading {
    font-size: 1.2em;
  }

  .important-dates-p {
    font-size: 0.9em;
  }

}

@media only screen and (max-width: 437px) {

  #passion-for-education > div.carousel {
    height: 380px !important;
  }

  #passion-for-education .carousel .carousel-item {
    max-height: 380px !important;
  }
}

@media only screen and (min-width: 437px) {

  #passion-for-education > div.carousel {
    height: 330px !important;
  }

  #passion-for-education .carousel .carousel-item {
    max-height: 330px !important;
  }
}


@media only screen and (min-width: 601px) and (max-width: 649px) {

  #passion-for-education > div.carousel {
    height: 420px !important;
  }

  #passion-for-education .carousel .carousel-item {
    max-height: 420px !important;
  }
}


@media only screen and (min-width: 650px) {

  #passion-for-education > div.carousel {
    height: 330px !important;
  }

  #passion-for-education .carousel .carousel-item {
    max-height: 330px !important;
  }
}


@media only screen and (min-width: 890px) {

  #passion-for-education > div.carousel {
    height: 300px !important;
  }

  #passion-for-education .carousel .carousel-item {
    max-height: 300px !important;
  }
}

@media only screen and (min-width: 1010px) {

  #passion-for-education > div.carousel {
    height: 260px !important;
  }

  #passion-for-education .carousel .carousel-item {
    max-height: 260px !important;
  }
}

@media only screen and (min-width: 1201px) {

  #passion-for-education > div.carousel {
    height: 270px !important;
  }

  #passion-for-education .carousel .carousel-item {
    max-height: 270px !important;
  }
}

@media only screen and (min-width: 1301px) {

  #passion-for-education > div.carousel {
    height: 250px !important;
  }

  #passion-for-education .carousel .carousel-item {
    max-height: 250px !important;
  }
}

#fst-section-main{ 
  background: url(./../images/hero.jpg); 
  background-repeat: no-repeat; 
  background-size: cover; 
  width:100vw; 
  max-width: 100%; 
}
 
#download-app-section{
  background: url(./../images/1J5A2947.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* .testimonialImg{
  border:2px solid grey;
} */

/* 
.carousel .carousel-slider .carousel-item{
  min-height: 200px !important;
}

#testimonials-wrapper > div.carousel-item {
  min-height: 200px !important;

} */