.float-btn{
  text-align: center;
}
html,body{

height:100%;
margin:0;
}

.btn-floating{

background-color: #13b38b !important;

}
a#menu{
  left:80%;
}
@media only screen and (min-width: 697px){

        #explore{
          right:-18% ;

        }

  .btn-floating{
  /*position: absolute;
  top:85%;
  left:60%;*/
  }

  #carousel1{
    height:50% !important;


  }

.visitor-button{
  /*left:35% !important;*/
}
}
.visitor-button{
  /*left:35% !important;*/
}
.landing-container{
  height:100%;
  position: relative;
  background:url(./../img/landing_page_icon.png);
  background-position:center center ;
  background-repeat: no-repeat;
  background-size: contain;
}
.carousel{
  background: #13b38b !important;
}
@media only screen and (max-width:400px){

}
#explore{

  font-size: large;
  /*top: 75%;
  position: absolute;
  transform: translate(6px,5px);
  right:9% ;
  */
}
#register{
  /*position: absolute;*/
/*top: 75%;*/
font-size: large;
display: inline;
position: relative !important;

/*transform: translate(-9px,5px);*/

}
.pulsate{
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count:infinite;
  opacity: 0.5;

}
.pulse{
  display:block;
  margin:auto;
  -webkit-animation: pulse 2s ease-out ;
  -webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes pulse {
  0% {
    text-shadow: 0px 0px rgba(204,169,44, 0.6);
  }
  25% {
      text-shadow: 1px 1px 1px rgba(204,169,44, 0.6);
  }

  50% {
      text-shadow: 2px 2px 2 px rgba(204,169,44, 0.6);
  }

  75% {
      text-shadow: 3px 3px 3px rgba(204,169,44,0.6);
  }
  100% {
      text-shadow: 4px 4px 4px rgba(204,169,44,0.6);
  }
}

  @-webkit-keyframes pulsate {
    0%{opacity: 0.5;}
    50%{opacity: 1.0;}
    100%{opacity: 0.5;}
  }
*{
    font-family: 'Montserrat', sans-serif;
}
.btn-text-container{
  position: relative;
  width: 100%;
  top: 75%;
}
.normal-blur{

  filter: blur(5px);
  -webkit-filter: blur(5px);
  transition: all 1000ms;
  z-index: 1;

}

.normal-blur:hover{

  filter: blur(0px);
  -webkit-filter: blur(0px);


}
/*
.tap-target-wrapper{
  height: 100px;
  width: 100px
}
.tap-target-wrapper.open{
  position: fixed !important;
  height:600px !important;
  width: 600px !important;

}
.tap-target-wrapper.open .tap-target{
  transform: scale(0.5);
}
.tap-target-origin{
transform: translate(-15px,-47px) !important;
}*/
