
.float-btn {
  text-align: center;
}

.heading-white {
  color: white;
}

.card-hover:hover {
  transform: scale(1.1);
  z-index: 2;
}

.card {
  transition: all 500ms ease-out;

}
.activator-image{
  transform:rotate(-90deg);
}

a#menu {
  left: 80%;
}

@media only screen and (min-width: 697px) {
  #explore {
    right: -18%;
  }
  .whyHarvinIcon{
    margin-left: -55px;
  }
  .container.carousel-container {
    width: 70% !important;
  }
  #first-section{
    /* min-height:100%; */
  }
  #hero-section{
    /*margin-top:6%;*/
  }

  .landing-container {

width:80%;

  }


}

@media only screen and (min-width: 1000px) {
#removeThisId > div:nth-child(2) > h2:after{
padding: 40px;
}

#removeThisId > div:nth-child(1) > h2:after{
padding: 40px;
}

}

#main-landing-section {
  height: 100%;
  width: 100%;
  /*position: relative;*/
  background: url(./../images/hero01.jpg);
  background-color:#f7f7f7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.advisory-card {
  height: 330px;
}

.carousel {
  background: #13b38b !important;
}

#explore {
  font-size: large;
}

#register {
  font-size: large;
  display: inline;
  position: relative !important;

}


.btn-text-container {
  position: relative;
  width: 100%;
  top: 25%;
  z-index: 105;
}
.whyHarvinContainer{
width: 100%;
 background-image: url(./../images/wh-07.svg);
background-repeat: no-repeat;
background-position: 50% 63%;
background-size: 20%;
}

.normal-blur {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  transition: all 1000ms;
  z-index: 1;
}

.normal-blur:hover {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.card .card-image img {
  max-height: 400px;
}

#content-parent {
  margin: 0;
  width: 100%;
  padding: 0;
  background-color: #13b38b;
  /*background-image:linear-gradient(#434343, #282828);*/
}

#content {
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.1) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.1) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.1) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.1) 76%, transparent 77%, transparent);
  background-size: 50px 50px;
}

.filler{
  background:#ddd;
    display:inline-block;
}
/*WAVESSSSSSSSSSSSSSSSSSSSSSSSS*/

.wave1, .wave2 {
  height: 30px;
  position: absolute;
  width: 100%;
  z-index: 12;
  left: 0;
  bottom: 0;
}

.wave1 {
  -webkit-animation: wave-animation1 8.7s infinite linear;
  /* Safari 4+ */
  -moz-animation: wave-animation1 8.7s infinite linear;
  /* Fx 5+ */
  -o-animation: wave-animation1 8.7s infinite linear;
  /* Opera 12+ */
  animation: wave-animation1 8.7s infinite linear;
  /* IE 10+ */
}

.wave2 {
  -webkit-animation: wave-animation1 6.3s infinite linear;
  /* Safari 4+ */
  -moz-animation: wave-animation1 6.3s infinite linear;
  /* Fx 5+ */
  -o-animation: wave-animation1 6.3s infinite linear;
  /* Opera 12+ */
  animation: wave-animation1 6.3s infinite linear;
  /* IE 10+ */
  background: red;
}

@-webkit-keyframes wave-animation1 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1601px 0;
  }
}

@-moz-keyframes wave-animation1 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1601px 0;
  }
}

@-o-keyframes wave-animation1 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1601px 0;
  }
}

@keyframes wave-animation1 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1601px 0;
  }
}

.wave1 {
  background: url('http://www.templates-preview.com/bootstrap-templates/300111854/images/wave1.png') 0 0 repeat-x;
}

.wave2 {
  background: url('http://www.templates-preview.com/bootstrap-templates/300111854/images/wave2.png') 0 0 repeat-x;
}
.student-result{
  color:white;
}

.svg-image{
  height:250px;
  max-height:400px;
  max-width:400px;
  width: inherit;

}
.svg-content{
  position: relative;
  cursor: pointer;


}
#layer1 {
position:absolute;
z-index:auto;

width: 100%;
}
#layer2 {
position:absolute;
z-index:1;


width: 100%;

}
#layer3 {
position:absolute;
z-index:2;


width: 100%;

}

#layer4 {
position:absolute;
z-index:3;


width: 100%;
cursor: pointer;
}
.tower{
  position:absolute;
  top: 50%;
  left:50%;
}
.aboutCourse{
padding-top: 250px;
  margin: 0 auto;
  text-align: center;

}
.aboutCourse>h4{

  font-weight: bold;
  cursor: pointer;

}

/*  zig-zag pattern             */
.container1 {
position: relative;
background-color:#13b38b;
margin:0px;
height:18%;
padding: 0;
}
.container1:after {
background: linear-gradient(-45deg, #13b38b 16px, transparent 0), linear-gradient(45deg, #13b38b 16px, transparent 0);
background-position: left-top;
background-repeat: repeat-x;
background-size: 32px 32px;
content: " ";
top:-20;
display: block;
position: absolute;
width: 100%;
height: 64px;
}


.logoTextContainer{
  position: relative;
  top: 35%;
}
.welcome-row{
  top:-10%;
}

.svg-image:after{
  cursor:pointer
}

#main-landing-section::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to right, #00f26000, #057fe6ff );
  height:100%;
  width: 100%;

}
.svg-row{
  width:inherit;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.nav-wrapper{position: fixed !important;width:100%;z-index:1000;height:64px !important;}
.results-col{
  margin-bottom: 20px;
}
.activator{
  padding:10px;
}

.landing-container-tint{
  height: inherit;
  widows: inherit;
  background: black;
  opacity: 0.6;
}
#first-section{
  background: url('/images/harvin_cover_background.jpg');
  background-color: #13b38b;
  background-size:  cover;
  background-position:  bottom;
  background-repeat: no-repeat;
  }
/***********/
@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);

.sandbox-correct-pronounciation {
  padding: 10em 0 10em 0;
}
.heading-correct-pronounciation {
  margin: auto;
  line-height: 1.5em;

}
h1 {
  color: white;
  font-family: 'Cardo', serif;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
}
em {
  font-family: 'Montserrat', serif;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style: normal;
  margin:10px;

  text-shadow: 0.07em 0.07em 0 rgba(255, 255, 255, 0.2  );
}
#premier{
color:white;
margin-top: -10px;
}

.bottom {
  font-size: 1.5em;
  letter-spacing: 0.07em;
  font-size: 1em;
}
/*****/



ul#horizontal-list {

	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;

	}
  ul#horizontal-list li a{
    color:white;
  }
  .btn{

  background-color: #13b38b;
    /*font-weight: bold;*/
    border-radius: 100px;
    font-size:14px;
  }
  #harvin-card-panel{
    background: url(./../images/hero01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    top:40%;
    padding:0;

  }
  .bot-card{
    min-height:250px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: white;
  }

  #removeThisId{
    margin-top: 0vh;
  }
  #bot-card1{
  }
  #bot-card2{
  }
  #bot-card3{
  }
  #bot-card4{
  }
  #logo-card{
    background: url(./../images/harvin.png);

    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;

    padding:10px;

  }
  #harvin-card-panel2{
    /* background: url(./../images/banner_5.png); */

    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    /*padding:100px 0px;*/

  }
  .headerDivider {

    border-left: 6px solid green;
    height: inherit;

  }
  #menu-outer {
    /*margin:0px;*/
  }
  .harvin-heading-text{
  color:white !important;
  text-align: center;
  }
#removeThisId > div:nth-child(2) > h2{
text-align: center;

}
#removeThisId > div:nth-child(2) > h2:after{content:'|';color: #fffb0099;}
#removeThisId > div:nth-child(1) > h2:after{content:'|';color: #fffb0099;}



  .harvin-heading-text:last-of-type{
  padding: 20px
  }
  .info-text-row{
  background: #13b38b21;
  }

  .info-text-section{
  color: #737373;
  margin: 0px 20px;
  text-align: center;
  }

.inline-flex{
display: inline-flex;
}
.yellow-material{color: #13b38b;}
