.float-btn {
  text-align: center;
}

.heading-white {
  color: white;
}

.card-hover:hover {
  transform: scale(1.1);
  z-index: 2;
}

.card {
  transition: all 500ms ease-out;

}


a#menu {
  left: 80%;
}

@media only screen and (min-width: 697px) {
  #explore {
    right: -18%;
  }
  .container.carousel-container {
    width: 70% !important;
  }
}

#main-landing-section {
  height: 90%;
  width: 100%;
  /*position: relative;*/
  background: url(./../img/landing_page_icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-container {
  height: 100%;
  /*position: relative;*/
}

.advisory-card {
  height: 330px;
}

.carousel {
  background: #13b38b !important;
}

#explore {
  font-size: large;
  /*top: 75%;
  position: absolute;
  transform: translate(6px,5px);
  right:9% ;
  */
}

#register {
  /*position: absolute;*/
  /*top: 75%;*/
  font-size: large;
  display: inline;
  position: relative !important;
  /*transform: translate(-9px,5px);*/
}

.pulsate {
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

.pulse {
  display: block;
  margin: auto;
  -webkit-animation: pulse 2s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  0% {
    text-shadow: 0px 0px rgba(204, 169, 44, 0.6);
  }
  25% {
    text-shadow: 1px 1px 1px rgba(204, 169, 44, 0.6);
  }
  50% {
    text-shadow: 2px 2px 2 px rgba(204, 169, 44, 0.6);
  }
  75% {
    text-shadow: 3px 3px 3px rgba(204, 169, 44, 0.6);
  }
  100% {
    text-shadow: 4px 4px 4px rgba(204, 169, 44, 0.6);
  }
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.5;
  }
}

.btn-text-container {
  position: relative;
  width: 100%;
  top: 65%;
}

.normal-blur {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  transition: all 1000ms;
  z-index: 1;
}

.normal-blur:hover {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.card .card-image img {
  max-height: 300px;
}
nav{
  background-color: white !important;
}
#content-parent {
  margin: 0;
  width: 100%;
  padding: 0;
  background-color: #13b38b;
  /*background-image:linear-gradient(#434343, #282828);*/
}

#content {
  background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.1) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.1) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0.1) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.1) 76%, transparent 77%, transparent);
  background-size: 50px 50px;
}

nav ul a, nav .brand-logo {
  color: #13b38b;
}
.filler{
  background:#ddd;
    display:inline-block;
}
/*WAVESSSSSSSSSSSSSSSSSSSSSSSSS*/

.wave1, .wave2 {
  height: 30px;
  position: absolute;
  width: 100%;
  z-index: 12;
  left: 0;
  bottom: 0;
}

.wave1 {
  -webkit-animation: wave-animation1 8.7s infinite linear;
  /* Safari 4+ */
  -moz-animation: wave-animation1 8.7s infinite linear;
  /* Fx 5+ */
  -o-animation: wave-animation1 8.7s infinite linear;
  /* Opera 12+ */
  animation: wave-animation1 8.7s infinite linear;
  /* IE 10+ */
}

.wave2 {
  -webkit-animation: wave-animation1 6.3s infinite linear;
  /* Safari 4+ */
  -moz-animation: wave-animation1 6.3s infinite linear;
  /* Fx 5+ */
  -o-animation: wave-animation1 6.3s infinite linear;
  /* Opera 12+ */
  animation: wave-animation1 6.3s infinite linear;
  /* IE 10+ */
  background: red;
}

@-webkit-keyframes wave-animation1 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1601px 0;
  }
}

@-moz-keyframes wave-animation1 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1601px 0;
  }
}

@-o-keyframes wave-animation1 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1601px 0;
  }
}

@keyframes wave-animation1 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1601px 0;
  }
}

.wave1 {
  background: url('http://www.templates-preview.com/bootstrap-templates/300111854/images/wave1.png') 0 0 repeat-x;
}

.wave2 {
  background: url('http://www.templates-preview.com/bootstrap-templates/300111854/images/wave2.png') 0 0 repeat-x;
}
.student-result{
  color:white;
}

.svg-image{
  max-height:400px;
  max-width:400px;
}
.svg-content{
  position: relative;
}
#layer1 {
position:absolute;
z-index:auto;
height:100%;
width: 100%;
}
#layer2 {
position:absolute;
z-index:1;

height:100%;
width: 100%;

}
#layer3 {
position:absolute;
z-index:2;

height:100%;
width: 100%;

}

#layer4 {
position:absolute;
z-index:3;

height:100%;
width: 100%;

}
.course-content{
  height:400px;
}
