<%include partials/website_header.ejs%>
  <link type="text/css" href="/css/aboutus.css" rel="stylesheet" media="screen,projection" />

  <main>
    <div class="section no-pad-bot section-background">


      <div class="row center">
        <br>
        <br>
        <div class="col l8 s12 m8 offset-l2 banner">
          <div class="banner-text">
            <h3 class="white-h3">HARVIN ACADEMY</h3>
            <h5 class="white-h3">The Premier institute for PMT|IIT-JEE</h5>
          </div>
        </div>
      </div>


    </div>
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">
          <div class="col l6 m6 s12 ">
            <h5 class="harvinThemeText">Our Mission</h5>
            <blockquote>

              <ul>
                <li>Our mission is to become the leader in educational sector with not only academic grooming but also with the services to satisfy students and keep them motivated. We want to keep up with the rapidly changing trends by blending technology with our teaching aids to take the best out of the student.</li>
              </ul>
            </blockquote>
          </div>
          <div class="col l6 m6 s12 ">
            <h5 class="harvinThemeText">Our Vision</h5>
            <blockquote>

              <ul>
                <li>We believe in the power of quality education and self-motivated student. Our motive is to transmit relevant and value-based education. We aspire to provide support in every aspect to trigger smart & fast learning among the student.</li>
              </ul>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">
          <div class="col l12 m12 s12 ">
            <div class="card">
              <div class="card-content">
<h4>WHY CHOOSE HARVIN?</h4>
 We at Harvin Academy believe in providing our students with the
foremost education. Harvin has highly qualified and trained faculty for its students, which holds
personal problem solving sessions as well. We provide an area for group discussion so that
your child can gain confidence while studying. Also, we offer an adequate supply of books and
sources for our students to choose from. At Harvin, we strive to contribute practical lab teaching
so that the student does not consider learning a tough task. Our faculty also believes in
providing a systematic and planned attitude towards teaching for our students to prepare in an
integrated manner. So, it’s the right time to feel the difference at Harvin Academy, which is a
pioneer of education.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container center-align">
      <h4 >OUR PARTNERS</h4>
      <div class="row">

        <div class="col s3 valign-wrapper partners">
          <a href="http://radixhealthcare.org/" target="_blank"><img class="responsive-img" src="/images/radix-01.png"></a>
        </div>
        <div class="col s3 valign-wrapper partners">
          <a href="http://innov8.work/" target="_blank"><img class="responsive-img" src="/images/innov8_logo.png"></a>
        </div>
        <div class="col s3 valign-wrapper partners">
            <a href="http://hostmud.com/" target="_blank"><img class="responsive-img" src="/images/HOST_MUD.png"></a>
        </div>
        <div class="col s3 valign-wrapper partners">
            <a href="http://projectguerrilla.com/" target="_blank"><img class="responsive-img" src="/images/pg-01.png"></a>
        </div>
      </div>
      <div class="row">
        <div class="col s3 valign-wrapper partners">
            <a href="http://woodappleresidency.com/" target="_blank"><img class="responsive-img" src="/images/woodapple-01.png"></a>
        </div>
        <div class="col s3 valign-wrapper partners">
            <a href="https://www.mashinga.com/" target="_blank"><img class="responsive-img" src="/images/mashinga-01.png"></a>
        </div>
        <div class="col s3 valign-wrapper partners">
            <a href="http://www.thinkpot.me/" target="_blank"><img class="responsive-img" src="/images/thinkpot-01.png"></a>
        </div>
      </div>
    </div>



  </main>

  <%include partials/website_footer.ejs%>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>
