<%include partials/website_header.ejs%>
  <link type="text/css" href="/css/aboutus.css" rel="stylesheet" media="screen,projection" />

  <main>
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <div class="col l8 s12 m8 offset-l2 banner">
            <div class="banner-text">
              <h5>Premium Workspace Designed To Help You Create and Innovate.</h3>
          <p >We are here to reinvent the Indian startup space.</p>
            </div>
          </div>
        </div>
      </div>
    </div>



</main>

<%include partials/website_footer.ejs%>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../js/materialize.js"></script>
<script src="../js/init.js"></script>
