<%include partials/website_header.ejs%>
  <link type="text/css" href="/css/aboutus.css" rel="stylesheet" media="screen,projection" />

  <main>
    <div class="section no-pad-bot section-background">

      <div class="row center">
        <br>
        <br>
        <div class="col l8 s12 m8 offset-l2 banner">
          <div class="banner-text">
            <h3 class="white-h3">Passion For Education</h3>
            <h5 class="white-h3">The trusted name for specialized tutoring.</h5>
          </div>
        </div>
      </div>

    </div>
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">
          <div class="col l6 m6 s12 ">
            <h5>Our Mission</h5>
            <blockquote>

              <ul>
                <li>Passion to create the most robust education system.</li>
                <li>To make the maximum number of admissions per number of students.
                </li>
                <li>To deliver highest level of conceptual clarity to the students by integration of social education to create a revolution in the coaching industry.
                </li>
              </ul>
            </blockquote>
          </div>
          <div class="col l6 m6 s12 ">
            <h5>Our Vision</h5>
            <blockquote>

              <ul>
                <li>Spoon feeding in the long-run teaches nothing but the shape of the spoon.</li>
                <li>Live as if you were to die tomorrow. Learn as if you were to live forever.</li>
                <li>It isn’t where you come from, it’s where you’re going that counts.</li>
              </ul>
            </blockquote>
          </div>
        </div>
      </div>
    </div>



  </main>

  <%include partials/website_footer.ejs%>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>
