<% include partials/header.ejs%>

	<main>
		<div class="section">
			<div class="container">
				<h3 style="text-align: center">List of all centers</h3>
				<hr>
				<table class="responsive-table centered highlight bordered" width="100%">
					<thead>
						<tr>
							<th style="text-align: center">Serial no.</th>
							<th style="text-align: center">Center name</th>
							<th style="text-align: center">Display name</th>
							<th style="text-align: center">Action</th>
						</tr>
					</thead>
					<tbody>
						<% if (centers){ %>
							<% centers.forEach((center, i) =>{ %>
								<tr class="hoverable" id="<%=center._id%>">
									<td style="text-align: center">
										<%= i + 1 %>
									</td>
									<td style="text-align: center">
										<%=center.username%>
									</td>
									<td style="text-align: center">
										<%=center.profile.fullName%>
									</td>
									<td width="(100/6)%" height="40px" style="text-align: center">
										<a onClick="confirmDelete(this)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete This Center!">
											<i class="material-icons red-text">delete_forever</i>
										</a>
									</td>

								</tr>
								<% }) %>
									<% } %>
					</tbody>
				</table>
			</div>
		</div>

	</main>



	<script src="/js/centersDb.js"></script>

	<% include partials/footer.ejs%>
