<%include partials/website_header.ejs%>
	<link type="text/css" href="/css/aboutus.css" rel="stylesheet" media="screen,projection" />
	<main>
		<h4 class="center-align">
			<b>Careers</b>
		</h4>

		<div class="container">
			<div class="row">
				<form class="col s8 offset-s2" action="/careers" method="post">
					<div class="row">
						<div class="input-field col s12">
							<input id="full_name" type="text" class="validate" required>
							<label for="full_name">Full name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="email" type="email" class="validate" required>
							<label for="email">Email</label>
						</div>
					</div>
					<div class="row">
						<div class="col s12 center-align">
							<button class="btn waves-effect waves-light " type="submit" name="action">Submit
								<i class="material-icons right">send</i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>

	<%include partials/website_footer.ejs%>


		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="../js/materialize.js"></script>
		<script src="../js/init.js"></script>
