<%include partials/website_header.ejs%>
<link rel="stylesheet" type="text/css" href="../css/centers.css">

<main>
  <div class="section">
    <div class="container">
    <h4>CENTER NAME</h4>
    <h5>center address</h5>
    <div class="row">
      <div class="col l6 m6 s12">
        <img src="/images/1J5A2894.JPG" alt="" class="responsive-img">
      </div>
      <div class="col l6 m6 hide-on-small">
      <div class="row">
        <div class="col l6 m6">
          <img src="/images/1J5A2894.JPG" alt="" class="responsive-img">
        </div>
        <div class="col l6 m6">
          <img src="/images/1J5A2894.JPG" alt="" class="responsive-img">
        </div>
      </div>
      <div class="row">
        <div class="col l6 m6">
          <img src="/images/1J5A2894.JPG" alt="" class="responsive-img">
        </div>
        <div class="col l6 m6">
          <img src="/images/1J5A2894.JPG" alt="" class="responsive-img">
        </div>
      </div>
      </div>
    </div>
</div>
  </div>
</main>
<%include partials/website_footer.ejs%>
