<%include partials/website_header.ejs%>
  <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../../css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../../css/materialize-social.css" type="text/css" rel="stylesheet"></link>
  <link rel="stylesheet" type="text/css" href="../../css/courses-list.css">


  <main>
    <div class="container">
      <div class="row">
        <div class="col s12 m3 l3">
          <h5>FILTERS</h5>
          <br>
          <form action="">
            <div class="input-field">
              <select>
                <option value="medical" selected>Medical</option>
                <option value="engineering">Engineering</option>
                <option value="foundation">Foundation</option>
              </select>
              <label>Select Stream</label>
            </div>
            <br>
            <div class="input-field">
              <select>
                  <option value="" disabled selected>Choose your class</option>
                  <option value="IX">IX Studying</option>
                  <option value="X">X Studying</option>
                  <option value="XI">XI Studying</option>
                  <option value="XII">XII Studying</option>
                  <option value="XII Pass">XII Appeared/Passed</option>
                </select>
              <label>Select Class</label>
            </div>
            <br>
            <div class="input-field">
              <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="janakpuri">Janakpurit</option>
                    <option value="preet-vihar">Preet Vihar</option>
                    <option value="meerut">Meerut</option>
                  </select>
              <label>Select Center</label>
            </div>
          </form>
        </div>
        <div class="col s12 m9 l9">
          <h5>COURSES</h5>
          <%if(foundCourses){%>

            <%foundCourses.forEach((course,i)=>{%>
              <div class="row">
                <div class="col s12 m13 l2">
                  <div class="card " id="course-list-card">
                    <div class="card-image">
                      <img src="/courseImages/<%=course.courseImage%>" class="responsive-img">
                      <span class="card-title" style="color:#616161 !important;"><%=course.courseName%></span>
                    </div>

                      <div class="card-content">
                        <p class="truncate"><%=course.courseFor%></p>
                      </div>
                      <div class="card-action">
                        <a href="/courses-list/?title=<%=course.courseName%>">Read more...</a>
                      </div>

                  </div>
                </div>
              </div>
              <%})%>
                <%}%>




        </div>
      </div>
    </div>
  </main>

  <%include partials/website_footer.ejs%>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../js/materialize.js"></script>
    <script src="js/init.js"></script>

    <script>
      $(function() {
        $('select').material_select();
      })
    </script>
