<%include partials/website_header.ejs%>
  <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../../css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../../css/materialize-social.css" type="text/css" rel="stylesheet"></link>
  <link rel="stylesheet" type="text/css" href="../../css/courses.css">


  <main>
    <div class="section" id="">
      <div class="container">
        <div class="row">
          <div class="col l6 m6 s12">
            <h3>YOUNG BUDS</h3>
            <hr><b> Foundation course(One year classroom program) </b><br> <b>Eligibility​ :</b>Class VIII appeared/passed students Class <b><b>Schedule​:</b></b> Weekends- Saturday and Sunday<br><b>Admissions:</b> Direct or through HARVEST (HARVIN Eligibility
            for Scholarship Test) <br> This program helps students to excel in Jr. Sci/ Maths Olympiad with excellence in school studies and develop strong foundation for Olympiads/NTSE/KVPY/Other Competitive Entrance Exams.
          </div>
          <div class="col l6 m6 s12">
            <div class="svg-content">
              <div class="svg-img" id="layer1">

                <object type="image/svg+xml" class="svg-image" data="../../images/young_buds4.svg">Your browser does not support SVGs</object>

              </div>

              <div class="svg-img" id="layer2">
                <object type="image/svg+xml" class="svg-image" data="../../images/young_buds2.svg">Your browser does not support SVGs</object>


              </div>

              <div class="svg-img" id="layer3">
                <object type="image/svg+xml" class="svg-image" data="../../images/young_buds3.svg">Your browser does not support SVGs</object>


              </div>

              <div class="svg-img" id="layer4">
                <object type="image/svg+xml" class="svg-image" data="../../images/young_buds1.svg">Your browser does not support SVGs</object>

              </div>




            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="">
      <div class="container">
        <div class="row">

          <div class="col l6 m6 s12 push-l6">
            <h3>BLOSSOM</h3>
            <hr><b> <u>Foundation course (One year classroom program)</u>  </b><br><b> <u>Eligibility​ :</u> </b> Class IX appeared/passed students Class <br><b> <u>Schedule​:</u> </b> Weekends-Saturday and Sunday <br><b> <u>Admission:</u> </b> Direct or
            through HARVEST (HARVIN Eligibility for Scholarship Test) Program Description​: This program is for preparing the students of class IX to develop strong foundations for Olympiads/NTSE/Other Competitive Entrance Exams.

          </div>
          <div class="col l6 m6 s12 pull-l6">
            <object type="image/svg+xml" class="svg-image" data="../../img/test.svg">Your browser does not support SVGs</object>
          </div>

        </div>
      </div>
    </div>
    <div class="section" id="">
      <div class="container">
        <div class="row">
          <div class="col l6 m6 s12">
            <h3>PRODIGY</h3>
            <hr> <b>Two years classroom program (TARGET PMT 2019)</b> <br><b>Admission:</b> Direct - <br> <b>Eligibility​ :</b>Class X appeared/passed students. Class <br><b>Schedule​:</b> or through HARVEST (HARVIN Eligibility for Scholarship Test) Program
            Description​: Session-1: Mar/Apr/Jun-Jul 2017 to Feb 2018 Entire syllabus of class XI is discussed in the classroom. Initially focused on the school exams, the program eases the students into PMT preparations. Session-2: Mar 2018 to Apr 2019
            Entire syllabus of class XII is discussed in the classroom targeting both Board exams as well as NEET and AIIMS. A revision of Class XI syllabus is also provided during the session.
          </div>
          <div class="col l6 m6 s12">
            <object type="image/svg+xml" class="svg-image" data="../../img/test.svg">Your browser does not support SVGs</object>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="">
      <div class="container">
        <div class="row">
          <div class="col l6 m6 s12 push-l6">
            <h3>WIZARD</h3>
            <hr> <b>Eligibility​ :</b> Class XI appeared/passed students Class <br><b>Schedule​:</b> Weekdays - 3 to 4 days per week Weekends - Saturday and Sunday <br><b>Admission:</b> Direct or through HARVEST Program Description​: In this program, the
            entire syllabus of class XII is discussed in the classroom targeting both Board exams as well as PMT and AIIMS.
          </div>
          <div class="col l6 m6 s12 pull-l6">
            <object type="image/svg+xml" class="svg-image" data="../../img/test.svg">Your browser does not support SVGs</object>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="">
      <div class="container">
        <div class="row">
          <div class="col l6 m6 s12 ">
            <h3>MasterMind</h3>
            <hr> <b>Eligibility​ :</b> Class XII appeared/passed students Class <br><b>Schedule​:</b> Weekdays - 4 to 5 days per week <br><b>Admission:</b> Direct or through HARVEST Program Description​: Entire syllabus of class XI and XII is discussed comprehensively
            in the program focussing on NEET and AIIMS entrance examination.
          </div>
          <div class="col l6 m6 s12 ">
            <object type="image/svg+xml" class="svg-image" data="../../img/test.svg">Your browser does not support SVGs</object>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="section" id="">
      <div class="container">
        <div class="row">
          <div class="col l6 m6 s12 push-l6">
            <h3>CRASH COURSE</h3>
            <hr> <b>Eligibility​ :</b>Class XII appeared/passed students Class <br><b>Schedule​:</b> Weekdays - 5 to 6 days per week <br><b>Admission:</b> Direct <br>This is a fast-track program where intensive classroom teaching is provided covering most
            of the topics of class XI and XII focussing on NEET and AIIMS entrance examinations.
          </div>
          <div class="col l6 m6 s12 pull-l6">
            <object type="image/svg+xml" class="svg-image" data="../../img/test.svg">Your browser does not support SVGs</object>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%include partials/website_footer.ejs%>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../js/materialize.js"></script>
    <script src="../../js/init.js"></script>
    <script src="../../js/initCourses.js"></script>
