

<%include partials/website_header.ejs%>
  <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../../css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../../css/materialize-social.css" type="text/css" rel="stylesheet"></link>
  <!-- <link rel="stylesheet" type="text/css" href="../../css/courses-desc.css"> -->


<main>
  <div class="container">
    <div class="row">
        <%if(foundCourse){%>
        <%-foundCourse%>
        <%}%>
    </div>
  </div>
</main>

  <%include partials/website_footer.ejs%>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../js/materialize.js"></script>
