<%include partials/website_header.ejs%>
  <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../../css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../../css/materialize-social.css" type="text/css" rel="stylesheet"></link>
  <link rel="stylesheet" type="text/css" href="../../css/courses.css">


  <main>
    <div class="section" id="">
      <div class="container">
        <div class="row">
          <div class="col l6 m6 s12">
            <h3>PRODIGY</h3>
            <hr>

          </div>
          <div class="col l6 m6 s12">
            <object type="image/svg+xml" data="../../img/test.svg">Your browser does not support SVGs</object>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="">
      <div class="container">
        <div class="row">

          <div class="col l6 m6 s12 push-l6">
            <h3>PRODIGY</h3>
            <hr>

          </div>
          <div class="col l6 m6 s12 pull-l6">
            <object type="image/svg+xml" data="../../img/test.svg">Your browser does not support SVGs</object>
          </div>

        </div>
      </div>
    </div>
    <div class="section" id="">
      <div class="container">
        <div class="row">
          <div class="col l6 m6 s12">
            <h3>PRODIGY</h3>
            <hr>

          </div>
          <div class="col l6 m6 s12">
            <object type="image/svg+xml" data="../../img/test.svg">Your browser does not support SVGs</object>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="">
      <div class="container">
        <div class="row">
          <div class="col l6 m6 s12 push-l6">
            <h3>PRODIGY</h3>
            <hr>

          </div>
          <div class="col l6 m6 s12 pull-l6">
            <object type="image/svg+xml" data="../../img/test.svg">Your browser does not support SVGs</object>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%include partials/website_footer.ejs%>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../js/materialize.js"></script>
    <script src="../../js/init.js"></script>
    <script src="../../js/initCourses.js"></script>
