<% include partials/header.ejs%>
  <main>
    <div class="container">
      <div class="center-align">
        <h3>Create / Update Batches</h3>
      </div>
      <hr>
      <form id="batchUpdateForm" method="post" action="/admin/batches/updateBatch">
        <div class="row">
          <div class="col s6">
            <div class="input-field ">
              <input name="batchName" required type="text" id="batchName" autocomplete="off" class="autocomplete validate">
              <label for="batchName">Batch Name</label>
            </div>
          </div>
          <div class="col s6">
            <div class="input-field">
              <select name="subjectId" multiple id="subjectsInBatch">
      						<option value="" disabled selected>Choose Subjects</option>
                    <%if(subjects){%>
                        <%subjects.forEach(function(subject){%>
                            <option value="<%=subject._id%>"><%=subject.subjectName%> of class <%=subject.className%></option>
                        <%})%>
                    <%}%>
                  </select>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="form-group">
              <textarea required id="batchDesc" name="batchDesc" class="materialize-textarea validate"></textarea>
              <label for="batchDesc">Batch Description</label>
            </div>

          </div>
          <div class="center-align"><button class="btn">Update selected subject</button></div>
      </form>
      </div>


  </main>
  <script>
    $(function() {
      function onBatchSelect(selectedBatchName) {
        let batchName = selectedBatchName || $('#batchName').val()
        if (batchName.length > 0) {
          let $subjectsInBatch = $('#subjectsInBatch')
          let $batchDesc = $('#batchDesc')
          let o = $('option', $subjectsInBatch)
          $.get('/admin/batches/' + batchName, function(res) {
          o.each(function (index) {
            this.selected = false;
          })
          $batchDesc.val('')

          $('select').material_select();

            let subjects;
            if (res.batch) {
              subjects = res.batch.subjects;
              let length = subjects.length;
              if(length > 0){
                for (var i = 0; i < length; i++) {
      						o.each(function (j){
      							if (j > 0) {
      								if (this.value == subjects[i]._id)
      									this.selected = true;
      							}
      						});
      					}
                $('select').material_select();

              }
              $batchDesc.val(res.batch.batchDesc)
            } else $batchDesc.val('')

          });
        }
      }

      $.get('/admin/batches', function(res) {

        batches = {};

        if (res.batches) {
          res.batches.forEach((batch) => {
            batches[batch.batchName] = null
          })
        }

        $('#batchName').autocomplete({
          data: batches,
          onAutocomplete: onBatchSelect
        });
      })
    })
  </script>
  <% include partials/footer.ejs%>
