<% include partials/header.ejs%>
    <div class="container">
        <div id="allDatabase">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12" id="collections">
                    <% names.forEach(function(name){%>
                            <button class="btn btn-large btn-default objectButton collection" value="<%=name%>"><b><%=name%></b></button>
                    <%})%>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12" id="documents">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12" id="data">
                </div>
            </div>
        </div>
    </div>
<% include partials/footer.ejs%>
