<% include partials/header.ejs %>
	<main>
		<div class="container">
			<div class="row">
				<div class="col m4">
					<div class="card">
						<div class="card-image">
							<img class="dbImg" src="../user.jpg">
						</div>
						<div class="card-action">
							<a href="/admin/db/users">User profiles</a>
						</div>
					</div>
				</div>
				<div class="col m4">
					<div class="card">
						<div class="card-image">
							<img class="dbImg" src="../exam.png">
						</div>
						<div class="card-action">
							<a href="/admin/exams">Exams</a>
						</div>
					</div>
				</div>
				<div class="col m4">
					<div class="card">
						<div class="card-image">
							<img class="dbImg" src="../assignments.jpg">
						</div>
						<div class="card-action">
							<a href="/admin/assignment">Assignments</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col m4">
					<div class="card">
						<div class="card-image">
							<img class="dbImg" src="../files.jpg">
						</div>
						<div class="card-action">
							<a href="/admin/db/files">Files</a>
						</div>
					</div>
				</div>
				<div class="col m4">
					<div class="card">
						<div class="card-image">
							<img class="dbImg" src="../question.jpg">
						</div>
						<div class="card-action">
							<a href="/admin/questionBank">Question Bank</a>
						</div>
					</div>
				</div>
				<div class="col m4">
					<div class="card">
						<div class="card-image">
							<img class="dbImg" src="../results.png">
						</div>
						<div class="card-action">
							<a href="/admin/results">Results</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col m4">
					<div class="card">
						<div class="card-image">
							<img class="dbImg" src="../gallery.jpg">
						</div>
						<div class="card-action">
							<a href="/admin/db/gallery">Gallery</a>
						</div>
					</div>
				</div>
				<div class="col m4">
					<div class="card">
						<div class="card-image">
							<img class="dbImg" src="../locations.jpeg">
						</div>
						<div class="card-action">
							<a href="/admin/centers/all">Centers</a>
						</div>
					</div>
				</div>
				<div class="col m4">
					<div class="card">
						<div class="card-image">
							<img class="dbImg" src="../visitors.jpg">
						</div>
						<div class="card-action">
							<a href="/admin/db/visitors">Visitors</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<% include partials/footer.ejs %>
