<% include partials/header.ejs %>

	<div class="container">
		<div class="row">
			<div class="col m4">
				<div class="card">
					<div class="card-image">
						<img class="dbImg" src="user.jpg">
					</div>
					<div class="card-action">
						<a href="/db/users">User profiles</a>
					</div>
				</div>
			</div>
			<div class="col m4">
				<div class="card">
					<div class="card-image">
						<img class="dbImg" src="exam.png">
					</div>
					<div class="card-action">
						<a href="/exams">Exams</a>
					</div>
				</div>
			</div>
			<div class="col m4">
				<div class="card">
					<div class="card-image">
						<img class="dbImg" src="assignments.jpg">
					</div>
					<div class="card-action">
						<a href="/assignment">Assignments</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col m4">
				<div class="card">
					<div class="card-image">
						<img class="dbImg" src="files.jpg">
					</div>
					<div class="card-action">
						<a href="/db/files">Files</a>
					</div>
				</div>
			</div>
			<div class="col m4">
				<div class="card">
					<div class="card-image">
						<img class="dbImg" src="question.jpg">
					</div>
					<div class="card-action">
						<a href="/questionBank">Question Bank</a>
					</div>
				</div>
			</div>
			<div class="col m4">
				<div class="card">
					<div class="card-image">
						<img class="dbImg" src="results.png">
					</div>
					<div class="card-action">
						<a href="/results">Results</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col m4">
				<div class="card">
					<div class="card-image">
						<img class="dbImg" src="query.png">
					</div>
					<div class="card-action">
						<a href="/vms/all">Visitors</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% include partials/footer.ejs %>
