<% include partials/header.ejs%>

<div class="container">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Database</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-4">
            <div class="card" >
                <img class="card-img-top" style="width: 200px; height:200px" src="user.jpg" >
                <div class="card-body">
                    <h2 class="card-title">User profiles</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div >
                        <a href="/db/users" class="btn btn-primary" style="width: 70%">User profiles</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" >
                <img class="card-img-top" style="width: 200px; height:200px" src="exam.png" >
                <div class="card-body">
                    <h2 class="card-title">Exams</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div >
                        <a href="/db/exams" class="btn btn-primary" style="width: 70%">Exams</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" >
                <img class="card-img-top" style="width: 200px; height: 200px;" src="assignments.jpg" >
                <div class="card-body">
                    <h2 class="card-title">Assignments</h2>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div >
                        <a href="/db/assignments" class="btn btn-primary" style="width: 70%">Assignments</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs%>
