<% include partials/header.ejs%>
<h1>Whoops! Something has gone wrong.</h1>
<pre>Name: <%= name %></pre>
<pre>Message: <%= message %></pre>
 <pre>StatusCode: <%= statusCode %></pre> 
<% include partials/footer.ejs%>