<%include partials/website_header.ejs%>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css">
  <link rel="stylesheet" type="text/css" href="../css/faculty.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css">

  <link type="text/css" href="/css/aboutus.css" rel="stylesheet" media="screen,projection" />

  <main>


    <div class="section ">
      <div class="container">

        <div class="row center">
          <div class="col l12">
            <h2 >Our Management</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col l6 m6 s12">
            <div class="card large">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/1J5A2894.JPG">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col l6 m6 s12">
            <div class="card large">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/1J5A2894.JPG">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col l6 m6 s12">
            <div class="card large">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/1J5A2894.JPG">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col l6 m6 s12">
            <div class="card large">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/1J5A2894.JPG">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col l6 m6 s12">
            <div class="card large">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/1J5A2894.JPG">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col l6 m6 s12">
            <div class="card large">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/1J5A2894.JPG">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>

  <%include partials/website_footer.ejs%>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>
