<%include partials/website_header.ejs%>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css">
  <link rel="stylesheet" type="text/css" href="../css/faculty.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css">

  <link type="text/css" href="/css/aboutus.css" rel="stylesheet" media="screen,projection" />

  <main>

    <div class="section ">
      <div class="container">
        <h2 class="center">Our Team</h2>
        <div class="row center-align">
          <div class="col l4 m4 s6">
            <div class="card">
              <div class="card-image">
                <img src="../../images/1J5A2889.JPG">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
          <div class="col l4 m4 s6">
            <div class="card">
              <div class="card-image">
                <img src="../../images/1J5A2889.JPG">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
          <div class="col l4 m4 s6">
            <div class="card">
              <div class="card-image">
                <img src="../../images/1J5A2889.JPG">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="section ">
      <div class="container">
        <div class="row center-align">
          <div class="col l4 m4 s6">
            <div class="card">
              <div class="card-image">
                <img src="../../images/1J5A2889.JPG">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
          <div class="col l4 m4 s6">
            <div class="card">
              <div class="card-image">
                <img src="../../images/1J5A2889.JPG">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
          <div class="col l4 m4 s6">
            <div class="card">
              <div class="card-image">
                <img src="../../images/1J5A2889.JPG">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>

  <%include partials/website_footer.ejs%>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>
