<% include partials/website_header.ejs%>
    <main>
        <div class="section">
            <div class="container">
                <h3>Harvin’s HEART: Harvin Aptitude Cum Retention Test
                </h3>
                <p class="flow-text">


                    Marks have always been the conclusive factor of our career path, which has a great influence on our psychology to choose
                    a career. The evaluation of a child’s caliber and skills is often done by the marks procured by him.
                    According to CBSE norms, a students does not have the liberty to choose the career stream; it is the
                    obtained marks that decides his career. It is the prime reason why most of the students end up with inapt
                    jobs and careers.But, Harvin Academy believes that a mere test should not resolve our career path. Harvin
                    Academy’s HEART is an assessment cum indicator test which helps a student decide a career stream that
                    is in sync with his skills. It gives you detailed assessment about a student’s performance. It highlights
                    strengths and weaknesses in various topics and subjects, which will help in accenting on weak areas.
                    We encourage students to take up HEART to ensure that they end up with a career of their choice. Harvin
                    Academy firmly believes that conformists never make great leaders. One should rather take up a career
                    that suits and interests his skills. HEART encourages you to be passionate towards your chosen career.
                    It gives you the opportunity to choose a career according to your skills rather than looking at the obtained
                    two-digit score.


                </p>
                <h3>

                    HARVEST- Harvin Eligibility For Scholarship Test

                </h3>
                <p>

                    Harvin Academy believes that every child has unlimited inherent potential. It is the job of parents and mentors to help a
                    child realize his strength and bring the best out of his/her potential. We believe that a student should
                    never be deprived of quality education due to penury. Financial paucity should never a hindrance for
                    a meritorious student. In line with its philosophy, Harvin Academy has invented HARVEST- Harvin Eligibility
                    For Scholarship Test that will help meritorious students achieve their dream career in medical sciences.
                    Meritorious students can get upto 60% off on fees through HARVEST. This scholarship not only helps meritorious
                    students financially but, also augments student’s self-confidence in attaining gigantic success in their
                    professional pursuit. HARVEST can be taken at any time of the year and it is completely free-of-cost.

                </p>
                <h3>Eligibility Criteria</h3>
                <h5>CATEGORY A1</h5>
                <table>
                    <thead>
                        <tr>
                            <th>Marks Obtained</th>
                            <th> Discount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>60% AND ABOVE</td>
                            <td>40%</td>
                        </tr>
                        <tr>
                            <td> 55 - 59.5%</td>
                            <td> 35%</td>
                        </tr>
                        <tr>
                            <td> 50-54.5% </td>
                            <td> 30%</td>
                        </tr>
                        <tr>
                            <td> 45-49.5% </td>
                            <td>25%</td>
                        </tr>
                        <tr>
                            <td>40-44.5% </td>
                            <td>20% </td>
                        </tr>
                        <tr>
                            <td> 35-39.5% </td>
                            <td> 15%</td>
                        </tr>
                        <tr>
                            <td>30-34.5% </td>
                            <td>10%</td>
                        </tr>
                    </tbody>
                </table>
                <h5>CATEGORY A2</h5>
                <table>
                    <thead>
                        <tr>
                            <th>Marks Obtained</th>
                            <th> Discount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                A1 in all subjects </td>
                            <td>20%</td>
                        </tr>
                        <tr>
                            <td>
                                A1+A1 in Science and Maths </td>
                            <td>15%</td>
                        </tr>
                        <tr>
                            <td>
                                A1+A2 in Science and Maths</td>
                            <td> 10%</td>
                        </tr>
                        <tr>
                            <td>
                                A2+A2 in Science and Maths </td>
                            <td> 5%</td>
                        </tr>
                    </tbody>
                </table>
                <h5>CATEGORY A1</h5>
                <table>
                    <thead>
                        <tr>
                            <th>Marks Obtained</th>
                            <th> Discount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Teacher/Engineer/Doctor </td>
                            <td> 5% </td>
                        </tr>
                        <tr>
                            <td>
                                Sibling </td>
                            <td> 5%</td>
                        </tr>
                        <tr>
                            <td>
                                Single Parent </td>
                            <td> 5%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <% include partials/website_footer.ejs%>