<%include  partials/website_header.ejs%>
	<style>
		#navbar {
			margin-top: 4em;

		}
		#navbar >div{
		height:100%;
		}

	</style>
	<!-- <link href="../css/homePage.css" type="text/css" rel="stylesheet" /> -->
	<meta name="google-site-verification" content="eSPtYedDuFnn9GWxmT-OZJtAugNRnUJwuZ65y7JDPfE" />

	<main>

		<!-- <nav class="info-nav">
			<div class="nav-wrapper top-most">
				<ul stlye="margin-left:20%;">
					<li class="hide-on-med-and-down">
						<p>Have any Questions?</p>
					</li>
					<li>
						<p>(+91) 8470933206</p>
					</li>
					<li>
						<p>info@harvin.academy</p>
					</li>

				</ul>
				<span style="float:right">
					<a href="#!" onClick="removeTopBar();">
						<i class="material-icons">close</i>
					</a>
				</span>
			</div>
		</nav> -->
		<!-- <div class="section no-pad " id="first-section">
			<div class="section no-pad-bot">

			</div>
			<div class="section valign-wrapper " id="hero-section">
				<div class="container landing-container">
					<div class="row" id='removeThisId'>
						<div class="col s12 m4 l4">
							<h2 class="harvin-heading-text">Medical</h2>
						</div>
						<div class="col s12 m4 l4">
							<h2 class="harvin-heading-text">Engineering</h2>
						</div>
						<div class="col s12 m4 l4">
							<h2 class="harvin-heading-text">Crash Course</h2>
						</div>
						<div class="col s12 l12 m12 ">
							<div class="card-panel z-depth-5 center" id="harvin-card-panel">

								<div class="sandbox sandbox-correct-pronounciation">
									<h1 class="heading heading-correct-pronounciation">
										<em>Harvin Academy</em>
									</h1>
									<p id="premier">The Premier institute for PMT|IIT-JEE</p>
								</div>
							</div>

						</div>


					</div>

				</div>
			</div>
		</div> -->

		<img src="/images/hero.jpeg" class="responsive" id="hero-img" alt="">
		<img src="/images/hero.jpeg" class="responsive" id="hero-img" alt="">
		<div id="overlay"></div>
		<div class="section container" id="fst-section">

			<div id="left-sec">
				<h4>WELCOME TO HARVIN ACADEMY</h4>
				<h5>The premier Institute of PMT | IIT-JEE</h5>
				<br>
				<br>
				<a class="waves-effect waves-light btn">about us</a>
			</div>
			<div id="right-sec">
				<div id="passion-for-education">
					<h5> Passion For Education </h5>
					<p>Harvin Academy is a sincere effort by acclaimed academicians and professionals to ease your pursuit of success by providing
						you Total Quality Management for your budding career plans.</p>
					<!-- <br> -->
					<p>Come and Feel the Difference</p>
				</div>
				<div id="next-info" class="card">
					<div class="card-content">
						<!-- <i class="fas fa-user-graduate"></i> -->
						<i class="fa fa-user-o" aria-hidden="true"></i>
						<!-- <br> -->
						<p>Droppers Batch For NEET and IIT JEE</p>
						<br>
						<p>Starting from 15th June at Harvin Academy Preet Vihar and Harvin Academy Janakpuri.</p>
					</div>

				</div>
				<div id="vid"><iframe src="https://www.youtube.com/embed/GbMYOQYhVGo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
					allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
			</div>
		</div>
		<div class="section container" id="scnd-section">
			<div class="features">
				<div class="card-content">
					<i class="large material-icons">developer_board</i>
					<p>HIGHLY QUALIFIED AND TRAINED FACULTY</p>
					<p>The most important factors in raising student achievement is a highly qualified teacher.</p>
				</div>

			</div>
			<div class="features">
				<div class="card-content">
					<i class="large material-icons">developer_board</i>
					<p>SYSTEMATIC AND PLANNED TEACHING</p>
					<p>Systematic and planned teaching routine, structured approach to help students.</p>
				</div>

			</div>
			<div class="features">
				<div class="card-content">
					<i class="large material-icons">developer_board</i>
					<p>PERSONAL PROBLEM ON SOLVING SESSIOIN</p>
					<p>Identifying problem, developing possible solution and taking the appropriate course of action.</p>
				</div>

			</div>
			<div id="popular-course-heading">
				<h4>POPULAR COURSES</h4>
				<p>Provides course for Medical And Engineering</p>
				<hr>
			</div>
			<div class="courses-card">
				<div class="card">
					<div class="card-image">
						<img src="images/hero01.jpg">
						<span class="card-title">Card Title</span>
						<a class="btn-floating halfway-fab waves-effect waves-light red">
							<i class="material-icons">near_me</i>
						</a>
					</div>
					<div class="card-content">
						<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
							markup to use effectively.</p>
					</div>
				</div>
			</div>
			<div class="courses-card">
				<div class="card">
					<div class="card-image">
						<img src="images/hero01.jpg">
						<span class="card-title">Card Title</span>
						<a class="btn-floating halfway-fab waves-effect waves-light red">
							<i class="material-icons">near_me</i>
						</a>
					</div>
					<div class="card-content">
						<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
							markup to use effectively.</p>
					</div>
				</div>
			</div>
			<div class="courses-card">
				<div class="card">
					<div class="card-image">
						<img src="images/hero01.jpg">
						<span class="card-title">Card Title</span>
						<a class="btn-floating halfway-fab waves-effect waves-light red">
							<i class="material-icons">near_me</i>
						</a>
					</div>
					<div class="card-content">
						<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
							markup to use effectively.</p>
					</div>
				</div>
			</div>
		</div>
		<img src="/images/banner1.jpeg" id="testimonials-banner-img" alt="Banner">
		<div id="overlay-testimonials-section"></div>
		<div class="section container" id="testimonials">
			<div id="testimonials-overlay-content">
				<h4>LET'S TRY OUR UTILITIES</h4>
				<p>When you learn in Harvin Academy, you get access to our utilities</p>
				<hr>
				<div id="feature-utilities" class="z-depth-3">
					<div class="features">
						<div class="card-content">
							<i class="large material-icons">developer_board</i>
							<p>ADEQUATE LIBRARY FACILITY</p>
						</div>

					</div>
					<div class="features">
						<div class="card-content">
							<i class="large material-icons">developer_board</i>
							<p>GROUP DISCUSSION & READING ROOM</p>
						</div>

					</div>
					<div class="features">
						<div class="card-content">
							<i class="large material-icons">developer_board</i>
							<p>PRACTICAL LAB</p>
						</div>
					</div>
				</div>
				<h4>HAPPY STUDENTS</h4>
				<p>What students have to say</p>
				<hr>
				<div class="carousel carousel-slider center" data-indicators="true">
					<div class="carousel-fixed-item center">
						<a class="btn waves-effect white grey-text darken-text-2">button</a>
					</div>
					<div class="carousel-item white black-text" href="#one!">
						<i class="fa fa-quote-right" aria-hidden="true"></i>
						<p class="black-text">Quid de Platone aut de Democrito loquar? Quid in isto egregio tuo officio et tanta fide-sic enim existimo-ad corpus
							refers? Bonum incolumis acies: misera caecitas.</p>
					</div>
					<div class="carousel-item amber white-text" href="#two!">
						<h2 class="testimonial-quote">Second Panel</h2>
						<p class="black-text">Quid de Platone aut de Democrito loquar? Quid in isto egregio tuo officio et tanta fide-sic enim existimo-ad corpus
							refers? Bonum incolumis acies: misera caecitas.</p>
					</div>
					<div class="carousel-item green white-text" href="#three!">
						<h2 class="testimonial-quote">Third Panel</h2>
						<p class="black-text">Quid de Platone aut de Democrito loquar? Quid in isto egregio tuo officio et tanta fide-sic enim existimo-ad corpus
							refers? Bonum incolumis acies: misera caecitas.</p>
					</div>
					<div class="carousel-item blue white-text" href="#four!">
						<h2 class="testimonial-quote">Fourth Panel</h2>
						<p class="black-text">Quid de Platone aut de Democrito loquar? Quid in isto egregio tuo officio et tanta fide-sic enim existimo-ad corpus
							refers? Bonum incolumis acies: misera caecitas.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="happy-stendets-section section no-pad center">

			<div class="carousel carousel-slider center" data-indicators="true">

				<div class="carousel-item white " href="#one!">
					<h2>First Testimonial</h2>
					<p class="white-text">This is your first panel</p>
				</div>
				<div class="carousel-item  white" href="#two!">
					<h2>Second Testimonial</h2>
					<p class="white-text">This is your second panel</p>
				</div>
				<div class="carousel-item  white" href="#three!">
					<h2>Third Testimonial</h2>
					<p class="white-text">This is your third panel</p>
				</div>
				<div class="carousel-item white" href="#four!">
					<h2>Fourth Testimonial</h2>
					<p class="white-text">This is your fourth panel</p>
				</div>
			</div>
			<a class="btn waves-effect white inverted-button">VIEW ALL</a>
		</div> -->
		<div class="section download-app-section">
			<div class="container">
				<div class="row">
					<div class="col s12 m4 l4">
						<div id="important-dates">
							<div class="dates">
								<div>
									<i class="large material-icons">developer_board</i>
								</div>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Heading</h5>
									<p class="important-dates-p">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
								</div>
							</div>
							<div class="dates">
								<i class="large material-icons">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Heading</h5>
									<p class="important-dates-p">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
								</div>
							</div>
							<div class="dates">
								<i class="large material-icons">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Heading</h5>
									<p class="important-dates-p">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
								</div>
							</div>
						</div>

					</div>
					<div class="col s6 m4 l4 center hide-on-small-only">
						<img src="/images/phoneFrame.jpg" alt="">
					</div>

					<div class="col s6 m4 l4 hide-on-small-only">
						<div id="important-dates">
							<div class="dates">
								<div>
									<i class="large material-icons">developer_board</i>
								</div>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Heading</h5>
									<p class="important-dates-p">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
								</div>
							</div>
							<div class="dates">
								<i class="large material-icons">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Heading</h5>
									<p class="important-dates-p">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
								</div>
							</div>
							<div class="dates">
								<i class="large material-icons">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Heading</h5>
									<p class="important-dates-p">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

		<div class="section" id="blog-section">
			<div class="container">

				<div class="row center">
					<h3 class="section-heading">FROM OUR BLOG</h3>

					<div class="col s12 l4 m4 courses-card">
						<div class="card hoverable">
							<div class="card-image">
								<img src="images/hero01.jpg">
								<span class="why-title">Card Title</span>
							</div>
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
									markup to use effectively.</p>
							</div>
						</div>
					</div>
					<div class="col s12 l4 m4 courses-card-section">
						<div class="card hoverable">
							<div class="card-image">
								<img src="images/hero01.jpg">
								<span class="why-title">Card Title</span>
							</div>
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
									markup to use effectively.</p>
							</div>
						</div>
					</div>
					<div class="col s12 l4 m4 courses-card">
						<div class="card hoverable">
							<div class="card-image">
								<img src="images/hero01.jpg">
								<span class="why-title">Card Title</span>
							</div>
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
									markup to use effectively.</p>
							</div>
						</div>

					</div>
					<a class="btn waves-effect white inverted-button">VIEW ALL</a>

				</div>

			</div>
		</div>
		<div class="section " id="register-now-section">

			<div class="container">
				<div class="row">
					<div class="col s8 m5 l5 push-l1 push-m1">
						<div class="card hoverable">
							<div class="card-image ">
								<h4 class="register-card-title center">REGISTER NOW</h4>
							</div>
							<div class="card-content">
								<div class="row center">

									<div class="input-field col s12">
										<input id="last_name" type="text" class="validate">
										<label for="last_name">Last Name</label>
									</div>

									<div class="input-field col s12">
										<input id="last_name" type="text" class="validate">
										<label for="last_name">Last Name</label>
									</div>

									<div class="input-field col s12">
										<input id="last_name" type="text" class="validate">
										<label for="last_name">Last Name</label>
									</div>

									<a class="btn waves-effect " style="background-color: #13b38b;">SIGN UP</a>


								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</main>
	<%include partials/website_footer.ejs%>



		<div href="#modal1" class="fixed-action-btn modal-trigger">
			<a class="btn-floating btn-large red">
				<i class="large material-icons">email</i>
			</a>

		</div>
		<!-- Modal Structure -->
		<div id="modal1" class="modal bottom-sheet custom-modal center">
			<div class="modal-content center">
				<!-- Begin MailChimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
				<style type="text/css">
					#mc_embed_signup {
						background: #fff;
						clear: left;
						font: 14px Helvetica, Arial, sans-serif;
					}

					/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
								 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
				</style>
				<div id="mc_embed_signup">
					<form action="https://academy.us16.list-manage.com/subscribe/post?u=98eb19cadfaa9a468fe39224c&amp;id=5a034fba88" method="post"
					 id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<label for="mce-EMAIL">Subscribe to Harvin Academy</label>
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true">
								<input type="text" name="b_98eb19cadfaa9a468fe39224c_5a034fba88" tabindex="-1" value="">
							</div>
							<div class="clear">
								<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
							</div>
						</div>
					</form>
				</div>

				<!--End mc_embed_signup-->
			</div>
		</div>


		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="js/materialize.js"></script>
		<script src="js/init.js"></script>

		<script>
			$('.carousel.carousel-slider').carousel({ fullWidth: true });
		</script>
