<%include  partials/website_header.ejs%>

	<link href="/css/homePage1.css" type="text/css" rel="stylesheet" />
	<meta name="google-site-verification" content="eSPtYedDuFnn9GWxmT-OZJtAugNRnUJwuZ65y7JDPfE" />

	<main>


	</main>
	<%include partials/website_footer.ejs%>

		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="js/materialize.js"></script>
		<!-- <script src="js/init.js"></script> -->