<%include  partials/website_header.ejs%>
	<style>
		#navbar {
			margin-top: 4em;

		}
		#navbar >div{
		height:100%;
		}

	</style>
	<link href="../css/vmsLanding.css" type="text/css" rel="stylesheet" />
	<meta name="google-site-verification" content="eSPtYedDuFnn9GWxmT-OZJtAugNRnUJwuZ65y7JDPfE" />

	<main>

		<nav class="info-nav">
			<div class="nav-wrapper top-most">
				<ul stlye="margin-left:20%;">
					<li class="hide-on-med-and-down">
						<p>Have any Questions?</p>
					</li>
					<li>
						<p>(+91) 8470933206</p>
					</li>
					<li>
						<p>info@harvin.academy</p>
					</li>

				</ul>
				<span style="float:right">
					<a href="#!" onClick="removeTopBar();">
						<i class="material-icons">close</i>
					</a>
				</span>
			</div>
		</nav>
		<div class="section no-pad " id="first-section">
			<div class="section no-pad-bot">

			</div>
			<div class="section valign-wrapper " id="hero-section">
				<div class="container landing-container">
					<div class="row" id='removeThisId'>
						<div class="col s12 m4 l4">
							<h2 class="harvin-heading-text">Medical</h2>
						</div>
						<div class="col s12 m4 l4">
							<h2 class="harvin-heading-text">Engineering</h2>
						</div>
						<div class="col s12 m4 l4">
							<h2 class="harvin-heading-text">Crash Course</h2>
						</div>
						<div class="col s12 l12 m12 ">
							<div class="card-panel z-depth-5 center" id="harvin-card-panel">

								<div class="sandbox sandbox-correct-pronounciation">
									<h1 class="heading heading-correct-pronounciation">
										<em>Harvin Academy</em>
									</h1>
									<p id="premier">The Premier institute for PMT|IIT-JEE</p>
								</div>
							</div>

						</div>
						<!-- <a href="https://www.facebook.com/events/530090074037111/" target="_blank">
								<div class="col s12 l4 m12">
									<div class="card-panel z-depth-5 center vms-main-panel" id="harvin-card-panel2">
									</div>
								</div>
							</a> -->

					</div>
					<!-- <div class="row">
							<a href="http://harvin.academy/quiz">
								<div class="col s6 l3 m3 ">
									<div class="card-panel z-depth-5 center bot-card vms-events-panel" id="bot-card1">
									</div>
								</div>
							</a>
							<a href="https://harvin.academy/courses-list/?title=CRASH%20COURSE">
								<div class="col s6 l3 m3 ">
									<div class="card-panel z-depth-5 center bot-card vms-events-panel" id="bot-card2">
									</div>
								</div>
							</a>
							<a href="https://harvin.academy/courses-list/?title=Master%20Mind">
								<div class="col s6 l3 m3 ">
									<div class="card-panel z-depth-5 center bot-card vms-events-panel" id="bot-card3">
									</div>
								</div>
							</a>
							<a href="http://harvin.academy/blog">
								<div class="col s6 l3 m3 ">
									<div class="card-panel z-depth-5 center bot-card vms-events-panel" id="bot-card4">
									</div>
								</div>
							</a>
	
						</div> -->
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container top-container">
				<div class="row">
					<div class="col s12 m6 l6 center">
						<h4 id="upcoming">Upcoming Events</h4>
						<div id="upcoming-card">
							<a class="waves-effect waves-light btn" style="align-self: baseline;margin: 20px;">button</a>
							<div id="upcoming-overlay">
								<h5 id="upcoming-info-heading">Heading</h5>
								<p style="margin: 0px;line-height: 1.5em;">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
							</div>


						</div>
					</div>
					<div class="col s12 m6 l6 center">

						<h4 id="upcoming">Important Dates</h4>
						<div id="important-dates">
							<div class="dates">
								<div>
									<i class="large material-icons">developer_board</i>
								</div>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Heading</h5>
									<p class="important-dates-p">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
								</div>
							</div>
							<div class="dates">
								<i class="large material-icons">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Heading</h5>
									<p class="important-dates-p">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
								</div>
							</div>
							<div class="dates">
								<i class="large material-icons">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Heading</h5>
									<p class="important-dates-p">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">

				<div class="row center">
					<h3 class="section-heading">OUR COURSES</h3>

					<div class="col s12 l4 m4 courses-card">
						<div class="card">
							<div class="card-image">
								<img src="images/hero01.jpg">
								<span class="card-title">Card Title</span>
								<a class="btn-floating halfway-fab waves-effect waves-light red">
									<i class="material-icons">near_me</i>
								</a>
							</div>
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
									markup to use effectively.</p>
							</div>
						</div>
					</div>
					<div class="col s12 l4 m4 courses-card-section">
						<div class="card">
							<div class="card-image">
								<img src="images/hero01.jpg">
								<span class="card-title">Card Title</span>
								<a class="btn-floating halfway-fab waves-effect waves-light red">
									<i class="material-icons">near_me</i>
								</a>
							</div>
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
									markup to use effectively.</p>
							</div>
						</div>
					</div>
					<div class="col s12 l4 m4 courses-card">
						<div class="card">
							<div class="card-image">
								<img src="images/hero01.jpg">
								<span class="card-title">Card Title</span>
								<a class="btn-floating halfway-fab waves-effect waves-light red">
									<i class="material-icons">near_me</i>
								</a>
							</div>
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
									markup to use effectively.</p>
							</div>
						</div>
					</div>
					<a class="waves-effect waves-light btn" style="border-radius: 30px;">View All Courses</a>

				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">

				<div class="row center">
					<h3 class="section-heading">WHY HARVIN</h3>

					<div class="col s12 l4 m4 courses-card">
						<div class="card hoverable">
							<div class="card-image">
								<img src="images/hero01.jpg">
								<span class="why-title">Card Title</span>
							</div>
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
									markup to use effectively.</p>
							</div>
						</div>
					</div>
					<div class="col s12 l4 m4 courses-card-section">
						<div class="card hoverable">
							<div class="card-image">
								<img src="images/hero01.jpg">
								<span class="why-title">Card Title</span>
							</div>
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
									markup to use effectively.</p>
							</div>
						</div>
					</div>
					<div class="col s12 l4 m4 courses-card">
						<div class="card hoverable">
							<div class="card-image">
								<img src="images/hero01.jpg">
								<span class="why-title">Card Title</span>
							</div>
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
									markup to use effectively.</p>
							</div>
						</div>
					</div>

				</div>
				<div class="row center">

					<div class="col s12 l4 m4 courses-card">
						<div class="card hoverable">
							<div class="card-image center">
								<img src="images/hero01.jpg">
								<span class="why-title">Card Title</span>
							</div>
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
									markup to use effectively.</p>
							</div>
						</div>
					</div>
					<div class="col s12 l4 m4 courses-card-section">
						<div class="card hoverable">
							<div class="card-image center">
								<img src="images/hero01.jpg">
								<span class="why-title">Card Title</span>
							</div>
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
									markup to use effectively.</p>
							</div>
						</div>
					</div>
					<div class="col s12 l4 m4 courses-card">
						<div class="card hoverable">
							<div class="card-image center">
								<img src="images/hero01.jpg">
								<span class="why-title">Card Title</span>
							</div>
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
									markup to use effectively.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="section milestones-section">

			<div class="row center">
				<h3 class="section-heading">HAPPY STUDENTS</h3>
				<div class="col s12 m4 l4 center">
					<a class="waves-effect waves-light btn">205</a>
					<h4> Students 1</h4>
					Lorem Ipsum dolor sit amet,omniumamet,omnium amet,omnium
				</div>
				<div class="col s12 m4 l4 center">
					<a class="waves-effect waves-light btn">205</a>
					<h4> Students 1</h4>
					Lorem Ipsum dolor sit amet,omniumamet,omnium amet,omnium
				</div>
				<div class="col s12 m4 l4 center">
					<a class="waves-effect waves-light btn">205</a>
					<h4>y Student 1s</h4>
					Lorem Ipsum dolor sit amet,omniumamet,omnium amet,omnium
				</div>
			</div>
		</div>
		<div class="happy-stendets-section section no-pad center">

			<div class="carousel carousel-slider center" data-indicators="true">

				<div class="carousel-item white " href="#one!">
					<h2>First Testimonial</h2>
					<p class="white-text">This is your first panel</p>
				</div>
				<div class="carousel-item  white" href="#two!">
					<h2>Second Testimonial</h2>
					<p class="white-text">This is your second panel</p>
				</div>
				<div class="carousel-item  white" href="#three!">
					<h2>Third Testimonial</h2>
					<p class="white-text">This is your third panel</p>
				</div>
				<div class="carousel-item white" href="#four!">
					<h2>Fourth Testimonial</h2>
					<p class="white-text">This is your fourth panel</p>
				</div>
			</div>
			<a class="btn waves-effect white inverted-button">VIEW ALL</a>
		</div>
		<div class="section download-app-section">
			<div class="container">
				<div class="row">
					<div class="col s12 m4 l4">
						<div id="important-dates">
							<div class="dates">
								<div>
									<i class="large material-icons">developer_board</i>
								</div>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Heading</h5>
									<p class="important-dates-p">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
								</div>
							</div>
							<div class="dates">
								<i class="large material-icons">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Heading</h5>
									<p class="important-dates-p">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
								</div>
							</div>
							<div class="dates">
								<i class="large material-icons">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Heading</h5>
									<p class="important-dates-p">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
								</div>
							</div>
						</div>

					</div>
					<div class="col s6 m4 l4 center hide-on-small-only">
						<img src="/images/phoneFrame.jpg" alt="">
					</div>

					<div class="col s6 m4 l4 hide-on-small-only">
						<div id="important-dates">
							<div class="dates">
								<div>
									<i class="large material-icons">developer_board</i>
								</div>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Heading</h5>
									<p class="important-dates-p">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
								</div>
							</div>
							<div class="dates">
								<i class="large material-icons">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Heading</h5>
									<p class="important-dates-p">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
								</div>
							</div>
							<div class="dates">
								<i class="large material-icons">developer_board</i>
								<div class="dates-info">
									<h5 class="important-dates-heading">
										Heading</h5>
									<p class="important-dates-p">Lorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omniumLorem Ipsum dolor sit amer ,omnium</p>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

		<div class="section" id="blog-section">
			<div class="container">

				<div class="row center">
					<h3 class="section-heading">FROM OUR BLOG</h3>

					<div class="col s12 l4 m4 courses-card">
						<div class="card hoverable">
							<div class="card-image">
								<img src="images/hero01.jpg">
								<span class="why-title">Card Title</span>
							</div>
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
									markup to use effectively.</p>
							</div>
						</div>
					</div>
					<div class="col s12 l4 m4 courses-card-section">
						<div class="card hoverable">
							<div class="card-image">
								<img src="images/hero01.jpg">
								<span class="why-title">Card Title</span>
							</div>
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
									markup to use effectively.</p>
							</div>
						</div>
					</div>
					<div class="col s12 l4 m4 courses-card">
						<div class="card hoverable">
							<div class="card-image">
								<img src="images/hero01.jpg">
								<span class="why-title">Card Title</span>
							</div>
							<div class="card-content">
								<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
									markup to use effectively.</p>
							</div>
						</div>

					</div>
					<a class="btn waves-effect white inverted-button">VIEW ALL</a>

				</div>

			</div>
		</div>
		<div class="section " id="register-now-section">

			<div class="container">
				<div class="row">
					<div class="col s8 m5 l5 push-l1 push-m1">
							<div class="card hoverable">
									<div class="card-image ">
										<h4 class= "register-card-title center">REGISTER NOW</h4>
									</div>
									<div class="card-content">
										<div class="row center">
											
													<div class="input-field col s12">
															<input id="last_name" type="text" class="validate">
															<label for="last_name">Last Name</label>
														  </div>

													<div class="input-field col s12">
															<input id="last_name" type="text" class="validate">
															<label for="last_name">Last Name</label>
														  </div>

													<div class="input-field col s12">
															<input id="last_name" type="text" class="validate">
															<label for="last_name">Last Name</label>
														  </div>
														  
														  <a class="btn waves-effect " style="background-color: #13b38b;">SIGN UP</a>
										

										</div>
									</div>
								</div>
					</div>
				</div>

			</div>
		</div>
	</main>
	<%include partials/website_footer.ejs%>



		<div href="#modal1" class="fixed-action-btn modal-trigger">
			<a class="btn-floating btn-large red">
				<i class="large material-icons">email</i>
			</a>

		</div>
		<!-- Modal Structure -->
		<div id="modal1" class="modal bottom-sheet custom-modal center">
			<div class="modal-content center">
				<!-- Begin MailChimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
				<style type="text/css">
					#mc_embed_signup {
						background: #fff;
						clear: left;
						font: 14px Helvetica, Arial, sans-serif;
					}

					/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
								 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
				</style>
				<div id="mc_embed_signup">
					<form action="https://academy.us16.list-manage.com/subscribe/post?u=98eb19cadfaa9a468fe39224c&amp;id=5a034fba88" method="post"
					 id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<label for="mce-EMAIL">Subscribe to Harvin Academy</label>
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true">
								<input type="text" name="b_98eb19cadfaa9a468fe39224c_5a034fba88" tabindex="-1" value="">
							</div>
							<div class="clear">
								<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
							</div>
						</div>
					</form>
				</div>

				<!--End mc_embed_signup-->
			</div>
		</div>


		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="js/materialize.js"></script>
		<script src="js/init.js"></script>