<% include partials/header.ejs%>
	<main>
		<div class="container">
			<form action="/admin/db/gallery" enctype="multipart/form-data" method="post">
				<div class="center-align">
					<h4>Upload into gallery</h4>
				</div>
				<div class="row">
					<div class="col s12 m6 offset-m3">
						<div class="file-field input-field">
							<div class="btn">
								<span>File</span>
								<input name="userFile" required type="file">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="input-field s12 col m6 offset-m3">
						<select name="category" id="category">
							<option value="" disabled selected>Choose Category</option>
							<option value="events">Events</option>
							<option value="results">Results</option>
							<option value="centers">Center</option>
							<option value="infrastructure">Infrastructure</option>
							<option value="classroom">Classroom</option>
							<option value="media">Media and VIP</option>
							<option value="labs">Lab and Library</option>
							<option value="vms-main-panel">VMS main panel</option>
							<option value="vms-events-panel">VMS Events panel</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 m6 offset-m3">
						<textarea id="textarea1" name="description" class="materialize-textarea"></textarea>
						<label for="textarea1">Description</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field s12 col m6 offset-m3">
						<label for="date" id="dateLabel">Date</label>
						<input id="date" name="date" type="text" class="datepicker">
					</div>
				</div>
				<div class="row center-align">
					<input type="submit" value="Upload Image" name="submit" class="btn" />
				</div>
			</form>
		</div>

	</main>
	<% include partials/footer.ejs%>
		<script>
			$(function () {
				$('.datepicker').pickadate({
					selectMonths: true, // Creates a dropdown to control month
					selectYears: 15, // Creates a dropdown of 15 years to control year,
					today: 'Today',
					clear: 'Clear',
					close: 'Ok',
					closeOnSelect: true, // Close upon selecting a date,
					container: undefined, // ex. 'body' will append picker to body
				});
				$date = $('#date')
				$dateLabel = $('#dateLabel')

				$date.hide()
				$dateLabel.hide()
				let selectedCategory = ''
				$('#category').change((e) => {
					// console.log('event', e.target.value);
					selectedCategory = e.target.value
					if (selectedCategory === 'vms-events-panel') {
						$date.show()
						$dateLabel.show()
					} else {
						$date.val('')
						$date.hide()
						$dateLabel.hide()
					}
				})
			})
		</script>