<%include  partials/website_header.ejs%>



<div class = "Not-found">
      
      <p class="text-center">404</p>
      <p class="text-center">Not Found</p>      
</div>


<%include partials/website_footer.ejs%>