<% include partials/header.ejs%>
  <link rel="stylesheet" href="../dist/css/css_login.css">
  <main>
    <div class="section">
      <div class="row">
        <div class="col s12 m8 offset-m2">
          <div class="card horizontal z-depth-5 valign-wrapper">
            <div class="card-image ">
              <img src="/img/card-main-background.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <h3 class="white-text center-align">LOGIN</h3>
                <form >
                  <div class="row">
                    <div class="input-field col s8 offset-s2">
                      <input required type="text" class="validte" name="username" id="username" style="border-bottom:1px solid white; color:white;">
                      <label for="username">USERNAME</label>
                    </div>

                  </div>
                  <div class="row">
                    <div class="input-field col s8 offset-s2 " type="password">
                      <input required type="password" class="form-control" name="password" id="password" style="border-bottom:1px solid white;color:white;">
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <div class="row">
                    <button id="submit-btn" class="btn col s8 offset-s2 white harvinThemeText">Login</button>
                  </div>
                </form>
                <!-- <div class="center-align">
                  <span class='white-text'>Don't have an account?</span><a href="/admin/signup" class="white-text"><i>Sign up</i></a>
                </div> -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
  <% include partials/footer.ejs%>
  <script src="/js/adminLogin.js"></script>
