<%include partials/website_header.ejs%>
<link rel="stylesheet" type="text/css" href="../../css/centers.css">
<link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="../../css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="../../css/mdis.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="../../css/materialize-social.css" type="text/css" rel="stylesheet"></link>
<main>
  <div class="section" id="mdis-container">
    <h2 id="#top-heading">MDIS</h2>
    <h5>Preperation for the European Medical Schools</h5>
  </div>
  <div class="section" id="what-mdis">
    <div id="hero-img"></div>
    <div id="what-info"></div>
  </div>
  <div class="section" id="mdis-tabs">
    <div id="mdis-tabs"></div>
    <div id="mdis-tabs-info"></div>
  </div>
</main>
<%include partials/website_footer.ejs%>


  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../js/materialize.js"></script>
  <script src="../../js/init.js"></script>
