<% include partials/header.ejs%>
	<main>
		<div class="container">
			<h3 style="text-align: center">Upload A New Assignment</h1>
				<hr>
			<form action="/admin/assignment" enctype="multipart/form-data" method="post">
				<div class="row">
					<div class="input-field col s6">
						<input required id="assignmentName" type="text" name="assignmentName"  class="validate">
						<label for="assignmentName">Assignment Name</label>
					</div>
					<div class="col s6">
						<label for="lastSubDate">Last Submission Date</label>
						<input required id="lastSubDate" name="lastSubDate" class="datepicker validate" placeholder="Choose date">
					</div>
				</div>
				<div class="row">
					<div class="col l6">
              <div class="file-field input-field">
                <div class="btn white green-text">
                  <span>File</span>
                  <input name="userFile" required type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </div>
					<div class="input-field col s6">
						<select required class="validate" name="batchName" id="forBatch">
								<option value="" disabled selected>For which Batch</option>
								<%batches.forEach(function (batch) {%>
                    <option value="<%= batch._id %>"><%= batch.batchName %></option>
                <%})%>
							</select>
					</div>
				</div>
				<div class="row center-align">
					<input type="submit" class="btn">
				</div>
			</form>
		</div>
		</main>

		<% include partials/footer.ejs%>
