<meta charset="UTF-8">
<title>Harvin Academy</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width">


<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script src="https://cdn.rawgit.com/rstaib/jquery-steps/master/build/jquery.steps.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="/css/newAdmissionForm.css" type="text/css" rel="stylesheet"></link>

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<body>
	<nav class="no-pad z-depth-0">
		<h2>HARVIN ACADEMY</h2>
	</nav>
	<h4 class="center-align white-text">ADMISSION FORM</h4>
	<main>
		<form enctype="multipart/form-data" id="admission-form" method="post" action="/admin/admission">
			<div id="wizard">

				<h1>Student phone no.</h1>
				<section>
					<div class="row">
						<div class="input-field col s6 offset-s3">
							<input id="phone" type="text" type="text" minlength="10" maxlength="12" required class="validate">
							<label for="phone">Student phone no.</label>
						</div>
					</div>

				</section>

				<h1>Fetched Info</h1>
				<section></section>
				<h1>Additional Info</h1>
				<section>
					<!-- <button class="btn" id="check">check</button> -->
					<div class="container">
						<div class="row">
							<div class="col s4 file-field input-field">
								<div class="btn">
									<span>Photo</span>
									<input type="file" name="profileImg" id="imgInp">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text">
								</div>
							</div>

							<div class="input-field col s3 offset-s5">
								<select name="course" id="course">
									<option value="" selected disabled>Course Applied For</option>
									<%courses.forEach( function ( course ) { %>
										<option value="<%=course.courseName%>"><%=course.courseName%>
										</option>
										<%})%>
								</select>
							</div>
						</div>

						<br>
						<div class="row">
							<div class="col s4">
								<div class="row">
									<div class="col s6">
										<p>
											<input name="gender" value="male" type="radio" id="male" />
											<label for="male">Male</label>
										</p>
									</div>
									<div class="col s6">
										<p>
											<input name="gender" value="female" type="radio" id="female" />
											<label for="female">Female</label>
										</p>
									</div>
								</div>
							</div>
							<div class="col s4 input-field">
								<label for="dob">D.O.B</label>
								<input type="text" id="dob" class="datepicker">
							</div>
							<div class="col s4 input-field">
								<select required name="category" id="category">
									<option value="" selected disabled>Choose the category</option>
									<option value="General">General</option>
									<option value="O.B.C.">O.B.C</option>
									<option value="S.C.">S.C</option>
									<option value="S.T.">S.T.</option>
									<option value="Others">Others</option>
								</select>
							</div>
						</div>

						<br>
						<h5>Parent's/ Guardian's</h5>
						<div class="row">
							<div class="col s4 input-field">
								<input id="guardiansName" name="guardiansName" type="text" required class="validate" />
								<label for="guardiansName">
									<span class="label-text">Name</span>
									<span class="nav-dot"></span>
								</label>
							</div>
							<div class="col s4 input-field">
								<input id="guardiansPhone" name="guardiansPhone" type="text" min="1111111111" max="9999999999" required class="validate">
								<label for="guardiansPhone">Contact no.</label>
							</div>
							<div class="col s4 input-field">
								<input id="guardiansOccupation" name="guardiansOccupation" type="text" required class="validate">
								<label for="guardiansOccupation">Occupation</label>
							</div>
						</div>

						<div class="row">
							<div class="col s12 input-field">
								<input id="perma-address" name="perma-address" type="text" required class="validate" />
								<label for="perma-address">
									<span class="label-text">Permanent Address (If it is different from correspondence one)</span>
									<span class="nav-dot"></span>
								</label>
							</div>
						</div>

						<div class="row">
							<div class="col s9 white-text">
								Marks Obtained (X/XII Science & athematics- Aggregate) - in %
								<div class="input-field inline">
									<input id="marks" name="marks" type="text" class="validate">
									<label for="marks">Marks in %</label>
								</div>
							</div>
							<div class="col s3 input-field">
								<input id="board" name="board" type="text" required class="validate" />
								<label for="board">
									<span class="label-text">Examination Board</span>
									<span class="nav-dot"></span>
								</label>
							</div>
						</div>

						<div class="row">
							<span>
								<input type="checkbox" id="terms" />
								<label for="terms">I have read and agree all the
									<a class="waves-effect waves-light  modal-trigger" href="#terms-modal">terms and conditions</a>
								</label>
							</span>
						</div>

						<br>
						<div class="row center-align">
							<a class="waves-effect waves-light btn modal-trigger" href="#previewModal">
								<i class="material-icons right">assignment</i>Final Form Preview</a>

						</div>

					</div>



				</section>


			</div>


	<div class="updatedInfos">
		<input type="hidden" id="name" name="name">
		<input type="hidden" id="address" name="address">
		<input type="hidden" id="emailId" name="emailId">
		<input type="hidden" id="school" name="school">
		<input type="hidden" id="referral" name="referral">
	</div>

	<div id="fetchedFieldsModal" class="modal">
		<div class="modal-content">
			<h4>Update your info</h4>
			<div class="row">
				<div class="col s12 input-field">
					<input id="auto-name" name="auto-name" type="text" placeholder="Type your name here" required class="validate" />
					<label for="auto-name">
						<span class="label-text">Name</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12 input-field">
					<input id="auto-address" name="auto-address" type="text" placeholder="Type your address here" required class="validate" />
					<label for="auto-address">
						<span class="label-text">Address</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>

			<div class="row">
				<div class="col s12 input-field">
					<input id="auto-emailId" name="auto-emailId" type="email" placeholder="example@gmail.com" required class="validate" />
					<label for="auto-emailId">
						<span class="label-text">Email Id</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>

			<div class="row">
				<div class="col s12 input-field">
					<input id="auto-school" name="auto-school" type="text" placeholder="Your school name" required class="validate" />
					<label for="auto-school">
						<span class="label-text">School</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>

			<div class="row">
				<div class="col s12 input-field">
					<input id="auto-referral" name="auto-referral" type="text" placeholder="Referral" required class="validate" />
					<label for="auto-referral">
						<span class="label-text">Referral</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" id="fetchedFieldsModalCancel" class="modal-action waves-effect waves-green btn-flat">Cancel</a>
			<a href="#!" id="fetchedFieldsModalAgree" class="modal-action  waves-effect waves-green btn-flat">Agree</a>
		</div>
	</div>

</form>
</main>

	<!-- previewModal Structure -->
	<div id="previewModal" class="modal">
		<div class="modal-content">
			<h4>Form Preview</h4>
			<!-- <p>A bunch of text</p> -->
			<div class="row">
				<div class="col s3">
					<img id="imgPrev" src="#" alt="your image" />
				</div>
				<div class="col s3 offset-s6">
					<input id="prev-course" disabled name="prev-course" type="text" placeholder="Course name" required class="validate" />
					<label for="prev-course">
						<span class="label-text">Course Applied For</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>

			<!--  -->
			<div class="row">
				<div class="col s4">
					<div class="row">
						<div class="col s6">
							<p>
								<input name="prev-gender" disabled type="radio" id="prev-male" />
								<label for="prev-male">Male</label>
							</p>
						</div>
						<div class="col s6">
							<p>
								<input name="prev-gender" disabled type="radio" id="prev-female" />
								<label for="prev-female">Female</label>
							</p>
						</div>
					</div>
				</div>
				<div class="col s4 input-field">
					<label for="prev-dob">D.O.B</label>
					<input type="text" id="prev-dob" placeholder="01/01/1990" disabled name="prev-dob">
				</div>
				<div class="col s4 input-field">
					<input id="prev-category" placeholder="GEN" disabled name="prev-category" type="text" required class="validate" />
					<label for="prev-category">
						<span class="label-text">Category</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>


			<!--  -->
			<div class="row">
				<div class="col s4 input-field">
					<input id="prev-name" disabled placeholder="Your name" name="prev-name" type="text" required class="validate" />
					<label for="prev-name">
						<span class="label-text">Name</span>
						<span class="nav-dot"></span>
					</label>
				</div>
				<div class="col s4 input-field">
					<input id="prev-emailId" placeholder="Your email id" disabled name="prev-emailId" type="email" type="text" required class="validate">
					<label for="prev-emailId">Email Id</label>
				</div>
				<div class="col s4 input-field">
					<input id="prev-phone" placeholder="Your phone" name="prev-phone" disabled type="text" type="text" required class="validate">
					<label for="prev-phone">Contact</label>
				</div>
			</div>

			<!--  -->
			<h5>Parent's/ Guardian's</h5>

			<div class="row">
				<div class="col s4 input-field">
					<input id="prev-guardiansName" placeholder="Guardians Name" name="prev-guardiansName" disabled type="text" required class="validate"
					/>
					<label for="prev-guardiansName">
						<span class="label-text">Name</span>
						<span class="nav-dot"></span>
					</label>
				</div>
				<div class="col s4 input-field">
					<input id="prev-guardiansPhone" placeholder="Guardians Contact" name="prev-guardiansPhone" type="text" disabled type="text"
					  min="1111111111" max="9999999999" required class="validate">
					<label for="prev-guardiansPhone">Contact no.</label>
				</div>
				<div class="col s4 input-field">
					<input id="prev-guardiansOccupation" placeholder="Guardians Occupation" name="prev-guardiansOccupation" disabled type="text"
					  type="text" min="1111111111" max="9999999999" required class="validate">
					<label for="prev-guardiansOccupation">Occupation</label>
				</div>
			</div>

			<!--  -->

			<div class="row">
				<div class="col s12 input-field">
					<input id="prev-address" disabled name="prev-address" placeholder="Address" type="text" required class="validate" />
					<label for="prev-address">
						<span class="label-text">Correspondence Address</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>

			<!--  -->
			<div class="row">
				<div class="col s12 input-field">
					<input id="prev-perma-address" disabled name="prev-perma-address" placeholder="Permanent Address" type="text" required class="validate"
					/>
					<label for="prev-perma-address">
						<span class="label-text">Permanent Address (If it is different from correspondence one)</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>

			<div class="row">
				<div class="col s12 input-field">
					<input id="prev-school" disabled name="prev-school" placeholder="Your school" type="text" required class="validate" />
					<label for="prev-school">
						<span class="label-text">School</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>

			<div class="row">
				<div class="col s9 white-text">
					Marks Obtained (X/XII Science & athematics- Aggregate) - in %
					<div class="input-field inline">
						<input id="prev-marks" disabled name="prev-marks" placeholder="00" type="text" class="validate">
						<label for="prev-marks">Marks in %</label>
					</div>
				</div>
				<div class="col s3 input-field">
					<input id="prev-board" disabled name="prev-board" type="text" placeholder="CBSE" required class="validate" />
					<label for="prev-board">
						<span class="label-text">Examination Board</span>
						<span class="nav-dot"></span>
					</label>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
		</div>


	</div>




	<div id="terms-modal" class="modal">
		<div class="modal-content">
			<h4>Harvin Academy Terms & conditions</h4>
			<p>A bunch of text</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
		</div>
	</div>
	<% if(msg_error && msg_error.length > 0){ %>
		<span id="error-card">
			<%=msg_error%>
		</span>
		<% } %>

			<% if(msg_success && msg_success.length > 0){ %>

				<span id="success-card">
					<%=msg_success%>
				</span>

				<% } %>
</body>

<script src="/js/main.js" charset="utf-8"></script>
<script src="/js/newAdmissionForm.js" charset="utf-8"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script> -->

</html>
