<meta charset="UTF-8">
<title>Harvin Academy</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width">


<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="/dist/DateTimePicker.min.js" type="text/javascript"></script>
<script src="/js/newVms.js" type="text/javascript"></script>
<link href="/css/newVms.css" type="text/css" rel="stylesheet"></link>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<body>
	<nav class="no-pad z-depth-0">
		<h2>HARVIN ACADEMY</h2>
	</nav>
		<h4 class="center-align white-text">ADMISSION FORM</h4>
	<main>
		<div class="section no-pad">

			<div class="container center">
				<div class="row center-align main-row">
					<div class="col s12 m6 push-m3 push-l3">

						<form id="new-vms-form" >


							<div class="row">
									<div class="col s2">
											<div class="input-field">
													<input  type="text" value="+91" />
												</div>
										</div>
								<div class="col s10">
									<div class="input-field">
											<input id="phone" name="phone" type="text" min="1111111111" max="9999999999" required class="validate" />
											<label for="phone">
													<span class="label-text">Phone</span>
													<span class="nav-dot"></span>
												</label>
										</div>
								</div>
							</div>


							<div class="row center">

								<button class="btn" id="phone-submit">Submit</button>

							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

		</div>

		<div id="fetchedFieldsModal" class="modal">
			<div class="modal-content">
				<h4>Modal Header</h4>	
				<p>A bunch of text</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
			</div>
		</div>

	</main>
	<% if(msg_error && msg_error.length > 0){ %>
		<span id="error-card">
					<%=msg_error%>
				</span>
		<% } %>

			<% if(msg_success && msg_success.length > 0){ %>

				<span id="success-card">
							<%=msg_success%>
						</span>

				<% } %>
</body>

<script src="/js/main.js" charset="utf-8"></script>
<script>
	$(function(){

		$('.modal').modal();
		$('#phone-submit').on('click', function(e){
			e.preventDefault()
			let phone = $('#phone').val()
			console.log('clicked', phone)

			$.ajax({
				url: '/vms/phone/'+ phone,
				method: 'GET',
				success:function(res){
					console.log('res', res)
					$('#fetchedFieldsModal').modal('open');
				},
				error:function(err){
					console.log('err', err)
				}
			})

		})
	})
</script>
</html>
