<% include partials/header.ejs%>
	<% include partials/includeBS.ejs%>

		<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">

		<div class="section">

			<div class="container">
				<div class="row">
					<div class="col s8">
						<form method="post" class="newBlogForm" action="/admin/blog" method="post">
							<div class="input-field">
								<input id="blog_title" type="text" name="title" class="validate">
								<label for="first_name">Blog Title</label>
							</div>
							<div class="file-field input-field">
								<div class="btn">
									<span>File</span>
									<input type="file">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text">
								</div>
							</div>

							<textarea id="summernote" name="editordata"></textarea>
							<div class="center-align">
								<button class="btn" type="submit">Submit</button>
							</div>
						</form>
					</div>
					<div class="col s4">
						<div class="file-field input-field">
							<div class="btn" id="file-input-btn">
								<span>File</span>
								<input id="files" type="file" name="files[]" multiple />
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text">
							</div>
						</div>

						<div class="btn" id="file-input-btn">

							<input id="" type="" name="files[]" multiple />
						</div>
						<div id="img-to-upload"></div>
					</div>

				</div>
			</div>
		</div>

		<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

		<style>
			.thumb {
				height: 75px;
				border: 1px solid #000;
				margin: 10px 5px 0 0;
			}
		</style>

		<script>
			$(function() {
				let imageTrackArr = []
				let uploadCounter = 1

				function checkBlogTitle(event) {
					let blogTitle = $('#blog_title').val()
					console.log('title1', blogTitle)
					if (blogTitle == '') {
						event.preventDefault();
						event.stopPropagation();

						alert('please specify the blog title')
						return false
					} else {
						return true
					}
				}

				function handleFileSelect(evt) {
					let blogTitle = $('#blog_title').val()

					console.log('title2', blogTitle)
					var files = evt.target.files; // FileList object



					// Loop through the FileList and render image files as thumbnails.
					for (var i = 0, f; f = files[i]; i++) {
						if (!f.type.match("image.*"))
							continue

				let reader= new FileReader()
					// Closure to capture the file information.
					reader.onload = (function(theFile) {
						return function(e) {
							let fd = new FormData()
							fd.append("files", e.target.result)
							// Render thumbnail.
							let span = document.createElement('span');
							span.innerHTML = ['<img class="thumb" src="', e.target.result,
								'" title="', escape(theFile.name), '"/>'
							].join('');
							document.getElementById('img-to-upload').insertBefore(span, null);
							if (checkBlogTitle == false)
								return;
							else {
								console.log(typeof e.target.result)

								$.ajax({

									url: '/admin/blog/' + blogTitle + '/images',
									type: 'post',

									contentType: 'multipart/form-data',
									processData: false,
									success: function(response) {
										console.log('resp', response)
									},
									error: function(error) {
										console.log('error', error);
									}
								});
							}
						};
					})(f);

					// Read in the image file as a data URL.
					console.log(typeof f)
					reader.readAsDataURL(f);
				}

}


			document.getElementById('files').addEventListener('change', handleFileSelect, false); document.getElementById('files').addEventListener('click', checkBlogTitle, false);
			// setInterval(checkUpload, 2000)
			//
			// function checkUpload() {}
			})
		</script>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io('/admin/blog',{ forceNew: true });
	socket.emit('chat message',"hello");
</script>

		<% include partials/footer.ejs%>
