<% include partials/header.ejs%>
<% include partials/includeBS.ejs%>

<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">

<div class="container">
	<form method="post" class="newBlogForm" action="/blog" method="post">
		<textarea id="summernote" name="editordata"></textarea>
		<div class="center-align">
				<button class="btn" type="submit">Submit</button>
		</div>
	</form>

</div>


<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
	<% include partials/footer.ejs%>
