<% include partials/header.ejs%>
	<% include partials/includeBS.ejs%>

		<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/newBlog.css">
		<main>

			<ul id="slide-out-image" class="side-nav">


				<li><a href="#!">John Doe</a></li>
				<li><a href="#!">jdandturk@gmail.com</a></li>

				<li class="media-item z-depth-3">
					<div class="file-field input-field">
						<div class="btn file-btn" id="file-input-btn">
							<span>Add Pictures</span>
							<input id="files" type="file" name="files[]" multiple />
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>
					<div id="img-to-upload"></div>
			</ul>





			<div class="section">
				<div class="container">
					<form method="post" class="newBlogForm" action="/admin/blog" method="post">
						<div class="input-field">
							<input id="blog_title" type="text" name="title" class="validate">
							<label for="first_name">Blog Title</label>
						</div>
						<div class="file-field input-field">
							<div class="btn file-btn">
								<span>File</span>
								<input type="file">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text">
							</div>
						</div>
						<textarea id="summernote" name="editordata"></textarea>
						<div class="center-align">
							<button class="btn" type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>

			<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
				<a href="#" data-activates="slide-out-image" class="button-collapse-image"><i class="material-icons">collections</i></a>
			</div>

		</main>


		<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/blogInsert.js"></script>
<script src="/dist/clipboard.min.js"></script>


		<% include partials/footer.ejs%>
