<% include partials/header.ejs%>
	<main>
		<div class="container">
			<h3 style="text-align: center">Set A New Exam</h1>
				<hr>
			<form action="/admin/exams" method="post">
				<div class="row">
					<div class="input-field col s6">
						<input id="examName" type="text" name="examName"  class="validate">
						<label for="examName">Exam Name</label>
					</div>
					<div class="input-field col s6">
						<input id="examDate"name="examDate"  class="datepicker">
						<label for="examDate">Exam Date</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<select required name="examType" id="examType">
                <option value="" selected disabled>Choose the type of Exam</option>
                <option value="True - False">True - False</option>
                <option value="MCQ- Only 1 correct">MCQ- Only 1 correct</option>
                <option value="MCQ- More than 1 correct">MCQ- More than 1 correct</option>
                <option value="Mixed">Mixed</option>
            </select>
					</div>
					<div class="input-field col s6">
						<select name="batchName" id="forBatch">
								<option value="" disabled selected>For which Batch</option>
								<%batches.forEach(function (batch) {%>
                    <option value="<%= batch._id %>"><%= batch.batchName %></option>
                <%})%>
							</select>
					</div>
				</div>


				<div class="row">
					<div class="input-field col s6">
						<input id="totalTime" type="number"  name="totalTime" class="validate">
						<label for="totalTime">Total time (in Minutes)</label>
					</div>
					<div class="input-field col s6">
						<input id="posMarks" name="posMarks"  type="number" class="validate">
						<label for="posMarks">Positive Marks</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="negMarks" name="negMarks"  type="number" class="validate">
						<label for="negMarks">Negative Marks</label>
					</div>
					<div class="input-field col s6">
						<input id="maxMarks" name="maxMarks"  type="number" class="validate">
						<label for="maxMarks">Maximum Marks</label>
					</div>
				</div>

				<div class="row center-align">
					<input type="submit" class="btn">
				</div>
			</form>
		</div>
	</main>
	<script>
	$(function () {
		$('.datepicker').pickadate({
		selectMonths: true, // Creates a dropdown to control month
		selectYears: 15, // Creates a dropdown of 15 years to control year,
		today: 'Today',
		clear: 'Clear',
		close: 'Ok',
		closeOnSelect: false // Close upon selecting a date,
	});
		// $.get('/admin/batches', function (res) {
		// 	// console.log('batches', res.batches);
		// 	batches = {};
		// 	res.batches.forEach((batch) => {
		// 		// console.log('batch', batch);
		// 		batches[batch.batchName] = null
		// 	})
		// 	console.log('obj', batches);
		// 	console.log($("#autocomplete-input"));
		// 	$('#autocomplete-input').autocomplete({
		// 	    data: batches,
		// 	    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
		// 	    onAutocomplete: function(val) {
		// 	      // Callback function when value is autcompleted.
		// 	    },
		// 	    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
		// 	  });
		// })
	})
	</script>
	<% include partials/footer.ejs%>
