<% include partials/header.ejs%>
	<h1 style="text-align: center">Set A New Exam</h1>

	<div class="container">
		<div style="width: 50%; margin:25px auto;">
			<form action="/exams" method="post" class="form-horizontal">
				<div class="form-group">
					<label for="examName" class="col-sm-3 control-label">Exam Name</label>
					<div class="col-sm-9">
						<input name="examName" type="text" class="form-control" id="examName" placeholder="Give Exam name">
					</div>
				</div>
				<div class="form-group">
					<label for="examDate" class="col-sm-3 control-label">Exam Date</label>
					<div class="col-sm-9">
						<input name="examDate" type="datetime" data-field="datetime" id="examDate" class="form-control" placeholder="Click to choose Date and Time">
						<div id="dtBox"></div>
					</div>
                </div>
                <div class="form-group">
                    <label for="examType" class="col-sm-3 control-label">Exam Type</label>
                    <div class="col-sm-1">
                        <select class="selectpicker" name="examType" id="examType">
                            <option value="" disabled selected>Choose type</option>
                            <option value="True - False">True - False</option>
                            <option value="MCQ- Only 1 correct">MCQ- Only 1 correct</option>
                            <option value="MCQ- More than 1 correct">MCQ- More than 1 correct</option>
                            <option value="mixed">Mixed</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxMarks" class="col-sm-3 control-label">Maximum Marks</label>
                    <div class="col-sm-9">
                        <input name="maxMarks" type="number" class="form-control" id="maxMarks" placeholder="Maximum marks for this exam">
                    </div>
                </div>
                <div class="form-group">
                    <label for="passMarks" class="col-sm-3 control-label">Passing Marks</label>
                    <div class="col-sm-9">
                        <input name="passMarks" type="number" class="form-control" id="passMarks" placeholder="Minimum marks to pass this exam">
                    </div>
                </div>
                <div class="form-group">
                    <label for="negMarks" class="col-sm-3 control-label">Negative Marks</label>
                    <div class="col-sm-9">
                        <input name="negMarks" type="number" class="form-control" id="negMarks" placeholder="Negative marks ? If answered incorrectly">
                    </div>
                </div>
                <input type="submit" class="btn btn-primary">
			</form>
		</div>
	</div>

	<% include partials/footer.ejs%>

