<% include partials/header.ejs %>
<h1 style="text-align: center">Submit New Query</h1>

<div class="container">
  <div style="width: 50%; margin:25px auto;">
    <form action="/queries" method="post" class="form-horizontal">
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Student Name</label>
        <div class="col-sm-9">
          <input autofocus required name="name" type="text" class="form-control" id="name"
                 placeholder="Give Student name">
        </div>
      </div>
      <div class="form-group">
        <label for="emailId" class="col-sm-3 control-label">Email Id</label>
        <div class="col-sm-9">
          <input autofocus required name="emailId" type="email" class="form-control" id="emailId"
                 placeholder="Email of Student">
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="col-sm-3 control-label">Contact</label>
        <div class="col-sm-9">
          <input autofocus required name="phone" min="1000000000" max="9999999999" type="number" id="phone" class="form-control"
                 placeholder="Contact no. of student">
        </div>
      </div>
      <div class="form-group">
        <label for="classs" class="col-sm-3 control-label">Which class</label>
        <div class="col-sm-9">
          <select data-live-search="true" title="Choose the class" required class="selectpicker form-control"
                  name="classs" id="classs">
            <option value="IX">IX</option>
            <option value="X">X</option>
            <option value="XI">XI</option>
            <option value="XII">XII</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="queryMsg" class="col-sm-3 control-label">What's the query</label>
        <div class="col-sm-9">
          <textarea autofocus required name="queryMsg" class="form-control" id="queryMsg"
                    placeholder="What is the query of student"></textarea>
        </div>
      </div>
      <input type="submit" class="btn btn-primary">
    </form>
  </div>
</div>

<% include partials/footer.ejs %>

