<div class="container">
  <h2>  HARVIN ACADEMY</h2>
<% include harvin-form-v2.ejs %>
</div>

<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
  font-family: 'Montserrat', sans-serif;

}
h2{


  display:block;
  text-align:center;
  color:white;
  margin:20px;
  font-size: 50px !important;
}
</style>
