<% include partials/header.ejs%>
  <main>

    <div class="container">
      <div class="row center-align">
        <h3>Question Bank update</h3>
      </div>
      <hr>
      <br>
      <br>
      <div class="row">
        <div class="col s6">
          <div class="card ">
            <div class="card-content ">
              <span class="card-title">Move Subject to another Class</span>

            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn modal-trigger" href="#updateSubjectModal">Update Subject</a>
            </div>
          </div>
        </div>
        <div class="col s6">
          <div class="card ">
            <div class="card-content ">
              <span class="card-title">Move Chapter to another Subject</span>

            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn modal-trigger" href="#updateChapterModal">Update Chapter</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Structure -->
    <div id="updateSubjectModal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <div class="row">
          <div class="col s6">
            <select id="updateSubjectSelect">
              <option value="" disabled selected>Select subject</option>

            </select>
            <label>Select Subject</label>
          </div>
          <div class="col s6">
            <select id="updateSubjectClassSelect">
              <option value="" disabled selected>Select Class</option>

            </select>
            <label>Select Class</label>
          </div>
        </div>
        <div class="row">
          <p id="updateSubjectStatement">
            <span id="updateSubjectSelectedSubjectSpan" hidden> The
              <i>selected subject </i>
              <b id="updateSubjectSubjectName"></b>
            </span>
            <span id="updateSubjectCurrentClassSpan" hidden>will be moved from
              <i>current class </i>
              <b id="updateSubjectCurrentClass"></b>
            </span>
            <span id="updateSubjectNewClassSpan" hidden> to
              <i>new class</i>
              <b id="updateSubjectNewClass"></b>
            </span>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <a id="updateSubject" class="modal-action modal-close waves-effect waves-green btn-flat">update</a>
      </div>
    </div>

    <div id="updateChapterModal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <div class="row">
          <div class="col s6">
            <select id="updateChapterSelect">
              <option value="" disabled selected>Select Chapter</option>

            </select>
            <label>Select Chapter</label>
          </div>
          <div class="col s6">
            <select id="updateChapterSubjectSelect">
              <option value="" disabled selected>Select Subject</option>

            </select>
            <label>Select Subject</label>
          </div>
        </div>
        <div class="row">
          <p id="updateChapterStatement">
            <span id="updateChapterSelectedChapterSpan" hidden> The
              <i>selected chapter </i>
              <b id="updateChapterChapterName"></b>
            </span>
            <span id="updateChapterCurrentSubjectSpan" hidden>will be moved from
              <i>current subject </i>
              <b id="updateChapterCurrentSubject"></b>
            </span>
            <span id="updateChapterNewSubjectSpan" hidden> to
              <i>new subject</i>
              <b id="updateChapterNewSubject"></b>
            </span>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <a id="updateChapter" class="modal-action modal-close waves-effect waves-green btn-flat">Update</a>
      </div>
    </div>

    <div id="updateClassModal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <div class="row">
          <div class="col s6">
            <select id="updateClassSelect">
              <option value="" disabled selected>Select Class</option>

            </select>
            <label>Select Class</label>
          </div>
          <div class="col s6">
            <select id="updateClassSubjectsSelect" multiple>
              <option value="" disabled selected>Select Subjects</option>

            </select>
            <label>Select Subjects</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a id="updateChapter" class="modal-action modal-close waves-effect waves-green btn-flat">Update</a>
      </div>
    </div>


  </main>
  <% include partials/footer.ejs%>
    <script src="/js/updateQb.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js" integrity="sha256-YFhaeQSVBgAFNN5z4I9YRB2jCuqc2nvypz0Q2eQzcx8="
      crossorigin="anonymous"></script>
