<% include partials/header.ejs%>
    <main>
      <div class="container">
        <h3 class="center-align"> Add New Question</h3>
        <hr>
        <form class="addNewQuestion" id="addNewQuestion" action="/admin/questionBank" method="post">
<!--  -->
        <div class="row">
            <div class="col s12 m4">
              <div class="input-field ">
                <input name="className" required type="text" id="className" autocomplete="off" class="autocomplete validate">
                <label for="className">Class Name</label>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="input-field ">
                <input name="subjectName" required type="text" id="subjectName" autocomplete="off" class="autocomplete validate">
                <label for="subjectName">Subject Name</label>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="input-field ">
                <input name="chapterName" required type="text" id="chapterName" autocomplete="off" class="autocomplete validate">
                <label for="chapterName">Chapter Name</label>
              </div>
            </div>
          </div>
<!--  -->

          <div class="row">
            <div class="form-group">
              <h2 style="text-align:left;float:left;"><label for="question" class="control-label">Question</label></h2>
              <input style="text-align:right;float:right;" type="submit" value="Add this Question" class="btn  ">
              <div class="row">
                <div class="col-sm-12">
                  <textarea required name="question" class="form-control" id="question" cols="30" rows="5" placeholder="e.g: Delhi is a..?"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <h2><label for="options" class="">Options</label></h2>
                <div class="input-append col-sm-12">
                  <div id="field">
                    <input required name="options" autocomplete="off" class="input opt glowing-border" id="field1" type="text" />
                    <button id="b1" class="btn add-more" type="button">+</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <h2>
                            <label for="answer" class="control-label">Answer</label>
                             <span class="btn btn-lg refresh glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        </h2>
                  <div class="col-sm-9" id="answers"></div>


                </div>
              </div>
            </div>

          </div>

      </div>


    </main>
    <script src="/js/questionBank.js" charset="utf-8"></script>
    <% include partials/footer.ejs%>
