<%include partials/website_header.ejs%>
	<link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
	<link href="../../css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
	<link href="../../css/materialize-social.css" type="text/css" rel="stylesheet"></link>
	<link rel="stylesheet" type="text/css" href="../../css/results.css">

	<div class="section no-pad-top">

		<div class="col s12">

			<ul class="tabs">
				<div class="container">
					<div class="row">
						<li class="tab col l4 s4 m4">
							<a class="active" href="#achiever-container">ACHIEVERS</a>
						</li>
						<li class="tab col l4 s4 m4">
							<a href="#results-container">RESULTS</a>
						</li>
						<li class="tab col l4 s4 m4">
							<a href="#testimonials-container">TESTIMONIALS</a>
						</li>
					</div>
				</div>
			</ul>



		</div>
	</div>
	<main>
		<div id="testimonials-container" class="section">
			<%if(testimonials){%>
				<div class="container">
					<div class="row">
						<%testimonials.forEach((testimonial,i)=>{%>
							<div class="col l4 m4 s12">
								<div class="card horizontal">
									<div class="card-image">
										<img src="<%=testimonials[0].src%>">
									</div>
									<div class="card-stacked valign-wrapper">
										<div class="card-content">
											<p>
												<%=testimonial.description%>
											</p>
										</div>
									</div>
								</div>
							</div>
							<%})%>
					</div>
				</div>
				<%}%>
		</div>

		<div id="results-container" class="section">Test 3</div>
		<div class="section" id="achiever-container">
			<div class="container">
				<div class="row">
					<%if(students){%>
						<%students.forEach(function(student, i){%>
							<div class="col s12 m3">
									<div class="card">
										<div class="card-image">
											<img src="<%=student.src%>">
											<div class="card-title achieverDescription"><%=student.description%></div>
										</div>
									</div>
								</div>
						<% }) %> 
					<% }%> 
				</div>
			</div>
		</div>


	</main>
	<%include partials/website_footer.ejs%>


		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="../../js/materialize.js"></script>
		<script src="../../js/init.js"></script>
		<script src="../../js/initResults.js"></script>
