<% include partials/header.ejs %>
  <main>
    <div class="container">
      <h2 class="center-align">Institute sign up</h2>
      <hr>
      <br>
      <div>
        <form class="center-align">
          <div class="row">
            <div class="input-field col s4 offset-s2">
              <input required id="instituteName" name="instituteName" type="text" class="validate">
              <label for="instituteName">Name of your Institute</label>
            </div>
            <div class="input-field col s4 ">
              <input required id="username" name="username" type="text" class="validate">
              <label for="username">Name of Center (Unique)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4 offset-s2">
              <input required id="centerName" name="centerName" type="text" class="validate">
              <label for="centerName">Display Name of Center</label>
            </div>
            <div class="input-field col s4 ">
              <input required type="password" name="password" id="password">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 offset-s3 ">
              <select multiple name="role" id="role">
                <option value="" disabled >Access Rights for this center</option>
                <option value="admin" selected>Admin</option>
                <option value="centre" selected>Centre</option>
              </select>
              <label>Role / Access Rights for this center</label>
            </div>
          </div>

          <div class="center-align">
            <button class="btn" id="submit-btn">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>

    </div>
  </main>
<script src="/js/adminSignup.js"></script>
  <% include partials/footer.ejs %>
