<% include partials/header.ejs %>
  <main>
    <h1 style="text-align:center">Sign up</h1>
    <div style="width: 30%; margin:25px auto">
      <form action="/admin/signup" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input required type="text" class="form-control" name="username" id="username" placeholder="User name">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input required type="password" class="form-control" name="password" id="password" placeholder="password">
        </div>
        <div class="form-group">
          <label for="role">Signup as</label>
          <div>
            <select data-live-search="true" multiple required title="Choose your role" name="role" id="role">
                <option value="" disabled selected>Choose Your Role</option>
              <option value="admin">Admin</option>
              <option value="centre">Centre</option>
            </select>
          </div>
        </div>
        <div class="center-align">
          <button type="submit" class="btn">Sign Up <i class="material-icons right">send</i></button>
        </div>
      </form>
    </div>

  </main>
  <% include partials/footer.ejs %>
