<% include partials/website_header.ejs%>
	<main>



	<div id="LoginComponent" style="height:90%; margin-top:8%;"></div>
	</main>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/bundle.js"></script>
<script src="/js/materialize.js"></script>

	<% include partials/website_footer.ejs%>
	<script src="/js/studentRegister.js"></script>
