<% include partials/website_header.ejs%>
	<main>


	<div class="container">
			<h3 class="center-align">Register a new Account</h3>
			<hr>
			<br>
			<form action="/student/signup" method="post">
				<div class="row">
					<div class="col s12 m6 input-field">
						<input id="username" name="username" type="text" class="validate">
						<label for="username">User Name</label>
					</div>
					<div class="col s12 m6 input-field">
						<input id="password" name="password" type="text" class="validate">
						<label for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m6 input-field">
						<input id="fullName" name="fullName" type="text" class="validate">
						<label for="fullName">Full Name</label>
					</div>
					<div class="col s12 m6 input-field">
						<input id="emailId" name="emailId" type="email" class="validate">
						<label for="emailId">Email Id</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m6 input-field">
						<input id="phone" name="phone" type="number" min="1111111111" max="9999999999" class="validate">
						<label for="phone">Phone</label>
					</div>
					<div class="col s12 m6 input-field">
						<select name="batch">
							<option value="" disabled selected>Choose your option</option>
							<%foundBatches.forEach(function(batch){%>
								<option value="<%=batch.batchName%>"><%=batch.batchName%></option>
							<%})%>
						</select>
						<label>Select Batch</label>
					</div>
				</div>

				<div class="center-align">
					<button type="submit" class="btn">Submit</button>
				</div>
			</form>
	</div>
	<div id="RegisterComponent"></div>
	</main>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/bundle.js"></script>
<script src="/js/materialize.js"></script>

	<% include partials/website_footer.ejs%>
	<script src="/js/studentRegister.js"></script>
