<%include partials/website_header.ejs%>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css">
  <link rel="stylesheet" type="text/css" href="../dist/css/css_faculty.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css">

  <link type="text/css" href="../dist/css/css_aboutus.css" rel="stylesheet" media="screen,projection" />

  <main>


    <div class="section ">


    </div>
    <!-- Advisory Board -->
		<div class="section" id="content-parent">
			<div class="" id="content">
				<div class="container center ">
					<br>
					<h3 class="">ADVISORY BOARD</h3>
					<hr>
					<br>
					<div class="row" style="margin-bottom:0;">
						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board1.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Vinay Aggarwal</b><br> Member, Medical Council of India </p>
									</div>
								</div>
							</div>
						</div>
						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board2.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. V.K. Monga </b> <br>MBBS MAMC <br>Former Counselor</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board3.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Kanwar Sain </b><br>MBBS MAMC <br>Ex. Mayor Delhi</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board4.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Anil Arora </b> <br>Asst. Director Max Super Speciality Hospital Delhi
										</p>
									</div>
								</div>
							</div>
						</div>
						</div>
            <div class="row">
						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board5.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Yogesh Aggarwal </b><br>MBBS, MS Sr. Laparoscopic Surgeon</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board6.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Ajay Jain  </b><br>MBBS MS <br>President IMA-EDB</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board7.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Harish Gupta </b><br>MBBS, MS <br>MAMC Member, DMC</p>
									</div>
								</div>
							</div>
						</div>
            <div class="col l3 m3 s6">
              <div class="card advisory-card">
                <div class="card-image">
                  <img src="../../images/advisory_board12.jpg">
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                    <p>
                      <b>Dr. Reema Dahiya </b><br>MBBS, MD MAMC Sr. consultant, Radix Healthcare</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="row">
						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board9.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Praveen Bhanot </b><br>MBBS <br> Ex. President IMA-EDB</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board10.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Roopam Arora </b> MBBS, MD <br>Sr. Gynaecologist Radix Healthcare</p>
									</div>
								</div>
							</div>
						</div>


						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board11.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Vikas Bhardwaj </b>MBBS,MS,DNB MAMCSr. Consultant, Radix Healthcare
										</p>
									</div>
								</div>
							</div>
						</div>


							<br>
							<br>
						</div>

					</div>
				</div>
			</div>
  </main>

  <%include partials/website_footer.ejs%>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>
