<%include partials/website_header.ejs%>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css">
  <link rel="stylesheet" type="text/css" href="../css/faculty.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css">

  <link type="text/css" href="/css/aboutus.css" rel="stylesheet" media="screen,projection" />

  <main>


    <div class="section ">
      <div class="container">

        <div class="row center">
          <div class="col l12">
            <h2>Our Management</h2>

          </div>
        </div>
        <div class="row">
          <div class="col l6 m6 s12">
            <div class="card large">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/1J5A2894.JPG">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Dr. Ravi Malik <i class="material-icons right">more_vert</i></span>
                <p><a href="#">Social /Presonal links goes here</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Dr. Ravi Malik is the inspiration, mentor and guide behind the Harvin Academy. He believes that every child has an infinite inherent potential. Even an average child can achieve a tremendous result by opting out the most basic success
                  principles such as regular study, effective use of time, understanding the fundamnetals rather than mugging up. Harvin Academy not only empowers students' academic abilities but also with other techniques which help them to crack the
                  competitive exams.</p>
              </div>
            </div>
          </div>
          <div class="col l6 m6 s12">
            <div class="card large">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/1J5A2894.JPG">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Dr. N.K. Sharma<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Social /Presonal links goes here</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>A well-known zoology and botany expert all over the country, Dr. N.K. Sharma
is the managing director of Harvin Academy. He believes that the most important aspect of
education is passionate teaching and his forte is to explain the concept using visual aids. He has
the deep understanding of student psychology and the pressures on them. Dr. N.K sharma helps
students master the psychological doubts, pressures and mentors them for strategic planning.</p>
              </div>
            </div>
          </div>
          <div class="col l6 m6 s12">
            <div class="card large">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/1J5A2894.JPG">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Dr. Vipin Aggarwal <i class="material-icons right">more_vert</i></span>
                <p><a href="#">Social /Presonal links goes here</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p> A veteran chemistry academician with 27 years of teaching experience, Dr.
Vipin aggarwal is the director at Harvin Academy who has served as a professor at almost every
educational service. His vision is to make Harvin academy a generator of top rankers in
engineering and medical entrance examinations. His meticulous and total quality management
has established Harvin as the leading brand in Medical Entrance Coaching in India.</p>
              </div>
            </div>
          </div>
          <div class="col l6 m6 s12">
            <div class="card large">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/1J5A2894.JPG">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Dr. Ritesh Malik<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Social /Presonal links goes here</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p> Dr. Ritesh Malik is a young and dynamic serial entrepreneur who has passed
his medical school from Govt. Theni Medical College and has attended courses at prestigious
institutions like London school of Economics and Harvard University. He is the thinker and
innovationist at Harvin Academy He believes that motivation and strategy are the most integral
aspects of selection in any competitive exams. He stives to provide constant motivation and
knowledge management strategies for his students at Harvin academy.</p>
              </div>
            </div>
          </div>
          <div class="col l6 m6 s12">
            <div class="card large">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/1J5A2894.JPG">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Dr. Shruti Malik<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Social /Presonal links goes here</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p> She is a passionate endodontist, who has completed her medical education
from Lucknow. Dr. Shruti Malik believes in letting students have a personal touch with Hravin
Academy. She considers that knowledge should be transmitted through visual aids which helps
students to understand the subjects a far more better way and makes it more conceptual.</p>
              </div>
            </div>
          </div>
          <div class="col l6 m6 s12">
            <div class="card large">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/images/1J5A2894.JPG">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Social /Presonal links goes here</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>

  <%include partials/website_footer.ejs%>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.js"></script>
    <script src="../js/init.js"></script>
