<%include partials/website_header.ejs%>
	<link type="text/css" href="../dist/css/css_aboutus.css" rel="stylesheet" media="screen,projection" />
	<main>
		<div class="row">
			<div class="col l8 offset-l2 s12">
				<div class="card harvinTheme">
					<div class="card-content white-text">
						<span class="card-title white-text center-align">Terms & Conditions</span>
						<p>&diams; <b>Late payment of fee</b> – If any student does not pay the fee on the due date, he/she will
								shall be stopped from attending the classes.Students can resume classes only after fee
								payment and late fee penalty. Late payement penalty is Rs 100/- per day first 10 days
								and Rs 200/- per day subsequently.</p><br>
						<p>&diams; <b>Discipline</b> – If the teachers feel that the student is not working hard, creating indiscipline
								or using unfair means in the academy, he/she may be expelled from the Academy. If any
								student/parent misbehaves with any staff member of the academy, the student may be
								expelled from the academy.The decision of the Director in this regard will be final and
								binding on the student/parent. No fee or part of the fee will be refunded in such cases.</p><br>
						<p>&diams; <b>Absenteeism</b> – If any student is absent for more than two weeks continuosly without
								any prior written application, he/she may be expelled from the Academy. The decision
								of the Director in this regard will be final and binding on the student/parent. No fee or
								part of the fee will be refunded in such cases.</p><br>
						<p>&diams; Academy plays no role in applying for different examinations.</p><br>
						<p>&diams; The Academy reserves the right to use the photograph for publicity in case the student
								secures position/success in Medical Entrance Examinations.</p><br>
						<p>&diams; Service Tax is calculated as per Government rules. Any change would be passed on to
								student as is and will be borne by the student.</p><br>
						<p>&diams; If any type of mishap occurs in the premises of Harvin Academy and is a situation
								beyond control or any natural calamity of any type such as earthquake, floods, fire,
								electric short circuit, etc occurs, the academy shall not be responsible in any manner
								whatsoever.</p><br>
						<p>&diams; Harvin Academy reserves its right to make any alteration in its programs/venue/timing
								and days of classes without any prior notice to anybody. The decisions of the Director
								will be final and binding for the students and the parents. Academy will be do its best to
								provide information early enough so that student can make adjustments to their
								schedule accordingly.</p><br>
						<p>&diams; Registration fee is refundable if the student is not interested to continue with the
								classes after 2 weeks of classes. Students should have attended all classes in these two
								weeks. Else fees will not be refunded. Any other fee, once deposited is not refundable.</p><br>
						<p>&diams; In case student has deposited lump sum fee for the entire year and decided to leave
								during a particular term, the fee for that term will not be refunded. The fee for
								subsequent terms will be refunded.</p><br>
					</div>
				</div>
			</div>
		</div>
	</main>

	<%include partials/website_footer.ejs%>


		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="../js/materialize.js"></script>
		<script src="../js/init.js"></script>
