<% include partials/header.ejs%>


<div class="container">
    <h1> Select appropriate option </h1>
    <div class="row">
        <div class="col-sm-4">
            <h2>Subject</h2> <br>
            <select class="selectpicker" id="subject">
            <option>Mustard</option>
            <option>Ketchup</option>
            <option>Relish</option>
            </select>   
                
        </div>
        <div class="col-sm-4">
            <h2>Chapter</h2><br>
            <select class="selectpicker" id="chapter">
            <option>Mustard</option>
            <option>Ketchup</option>
            <option>Relish</option>
            </select>    
                
        </div>
        <div class="col-sm-4">
            <h2>Topic</h2> <br>
            <select class="selectpicker" id="topic">
            <option>Mustard</option>
            <option>Ketchup</option>
            <option>Relish</option>
            </select>  
        </div>    
    </div>
    <br>
    <br>
    <h2>Not listed?</h2>
    <div class="row">
        <div class="col-sm-4">
            <div class="newSubjectInput form-group form-group-options">
                <div class="input-group input-group-option col-sm-8">
                    <input type="text" name="option[]" class="form-control" placeholder="Add new">
                    <span class="input-group-addon input-group-addon-remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </span>
                </div>
            </div>
        </div>
        
    </div>
</div>

<% include partials/footer.ejs%>
