<% include partials/header.ejs%>


<div class="container">
    <h1> Select appropriate option </h1>
    <div class="row">
      <div class="col-lg-6">
        <h2>Select Sample #1</h2>
        <select class="selectpicker" id="select1">
          <option>Mustard</option>
          <option>Ketchup</option>
          <option>Relish</option>
        </select>    
      </div>
      <div class="col-lg-6">
        <h2>Select Sample #2</h2>
        <select class="selectpicker" id="select2">
          <option>Banana</option>
          <option>Peach</option>
          <option>Orange</option>
        </select>    
      </div>
    </div>
      
    </div>
</div>

<% include partials/footer.ejs%>
