<% include partials/header.ejs%>


<div class="container">
    <h1><b> Choose </b></h1>
    <form id="uploadForm" enctype="multipart/form-data" method="post" action="/admin/uploadFile">
        <div class="row">
            <div class="col-sm-3">
                <h2>Class</h2> <br>
                
                <select autofocus required  name="className" class="selectpicker" id="class" >
                    <option selected value="" disabled>Class</option>
                    <%classes.forEach(function(class){%>
                        <option value="<%=class.className%>">"Class "+<%=class.className%></option>
                    <%})%>
                    
                    
                </select>
            </div>
            <div class="col-sm-3">
                <h2>Subject</h2> <br>

                <select autofocus required  name="subjectName" class="selectpicker" id="subject" >
                    <option selected value="" disabled>Subject</option>
                    <%subjects.forEach(function(subject){%>
                        <option value="<%=subject.subjectName%>"><%=subject.subjectName%></option>
                    <%})%>
                    
                    
                </select>   
                    
            </div>
            <div class="col-sm-3">
                <h2>Chapter</h2><br>
                <select required  name="chapterName"  class="selectpicker" id="chapter" >
                    <option selected value="" disabled>Chapter</option>
                    
                </select>    
                    
            </div>
            <div class="col-sm-3">
                <h2>Topic</h2> <br>
                <select required  name="topicName"  class="selectpicker" id="topic" >
                    <option selected value="" disabled>Topic</option>
                    
                    
                </select>  
            </div> 
            <br>
            <br>
            
            <input type="file" name="userFile" class="btn btn-default btn-file" required/><br>
			<input type="submit" value="Upload File" name="submit" class="btn btn-primary">   
        </div>
    </form>
</div>

<% include partials/footer.ejs%>
