<% include partials/header.ejs%>
	<div class="container">
		<form id="uploadForm" enctype="multipart/form-data" method="post" action="/admin/uploadFile">
			<h3>Subjects</h3>
			<div class="row">
				<div class="col-xs-4">
					<label>
						<input type="radio" name="subjectName" id="subject1" value="subject1" required>
						subject1
					</label>
				</div>
				<div class="col-xs-4">
					<label>
						<input type="radio" name="subjectName" id="subject2" value="subject2" required>
						subject2
					</label>
				</div>
				<div class="col-xs-4">
					<label>
						<input type="radio" name="subjectName" id="subject3" value="subject3" required>
						subject3
					</label>
				</div>
			</div>
			<br>
			<br>
			<h3>Chapters</h3>
			<div class="row">
				<div class="col-xs-4">
					<div class="radio">
						<label>
							<input type="radio" name="chapterName" id="subject1chapter1" value="subject1chapter1" required>
							subject1chapter1
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="chapterName" id="subject1chapter2" value="subject1chapter2" required>
							subject1chapter2
						</label2>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="chapterName" id="subject1chapter3" value="subject1chapter3" required>
							subject1chapter3
						</label>
					</div>
					
				</div>
				<div class="col-xs-4">
					<div class="radio">
						<label>
							<input type="radio" name="chapterName" id="subject2chapter1" value="subject1chapter1" required>
							subject2chapter1
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="chapterName" id="subject2chapter2" value="subject2chapter2" required>
							subject2chapter2
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="chapterName" id="subject2chapter3" value="subject2chapter3" required>
							subject2chapter3
						</label>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="radio">
						<label>
							<input type="radio" name="chapterName" id="subject3chapter1" value="subject3chapter1" required>
							subject3chapter1
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="chapterName" id="subject3chapter2" value="subject3chapter2" required>
							subject3chapter2
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="chapterName" id="subject3chapter3" value="subject3chapter3" required>
							subject3chapter3
						</label>
					</div>
				</div>
			</div>
					
			<br>
			<br>
			<h3>Topics</h3>
			<div class="row">
				<div class="col-xs-4">
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject1chapter1topic1" value="subject1chapter1topic1" required>
							subject1chapter1topic1
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject1chapter1topic2" value="subject1chapter1topic2" required>
							subject1chapter1topic2						
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject1chapter1topic3" value="subject1chapter1topic3" required>
							subject1chapter1topic3
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject1chapter2topic1" value="subject1chapter2topic1" required>
							subject1chapter2topic1
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject1chapter2topic2" value="subject1chapter2topic2" required>
							subject1chapter2topic2
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject1chapter2topic3" value="subject1chapter2topic3" required>
							subject1chapter2topic3
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject1chapter3topic1" value="subject1chapter3topic1" required>
							subject1chapter3topic1
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject1chapter3topic2" value="subject1chapter3topic2" required>
							subject1chapter3topic2
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject1chapter3topic3" value="subject1chapter3topic3" required>
							subject1chapter3topic3
						</label>
					</div>
					
					
				</div>
				<div class="col-xs-4">
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject2chapter1topic1" value="subject2chapter1topic1" required>
							subject2chapter1topic1
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject2chapter1topic2" value="subject2chapter1topic2" required>
							subject2chapter1topic2
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject2chapter1topic3" value="subject2chapter1topic3" required>
							subject2chapter1topic3
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject2chapter2topic1" value="subject2chapter2topic1" required>
							subject2chapter2topic1
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject2chapter2topic2" value="subject2chapter2topic2" required>
							subject2chapter2topic2
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject2chapter2topic3" value="subject2chapter2topic3" required>
							subject2chapter2topic3
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject2chapter3topic1" value="subject2chapter3topic1" required>
							subject2chapter3topic1
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject2chapter3topic2" value="subject2chapter3topic2" required>
							subject2chapter3topic2
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject2chapter3topic3" value="subject2chapter3topic3" required>
							subject2chapter3topic3
						</label>
					</div>
					
				</div>
				<div class="col-xs-4">
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject3chapter1topic1" value="subject3chapter1topic1" required>
							subject3chapter1topic1						
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject3chapter1topic2" value="subject3chapter1topic2" required>
							subject3chapter1topic2
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject3chapter1topic3" value="subject3chapter1topic3" required>
							subject3chapter1topic3
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject3chapter2topic1" value="subject3chapter2topic1" required>
							subject3chapter2topic1
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject3chapter2topic2" value="subject3chapter2topic2" required>
							subject3chapter2topic2
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject3chapter2topic3" value="subject3chapter2topic3" required>
							subject3chapter2topic3
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject3chapter3topic1" value="subject3chapter3topic1" required>
							subject3chapter3topic1
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject3chapter3topic2" value="subject3chapter3topic2" required>
							subject3chapter3topic2
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="topicName" id="subject3chapter3topic3" value="subject3chapter3topic3" required>
							subject3chapter3topic3
						</label>
					</div>
					
				</div>
			</div>
			
			<input type="file" name="userFile" class="btn" required/><br>
			<input type="submit" value="Upload File" name="submit" class="btn btn-primary">
		</form>
	</div>
<% include partials/footer.ejs%>