<% include partials/header.ejs%>

  <main>
    <div class="container">
      <div class="center-align">
        <h3> Upload a new File </h1>
        </div>
          <hr>
        <form id="uploadForm" enctype="multipart/form-data" method="post" action="/admin/files/uploadFile">
          <div class="row">
            <div class="col s3">
              <div class="input-field ">
                <input name="className" required type="text" id="className" autocomplete="off" class="autocomplete validate">
                <label for="className">Class Name</label>
              </div>


            </div>

            <div class="col s3">
              <div class="input-field ">
                <input name="subjectName" required type="text" id="subjectName" autocomplete="off" class="autocomplete validate">
                <label for="subjectName">Subject Name</label>
              </div>
            </div>

            <div class="col s3">
              <div class="input-field ">
                <input name="chapterName" required type="text" id="chapterName" autocomplete="off" class="autocomplete validate">
                <label for="chapterName">Chapter Name</label>
              </div>
            </div>

            <div class="col s3">
              <div class="input-field ">
                <input name="topicName" required type="text" id="topicName" autocomplete="off" class="autocomplete validate">
                <label for="topicName">Topic Name</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col l6">
              <div class="file-field input-field">
                <div class="btn">
                  <span>File</span>
                  <input name="userFile" required type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </div>

            <div class="col l3 col m6 col s12">
              <div class="form-group">
                <textarea required id="chapterDescription" name="chapterDescription" class="materialize-textarea validate"></textarea>
                <label for="chapterDescription">Chapter Description</label>
              </div>

            </div>
            <div class="col l3 col m6 col s12">
              <div class="form-group">
                <textarea required id="topicDescription" name="topicDescription" class="materialize-textarea validate"></textarea>
                <label for="topicDescription">Topic Description</label>
              </div>

            </div>
          </div>
          <div class="center-align">
            <input type="submit" name="submit" class="btn" />
          </div>
        </form>
      </div>
    </main>
  <script src="/js/uploadFile.js" charset="utf-8"></script>
    <% include partials/footer.ejs%>
