<% include partials/header.ejs%>
<% include partials/includeBS.ejs%>


<div class="container">
    <h1><b> Upload a new File </b></h1>
    <form id="uploadForm" enctype="multipart/form-data" method="post" action="/files/uploadFile">
        <div class="row">
            <div class="col s3">
                <h2>Class</h2> <br>

                <select required  name="className" class="selectpicker show-tick addbtn" id="classs" >
                    <option selected value="" disabled>Class</option>
                     <%classes.forEach(function(classs){%>
                     <option value="<%=classs.className%>"><%=classs.className%></option>
                     <%})%>
                </select>
            </div>

            <div class="col s3">
                <h2>Subject</h2> <br>
                <select data-live-search="true" title="Choose the Subject" required  name="subjectName" class="selectpicker show-tick addbtn" id="subject" >
                </select>
            </div>

            <div class="col s3">
                <h2>Chapter</h2><br>
                <select data-live-search="true" title="Choose the Chapter" required  name="chapterName"  class="selectpicker show-tick addbtn" id="chapter" >
                </select>
            </div>

            <div class="col s3">
                <h2>Topic</h2> <br>
                <select data-live-search="true" title="Choose the Topic" required  name="topicName"  class="selectpicker show-tick addbtn" id="topic" >
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col l6"></div>
            <div class="col l3 col m6 col s12">
                <div class="form-group">
                    <label for="chapterDescription">Chapter Description</label>
                    <textarea
                        name="chapterDescription"
                        id="chapterDescription"
                        rows="5"
                        title="Chapter Description"
                        placeholder="Give chapter description here"
                        class="form-control"></textarea>
                </div>

            </div>
            <div class="col l3 col m6 col s12">
                <div class="form-group">
                    <label for="topicDescription">Topic Description</label>
                    <textarea
                        name="topicDescription"
                        id="topicDescription"
                        rows="5"
                        title="Topic Description"
                        placeholder="Give topic description here"
                        class="form-control"></textarea>
                </div>

            </div>
        </div>

        <input type="file" name="userFile" class="btn btn-default btn-file" required/>
        <input type="submit" value="Upload File" name="submit" class="btn submit"/>
    </form>
</div>

<% include partials/footer.ejs%>
