<%include partials/website_header.ejs%>
  <link href="../dist/css/css_materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../dist/css/css_style.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="../dist/css/css_materialize-social.css" type="text/css" rel="stylesheet"></link>

  <main>
    <div class="container">
      <h5 class="center-align">All Videos</h5>
      <hr>
      <br>
      <%if(videos){%>
        <div class="row">
          <%videos.forEach((item,i)=>{%>
            <div class="col s12 ">
                <%-item.url%>
              </div>
            </div>
            <%})%>
        </div>
        <%}%>

    </div>

  </main>

  <%include partials/website_footer.ejs%>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../js/materialize.js"></script>
    <script src="js/init.js"></script>
