<%include  partials/website_header.ejs%>
	<link href="../css/vmsLanding.css" type="text/css" rel="stylesheet"/>


	<main>


		<div class="section z-depth-4" style="padding:0px;" id="main-landing-section">

			<div class="container float-btn landing-container">
				<div class="container btn-text-container">
					<div class="row welcome-row">

						<div class="row harvinLogoImg">
							<div class="svg-content">
								<div class="svg-img">

									<object type="image/svg+xml" class="svg-image" data="../../images/wel_ha-01.svg">Your browser does not support SVGs</object>

								</div>
							</div>
						</div>

					</div>
					<div class="row center" style="margin-bottom:0;margin-top:150px;">
						<div id="explore" class="visitor-button col s12 white-h3">Explore</div>
						<div id="register" style="visibility: hidden" class="visitor-button  col s6 ">Register</div>
					</div>
					<div class="row center">
						<div class="col s12">
							<a onClick="scrollDown();" class="btn-floating btn-large waves-effect waves-light grey">
								<i class="material-icons">expand_more</i>
							</a>
						</div>
						<!-- <div class="col s6">

							<a  href="/vms/new" class="btn-floating waves-effect btn-large teal black-text darken-text-2 visitor-button">
								<i class="material-icons">receipt</i>
							</a>
						</div> -->
					</div>

				</div>
			</div>
			<!-- <div class="row">
				<div class="col l12 s12 m12" style="padding:0px;">
					<div class="wave2"></div>
				</div>
			</div>
			<div class="row">
				<div class="filler">
				</div>
			</div> -->
		</div>
		<!-- Harvin Academy Features -->
		<div class="section" id="features">

			<div class="container whyharvincontainer center">
				<br><br>
				<h3 class="center bold harvinThemeText">WHY HARVIN?</h3>
				<hr>
				<br><br><br>
				<br>
				<div class="row svg-row">
					<div class="col l2 offset-l2 s12 ">
						<div class="svg-content whyHarvinIcon " id="svg-content-feature">
							<div class="svg-img">

								<object type="image/svg+xml" class="svg-image" data="../../images/wh-01.svg">Your browser does not support SVGs</object>
<h5 class="no-padding no-margin">Highly qualified facultys</h5>
							</div>
						</div>
					</div>
					<div class="col l2 offset-l4 s12 ">
						<div class="svg-content whyHarvinIcon " id="svg-content-feature">
							<div class="svg-img">

								<object type="image/svg+xml" class="svg-image" data="../../images/wh-02.svg">Your browser does not support SVGs</object>

<h5 class="no-pad no-margin">Adequate library facility</h5>

							</div>
						</div>
					</div>
				</div>
				<div class="row svg-row">
					<div class="col l2 offset-l1 s12 ">
						<div class="svg-content whyHarvinIcon " id="svg-content-feature">
							<div class="svg-img">

								<object type="image/svg+xml" class="svg-image" data="../../images/wh-03.svg">Your browser does not support SVGs</object>
<h5 class="no-padding no-margin">Interactive activities</h5>
							</div>
						</div>
					</div>
					<div class="col l2 offset-l6 s12 ">
						<div class="svg-content whyHarvinIcon " id="svg-content-feature">
							<div class="svg-img">

								<object type="image/svg+xml" class="svg-image" data="../../images/wh-04.svg">Your browser does not support SVGs</object>
<h5 class="no-padding no-margin">Systematic &amp; planned teaching</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="row svg-row ">
					<div class="col l2 offset-l2 s12 center">
						<div class="svg-content whyHarvinIcon " id="svg-content-feature">
							<div class="svg-img">

								<object type="image/svg+xml" class="svg-image" data="../../images/wh-05.svg">Your browser does not support SVGs</object>
<h5 class="no-pad no-margin">Personal problem solving session</h5>
							</div>
						</div>
					</div>
					<div class="col l2 offset-l4 s12 ">
						<div class="svg-content whyHarvinIcon " id="svg-content-feature">
							<div class="svg-img">

								<object type="image/svg+xml" class="svg-image" data="../../images/wh-06.svg">Your browser does not support SVGs</object>
<h5 class="no-padding no-margin">Practical lab teaching</h5>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="tower">
							<img src="../../images/wh-07.svg" alt="">
						</div> -->

			</div>

		</div>
		<!-- Parallax -->
		<!-- <div class="parallax-container valign-wrapper">
			<div class="parallax ">
				<img src="/img/harvin-icon-01.png" alt="Unsplashed background img 3">
			</div>
		</div> -->
		<!-- Our Courses -->
		<div class="section">
			<div id="content">
				<div class="container">
					<div class="row">
						<br>
						<h3 class="center bold">OUR COURSES</h3>
					</div>
					<hr>
					<div class="row courses-row">
						<div class="col l4 s10 offset-s1 m4">
							<div class="course-content">
								<div class="svg-content courses-svg">
									<div class="svg-img" id="layer1">

										<object type="image/svg+xml" class="svg-image" data="../../images/young_buds4.svg">Your browser does not support SVGs</object>

									</div>

									<div class="svg-img" id="layer2">
										<object type="image/svg+xml" class="svg-image" data="../../images/young_buds2.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer3">
										<object type="image/svg+xml" class="svg-image" data="../../images/young_buds3.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer4">
										<object type="image/svg+xml" class="svg-image" data="../../images/young_buds1.svg">Your browser does not support SVGs</object>

									</div>



								</div>
								<div class="aboutCourse" onclick="location.href='/vms/courses#youngBuds';">
									<h4 class="">YOUNG BUDS</h4>

								</div>
							</div>
						</div>
						<div class="col l4 s10 offset-s1 m4">
							<div class="course-content">
								<div class="svg-content courses-svg">
									<div class="svg-img" id="layer1">

										<object type="image/svg+xml" class="svg-image" data="../../images/b4-02.svg">Your browser does not support SVGs</object>

									</div>

									<div class="svg-img" id="layer2">
										<object type="image/svg+xml" class="svg-image" data="../../images/b3-02.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer3">
										<object type="image/svg+xml" class="svg-image" data="../../images/b2-02.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer4">
										<object type="image/svg+xml" class="svg-image" data="../../images/b1-02.svg">Your browser does not support SVGs</object>

									</div>





								</div>
								<div class="aboutCourse" onclick="location.href='/vms/courses#blossom';">
									<h4 class="">BLOSSOM</h4>

								</div>
							</div>
						</div>
						<div class="col l4 s10 offset-s1 m4">
							<div class="course-content">
								<div class="svg-content courses-svg">
									<div class="svg-img" id="layer1">

										<object type="image/svg+xml" class="svg-image" data="../../images/p4-03.svg">Your browser does not support SVGs</object>

									</div>

									<div class="svg-img" id="layer2">
										<object type="image/svg+xml" class="svg-image" data="../../images/p3-03.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer3">
										<object type="image/svg+xml" class="svg-image" data="../../images/p2-03.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer4">
										<object type="image/svg+xml" class="svg-image" data="../../images/p1-03.svg">Your browser does not support SVGs</object>

									</div>




								</div>
								<div class="aboutCourse" onclick="location.href='/vms/courses#prodigy';">
									<h4 class="">PRODIGY</h4>

								</div>
							</div>
						</div>



					</div>
					<div class="row">
						<div class="col l4 s10 offset-s1 m4">
							<div class="course-content">
								<div class="svg-content courses-svg">
									<div class="svg-img" id="layer1">

										<object type="image/svg+xml" class="svg-image" data="../../images/w4-04.svg">Your browser does not support SVGs</object>

									</div>

									<div class="svg-img" id="layer2">
										<object type="image/svg+xml" class="svg-image" data="../../images/w3-04.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer3">
										<object type="image/svg+xml" class="svg-image" data="../../images/w2-04.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer4">
										<object type="image/svg+xml" class="svg-image" data="../../images/w1-04.svg">Your browser does not support SVGs</object>

									</div>




								</div>
								<div class="aboutCourse" onclick="location.href='/vms/courses#wizard';">
									<h4 class="">WIZARD</h4>

								</div>
							</div>
						</div>
						<div class="col l4 s10 offset-s1 m4">
							<div class="course-content">
								<div class="svg-content courses-svg">
									<div class="svg-img" id="layer1">

										<object type="image/svg+xml" class="svg-image" data="../../images/m4-05.svg">Your browser does not support SVGs</object>

									</div>

									<div class="svg-img" id="layer2">
										<object type="image/svg+xml" class="svg-image" data="../../images/m2-05.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer3">
										<object type="image/svg+xml" class="svg-image" data="../../images/m3-05.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer4">
										<object type="image/svg+xml" class="svg-image" data="../../images/m1-05.svg">Your browser does not support SVGs</object>

									</div>




								</div>
								<div class="aboutCourse" onclick="location.href='/vms/courses#masterMind';">
									<h4 class="">MASTER MIND</h4>

								</div>
							</div>
						</div>
						<div class="col l4 s10 offset-s1 m4">
							<div class="course-content">
								<div class="svg-content courses-svg">
									<div class="svg-img" id="layer1">

										<object type="image/svg+xml" class="svg-image" data="../../images/c4-06.svg">Your browser does not support SVGs</object>

									</div>

									<div class="svg-img" id="layer2">
										<object type="image/svg+xml" class="svg-image" data="../../images/c3-06.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer3">
										<object type="image/svg+xml" class="svg-image" data="../../images/c2-06.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer4">
										<object type="image/svg+xml" class="svg-image" data="../../images/c1-06.svg">Your browser does not support SVGs</object>

									</div>




								</div>
								<div class="aboutCourse" onclick="location.href='/vms/courses#crashCourse';">
									<h4 class="">CRASH COURSE</h4>

								</div>
							</div>
						</div>



					</div>

					<br>
				</div>
			</div>
		</div>
		<!-- Parallax -->
		<!-- <div class="parallax-container valign-wrapper">

			<div class="parallax ">
				<img src="/img/harvin-icon-01.png" alt="Unsplashed background img 3">
			</div>
		</div> -->


		<!-- Our Results -->
		<div class="section" id="content">
			<div id="content">
				<div class="container">

					<div class="row">
						<div class="col s12 center">
							<br>
							<h3 class="bold">OUR RESULTS</h3>
							<hr>
							<br>

							<% if (students){ %>
								<% students.forEach((student, i) =>{ %>
									<%if(i<12){%>
										<div class="col s4 l2 m">
											<img class="responsive-img z-depth-4 " id="result-image" src="<%=student.thumbPath%>">
											</img>
										</div>
										<%}%>
											<% }) %>
												<% } %>
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
		<!-- Parallax -->
		<!-- <div class="parallax-container valign-wrapper">

			<div class="parallax ">
				<img src="/img/harvin-icon-01.png" alt="Unsplashed background img 3">
			</div>
		</div> -->

		<!-- </div> -->
		<!-- Parallax -->
		<!-- <div class="parallax-container valign-wrapper ">
			<div class="parallax">
				<img src="/img/harvin-icon-01.png" alt="Unsplashed background img 3">
			</div>
		</div> -->
		<!--management -->

		<div class="section ">
			<div class="container">

				<div class="row center">
					<div class="col l12 ">
						<h4 class="bold">HARVIN MANAGEMENT</h4>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col l4 m6 s12">
						<div class="card ">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator activator-image" src="/images/ravi_m.jpg" >
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4">Dr. Ravi Malik <i class="material-icons right">more_vert</i></span>
								<span><a href="https://www.facebook.com/DrRaviMalik/"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
								<span><a href="https://twitter.com/drmalikravi"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
								<span><a href="https://www.linkedin.com/in/dr-ravi-malik-55334733/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Dr. Ravi Malik<i class="material-icons right">close</i></span>
								<p>Dr. Ravi Malik is the inspiration, mentor and guide behind the Harvin Academy. He believes that every child has an infinite inherent potential. Even an average child can achieve a tremendous result by opting out the most basic success principles
									such as regular study, effective use of time, understanding the fundamnetals rather than mugging up. Harvin Academy not only empowers students' academic abilities but also with other techniques which help them to crack the competitive exams.</p>
							</div>
						</div>
					</div>
					<div class="col l4 m6 s12">
						<div class="card ">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" src="/images/1J5A2894.JPG">
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4">Dr. N.K. Sharma<i class="material-icons right">more_vert</i></span>
								<span><a href="https://www.facebook.com/profile.php?id=100000039174476"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
								<span><a href="https://twitter.com/nks00781581"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
								<span><a href="https://www.linkedin.com/in/dr-n-k-sharma-a912b8124/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Dr. N.K. Sharma<i class="material-icons right">close</i></span>
								<p>A well-known zoology and botany expert all over the country, Dr. N.K. Sharma is the managing director of Harvin Academy. He believes that the most important aspect of education is passionate teaching and his forte is to explain the concept using
									visual aids. He has the deep understanding of student psychology and the pressures on them. Dr. N.K sharma helps students master the psychological doubts, pressures and mentors them for strategic planning.</p>
							</div>
						</div>
					</div>
					<div class="col l4 m6 s12">
						<div class="card ">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" src="/images/1J5A2894.JPG">
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4">Dr. Vipin Aggarwal <i class="material-icons right">more_vert</i></span>
								<span><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
								<span><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
								<span><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Dr. Vipin Aggarwal<i class="material-icons right">close</i></span>
								<p> A veteran chemistry academician with 27 years of teaching experience, Dr. Vipin aggarwal is the director at Harvin Academy who has served as a professor at almost every educational service. His vision is to make Harvin academy a generator of top
									rankers in engineering and medical entrance examinations. His meticulous and total quality management has established Harvin as the leading brand in Medical Entrance Coaching in India.</p>
							</div>
						</div>
					</div>
					<div class="col l4 m6 s12">
						<div class="card ">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" src="/images/1J5A2894.JPG">
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4">Dr. Ritesh Malik<i class="material-icons right">more_vert</i></span>
								<span><a href="https://www.facebook.com/drriteshmalik"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
								<span><a href="https://twitter.com/drriteshmalik"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
								<span><a href="https://www.linkedin.com/in/dr-ritesh-malik-877a87a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Dr. Ritesh Malik<i class="material-icons right">close</i></span>
								<p> Dr. Ritesh Malik is a young and dynamic serial entrepreneur who has passed his medical school from Govt. Theni Medical College and has attended courses at prestigious institutions like London school of Economics and Harvard University. He is the
									thinker and innovationist at Harvin Academy He believes that motivation and strategy are the most integral aspects of selection in any competitive exams. He stives to provide constant motivation and knowledge management strategies for his students
									at Harvin academy.</p>
							</div>
						</div>
					</div>
					<div class="col l4 m6 s12">
						<div class="card ">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator activator-image" src="/images/shruti_m.jpg">
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4">Dr. Shruti Malik<i class="material-icons right">more_vert</i></span>
								<span><a href="https://www.facebook.com/shruti08malik"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
								<span><a href="https://twitter.com/shruti08malik"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
								<span><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Dr. Shruti Malik<i class="material-icons right">close</i></span>
								<p> She is a passionate endodontist, who has completed her medical education from Lucknow. Dr. Shruti Malik believes in letting students have a personal touch with Hravin Academy. She considers that knowledge should be transmitted through visual aids
									which helps students to understand the subjects a far more better way and makes it more conceptual.</p>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</main>
	<%include partials/website_footer.ejs%>


		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="js/materialize.js"></script>
		<script src="js/init.js"></script>
		<script src="js/vmsLanding.js"></script>
		<!-- <script src="js/pong.js"></script> -->
