<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


<!-- CSS  -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
<link href="css/vmsLanding.css" type="text/css" rel="stylesheet" />
</div>

<div class="container float-btn landing-container">
	<div class="container btn-text-container">
	<div class="row">
	<div id="explore" class="visitor-button col s4 offset-s1 ">Explore</div>
	<div id="register" class="visitor-button  col s4 offset-s2">Register</div>
</div>
<div class="row">
	<div class="col s4 offset-s1">
	<a onClick="scrollDown();" class="btn-floating btn-large waves-effect waves-light grey">
		<i class="material-icons">expand_more</i>
	</a>
	</div>
	<div class="col s4 offset-s2">
	<a href="/vms/new" class="btn-floating waves-effect btn-large teal black-text darken-text-2 visitor-button">
		<i class="material-icons">receipt</i></a>
	</a>
	</div>
	</div>
</div>
</div>

<div id="carousel1" class="carousel carousel-slider center" data-indicators="true">
	<div class="carousel-fixed-item center">

	</div>
	<a class="carousel-item" href="#one!">
		<img class="img-responsive"src="cover.jpg">
	</a>
	<a class="carousel-item" href="#two!">
		<img src="cover.jpg">
	</a>
	<a class="carousel-item" href="#three!">
		<img src="cover.jpg">
	</a>
	<a class="carousel-item" href="#four!">
		<img src="cover.jpg">
	</a>
</div>


<div class="container">
	<div class="section">

		<div class="row">
			<div class="col s12 center">
				<h3>
					<i class="mdi-content-send brown-text"></i>
				</h3>
				<h4>About Us</h4>
				<p class="left-align light">Harvin Academy is a sincere effort by acclaimed academicians and professionals to ease your pursuit of success by providing you Total Quality Management for your budding career plans. The academy will not only empower you with academic abilities but
					also empower with other techniques which helps you to crack the NEET, AIIMS or IIT. We ensure to groom with utmost tenderness and we will be privileged to bring the best out of you and to be your partners in success.</p>
				<br>
				<p>Come and Feel the Difference.</p>
			</div>
		</div>

	</div>
</div>


<div class="parallax-container valign-wrapper">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">

			</div>
		</div>
	</div>
	<div class="parallax">
		<img src="/img/harvin-icon-01.png" alt="Unsplashed background img 3">
	</div>
</div>


<footer class="page-footer teal">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Company Bio</h5>
				<p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Settings</h5>
				<ul>
					<li>
						<a class="white-text" href="#!">Link 1</a>
					</li>
					<li>
						<a class="white-text" href="#!">Link 2</a>
					</li>
					<li>
						<a class="white-text" href="#!">Link 3</a>
					</li>
					<li>
						<a class="white-text" href="#!">Link 4</a>
					</li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Connect</h5>
				<ul>
					<li>
						<a class="white-text" href="#!">Link 1</a>
					</li>
					<li>
						<a class="white-text" href="#!">Link 2</a>
					</li>
					<li>
						<a class="white-text" href="#!">Link 3</a>
					</li>
					<li>
						<a class="white-text" href="#!">Link 4</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright" id="foid">
		<div class="container">
			Made by
			<a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
		</div>
	</div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
<!-- <script src="js/pong.js"></script> -->
