<%include  partials/website_header.ejs%>
	<link href="../css/vmsLanding.css" type="text/css" rel="stylesheet" />


	<main>


		<div class="section" style="padding:0px;" id="main-landing-section">
			<div class="center-align logoTextContainer">
				<div class="row">
					<br>
					<h4 class="white-text logoText welcome">
						<b>WELCOME TO</b>
					</h4>
				</div>
				<div class="row harvinLogoImg">
					<div class="svg-content">
						<div class="svg-img" >

							<object type="image/svg+xml" class="svg-image" data="../../images/h_typo-01.svg">Your browser does not support SVGs</object>

						</div>
					</div>
				</div>
				<div class="row">
					<h4 class="white-text logoText ">
						<b>ACADEMY</b>
					</h4>
				</div>
			</div>
			<div class="container float-btn landing-container">
				<div class="container btn-text-container">
					<div class="row center">
						<!-- <div id="explore" class="visitor-button col s12 ">Explore</div> -->
						<div id="register" style="visibility: hidden" class="visitor-button  col s6 ">Register</div>
					</div>
					<div class="row center">
						<div class="col s12">
							<a onClick="scrollDown();" class="btn-floating btn-large waves-effect waves-light grey">
								<i class="material-icons">expand_more</i>
							</a>
						</div>
						<div class="col s6">

							<a style="visibility: hidden" href="/vms/new" class="btn-floating waves-effect btn-large teal black-text darken-text-2 visitor-button">
								<i class="material-icons">receipt</i>
							</a>
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<!-- <div class="col l12 s12 m12" style="padding:0px;">
					<div class="wave2"></div>
				</div> -->
			</div>
			<div class="row">
				<div class="filler">
				</div>
			</div>
		</div>
		<!-- Harvin Academy Features -->
		<div class="section" id="content-parent harvinFeature">
			<div id="content">

				<div>
					<br>
					<h2 class="center-align">Harvin Academy Features</h2>
					<div class="container">
						<hr>
					</div>
					<div class="whyHarvinContainer">
						<div class="row whyHarvinRow">
							<div class="col s2 offset-s2">
								<div class="svg-content">
									<div class="svg-img" >

										<object type="image/svg+xml" class="svg-image" data="../../images/wh-01.svg">Your browser does not support SVGs</object>

									</div>
								</div>
							</div>
							<div class="col s2 offset-s4">
								<div class="svg-content">
									<div class="svg-img" >

										<object type="image/svg+xml" class="svg-image" data="../../images/wh-02.svg">Your browser does not support SVGs</object>

									</div>
								</div>
							</div>
						</div>
						<div class="row whyHarvinRow">
								<div class="col s2 offset-s1">
									<div class="svg-content">
										<div class="svg-img" >
	
											<object type="image/svg+xml" class="svg-image" data="../../images/wh-03.svg">Your browser does not support SVGs</object>
	
										</div>
									</div>
								</div>
								<div class="col s2 offset-s6">
									<div class="svg-content">
										<div class="svg-img" >
	
											<object type="image/svg+xml" class="svg-image" data="../../images/wh-04.svg">Your browser does not support SVGs</object>
	
										</div>
									</div>
								</div>
							</div>
							<div class="row whyHarvinRow">
									<div class="col s2 offset-s2">
										<div class="svg-content">
											<div class="svg-img" >
		
												<object type="image/svg+xml" class="svg-image" data="../../images/wh-05.svg">Your browser does not support SVGs</object>
		
											</div>
										</div>
									</div>
									<div class="col s2 offset-s4">
										<div class="svg-content">
											<div class="svg-img" >
		
												<object type="image/svg+xml" class="svg-image" data="../../images/wh-06.svg">Your browser does not support SVGs</object>
		
											</div>
										</div>
									</div>
								</div>
					</div>
				</div>


			</div>
		</div>
		<!-- Parallax -->
		<!-- <div class="parallax-container valign-wrapper">
			<div class="parallax ">
				<img src="/img/harvin-icon-01.png" alt="Unsplashed background img 3">
			</div>
		</div> -->
		<!-- Our Results -->
		<div class="section" id="content-parent">
			<div id="content">
				<div class="container">

					<div class="row">
						<div class="col s12 center">
							<br>
							<h3 class="white-h3">Our Results</h3>
							<hr>
							<br>

							<% if (students){ %>
								<% students.forEach((student, i) =>{ %>
									<%if(i<12){%>
										<div class="col s4 l2 m">
											<img class="responsive-img circle border-2" id="result-image" src="<%=student.src%>">
											<p class="flow-text student-result">
												<%=student.description%>
											</p>


											</img>
										</div>
										<%}%>
											<% }) %>
												<% } %>
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
		<!-- Parallax -->
		<!-- <div class="parallax-container valign-wrapper">

			<div class="parallax ">
				<img src="/img/harvin-icon-01.png" alt="Unsplashed background img 3">
			</div>
		</div> -->
		<!-- Our Courses -->
		<div class="section" id="content-parent">
			<div id="content">
				<div class="container">
					<div class="row">
						<br>
						<h3 class="center heading-white">Our Courses</h3>
					</div>
					<hr>
					<div class="row">
						<div class="col l4 s10 offset-s1 m4">
							<div class="course-content">
								<div class="svg-content">
									<div class="svg-img" id="layer1">

										<object type="image/svg+xml" class="svg-image" data="../../images/young_buds4.svg">Your browser does not support SVGs</object>

									</div>

									<div class="svg-img" id="layer2">
										<object type="image/svg+xml" class="svg-image" data="../../images/young_buds2.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer3">
										<object type="image/svg+xml" class="svg-image" data="../../images/young_buds3.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer4">
										<object type="image/svg+xml" class="svg-image" data="../../images/young_buds1.svg">Your browser does not support SVGs</object>

									</div>




								</div>
							</div>
						</div>
						<div class="col l4 s10 offset-s1 m4">
							<div class="course-content">
								<div class="svg-content">
									<div class="svg-img" id="layer1">

										<object type="image/svg+xml" class="svg-image" data="../../images/b4-02.svg">Your browser does not support SVGs</object>

									</div>

									<div class="svg-img" id="layer2">
										<object type="image/svg+xml" class="svg-image" data="../../images/b3-02.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer3">
										<object type="image/svg+xml" class="svg-image" data="../../images/b2-02.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer4">
										<object type="image/svg+xml" class="svg-image" data="../../images/b1-02.svg">Your browser does not support SVGs</object>

									</div>




								</div>
							</div>
						</div>
						<div class="col l4 s10 offset-s1 m4">
							<div class="course-content">
								<div class="svg-content">
									<div class="svg-img" id="layer1">

										<object type="image/svg+xml" class="svg-image" data="../../images/p4-03.svg">Your browser does not support SVGs</object>

									</div>

									<div class="svg-img" id="layer2">
										<object type="image/svg+xml" class="svg-image" data="../../images/p3-03.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer3">
										<object type="image/svg+xml" class="svg-image" data="../../images/p2-03.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer4">
										<object type="image/svg+xml" class="svg-image" data="../../images/p1-03.svg">Your browser does not support SVGs</object>

									</div>




								</div>
							</div>
						</div>



					</div>
					<div class="row">
						<div class="col l4 s10 offset-s1 m4">
							<div class="course-content">
								<div class="svg-content">
									<div class="svg-img" id="layer1">

										<object type="image/svg+xml" class="svg-image" data="../../images/w4-04.svg">Your browser does not support SVGs</object>

									</div>

									<div class="svg-img" id="layer2">
										<object type="image/svg+xml" class="svg-image" data="../../images/w3-04.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer3">
										<object type="image/svg+xml" class="svg-image" data="../../images/w2-04.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer4">
										<object type="image/svg+xml" class="svg-image" data="../../images/w1-04.svg">Your browser does not support SVGs</object>

									</div>




								</div>
							</div>
						</div>
						<div class="col l4 s10 offset-s1 m4">
							<div class="course-content">
								<div class="svg-content">
									<div class="svg-img" id="layer1">

										<object type="image/svg+xml" class="svg-image" data="../../images/m4-05.svg">Your browser does not support SVGs</object>

									</div>

									<div class="svg-img" id="layer2">
										<object type="image/svg+xml" class="svg-image" data="../../images/m2-05.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer3">
										<object type="image/svg+xml" class="svg-image" data="../../images/m3-05.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer4">
										<object type="image/svg+xml" class="svg-image" data="../../images/m1-05.svg">Your browser does not support SVGs</object>

									</div>




								</div>
							</div>
						</div>
						<div class="col l4 s10 offset-s1 m4">
							<div class="course-content">
								<div class="svg-content">
									<div class="svg-img" id="layer1">

										<object type="image/svg+xml" class="svg-image" data="../../images/c4-06.svg">Your browser does not support SVGs</object>

									</div>

									<div class="svg-img" id="layer2">
										<object type="image/svg+xml" class="svg-image" data="../../images/c3-06.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer3">
										<object type="image/svg+xml" class="svg-image" data="../../images/c2-06.svg">Your browser does not support SVGs</object>


									</div>

									<div class="svg-img" id="layer4">
										<object type="image/svg+xml" class="svg-image" data="../../images/c1-06.svg">Your browser does not support SVGs</object>

									</div>




								</div>
							</div>
						</div>



					</div>

					<br>
				</div>
			</div>
		</div>

		<!-- Parallax -->
		<!-- <div class="parallax-container valign-wrapper">

			<div class="parallax ">
				<img src="/img/harvin-icon-01.png" alt="Unsplashed background img 3">
			</div>
		</div> -->
		<!-- Advisory Board -->
		<div class="section" id="content-parent">
			<div class="" id="content">
				<div class="container center ">
					<br>
					<h3 class="white-h3">Harvin Academy Advisory Board</h3>
					<hr>
					<br>
					<div class="row" style="margin-bottom:0;">
						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board1.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Vinay Aggarwal</b> Member, Medical Council of India </p>
									</div>
								</div>
							</div>
						</div>
						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board2.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. V.K. Monga </b> MBBS MAMC Former Counselor</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board3.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Kanwar Sain </b>MBBS MAMC Ex. Mayor Delhi</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board4.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Anil Arora </b> Ass.Director Max Super Speciality Hospital
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board5.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Yogesh Aggarwal </b>MBBS, MS Sr. Laparoscopic Surgeon</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board6.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Ajay Jain MBBS </b> MS President IMA-EDB</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board7.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Harish Gupta </b>MBBS, MS MAMC Member, DMC</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board8.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Renu Malik MBBS</b> MD Obstetrics & Gynaecology CMD, Radix Healthcare</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board9.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Praveen Bhanot </b>MBBS Ex. President IMA-EDB</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board10.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Roopam Arora </b> MBBS, MD Sr. Gynaecologist Radix Healthcare</p>
									</div>
								</div>
							</div>
						</div>


						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board11.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Vikas Bhardwaj </b>MBBS,MS,DNB(Ortho) MAMCSr. Consultant, Radix Healthcare
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col l3 m3 s6">
							<div class="card advisory-card">
								<div class="card-image">
									<img src="../../images/advisory_board12.jpg">
								</div>
								<div class="card-stacked">
									<div class="card-content">
										<p>
											<b>Dr. Reema Dahiya </b>MBBS, MD(Pathology) MAMC Sr. consultant, Radix Healthcare</p>
									</div>
								</div>
							</div>
							<br>
							<br>
						</div>

					</div>
				</div>
			</div>
			<!-- </div> -->
			<!-- Parallax -->
			<!-- <div class="parallax-container valign-wrapper ">
			<div class="parallax">
				<img src="/img/harvin-icon-01.png" alt="Unsplashed background img 3">
			</div>
		</div> -->
	</main>
	<%include partials/website_footer.ejs%>


		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="js/materialize.js"></script>
		<script src="js/init.js"></script>
		<script src="js/vmsLanding.js"></script>
		<!-- <script src="js/pong.js"></script> -->
