<div class="container">
	<h1 >VMS LANDING PAGE</h1>
	<a href="/vms/new" class="button" > New Visitor</a>
</div>
<style>
	.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
</style>